<mat-card-header class="custom-card-header">
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <a [routerLink]="['/company-configuration']">
          <mat-icon>keyboard_backspace</mat-icon>
        </a>
      </div>
      <div>
        <p class="matHeaderName">
          {{ companyId ? "Edit Company" : "Add Company" }}
        </p>
      </div>
    </div>
  </div>
</mat-card-header>
<mat-divider></mat-divider>
<form [formGroup]="addEditCompanyForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-content>
      <div fxLayout="row wrap">
        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Company Name</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>Company Name</mat-label>
            <input
              matInput
              placeholder="Company Name"
              formControlName="CompanyName"
            />
          </mat-form-field>
        </div>

        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Location Name</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>Location Name</mat-label>
            <input
              matInput
              placeholder="Location Name"
              formControlName="Location"
            />
          </mat-form-field>
        </div>
        <!-- 
        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Company Name</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>Company Name</mat-label>
            <input matInput placeholder="Company Name" />
          </mat-form-field>
        </div> -->
      </div>
      <!-- 
      <div fxLayout="row wrap">
        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Company Name</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>Company Name</mat-label>
            <input matInput placeholder="Company Name" />
          </mat-form-field>
        </div>

        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Company Name</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>Company Name</mat-label>
            <input matInput placeholder="Company Name" />
          </mat-form-field>
        </div>

        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Company Name</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>Company Name</mat-label>
            <input matInput placeholder="Company Name" />
          </mat-form-field>
        </div>
      </div> -->
    </mat-card-content>
  </mat-card>
  <mat-card-actions class="footer-actions">
    <button mat-raised-button class="matbutton" (click)="onReset()">
      <p class="matName">Reset</p>
    </button>
    <button mat-raised-button class="matbutton" type="submit">
      <p class="matName">
        {{ companyId ? "Update" : "Add" }}
      </p>
    </button>
  </mat-card-actions>
</form>
