<form class="login-form" #form="ngForm" (ngSubmit)="onClickSignIn(form)">
  <mat-card class="matCard">
    <div class="grid-container">
      <div class="logo-wrapper">
        <img
          src="../../../../assets/images/sslogoglobal.png"
          alt="logo"
          class="logo"
        />
      </div>
      <!-- <div>
        <P>Placements</P>
      </div> -->
      <div class="image-section">
        <img
          src="../../../../assets/images/removed background17-Campus-Recruitment-Guide-images (1)_processed.png"
          alt="Login Illustration"
          class="login-image"
        />
        <mat-card-title class="title">PLACEMENTS</mat-card-title>
      </div>

      <div class="form-section">
        <mat-card-title class="card-title">LOGIN</mat-card-title>
        <mat-card-content class="matCardContent">
          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>
          <!-- <mat-radio-group
            aria-label="Select an option"
            [(ngModel)]="UserType"
            name="userType"
          >
            <mat-radio-button value="1">Campus</mat-radio-button>
            <mat-radio-button value="2">Company</mat-radio-button>
            <mat-radio-button value="3">Student</mat-radio-button>
          </mat-radio-group> -->

          <p>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Username/Email</mat-label>
              <input
                id="emailInput"
                matInput
                placeholder="Username/Email"
                [(ngModel)]="UserName"
                autocomplete="email"
                type="email"
                name="username"
                #usernameModel="ngModel"
                required
              />
              <mat-icon matSuffix>account_circle</mat-icon>
              <mat-error *ngIf="usernameModel.invalid && usernameModel.touched">
                <span *ngIf="usernameModel.errors?.['required']"
                  >Username is <strong>required</strong></span
                >
                <span *ngIf="usernameModel.errors?.['email']"
                  >Please enter a valid email</span
                >
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Password</mat-label>
              <input
                id="passwordInput"
                matInput
                placeholder="Password"
                [type]="isPasswordVisible ? 'text' : 'password'"
                [(ngModel)]="Password"
                autocomplete="current-password"
                name="password"
                #passwordModel="ngModel"
                required
              />
              <mat-icon
                matSuffix
                (click)="togglePasswordVisibility()"
                style="cursor: pointer"
                >{{
                  isPasswordVisible ? "visibility" : "visibility_off"
                }}</mat-icon
              >
              <mat-error *ngIf="passwordModel.invalid && passwordModel.touched">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </p>
        </mat-card-content>

        <mat-card-actions class="login-actions">
          <button
            mat-raised-button
            class="matbutton"
            color="primary"
            type="submit"
          >
            Sign In
          </button>
          <a class="matbutton">Forgot Password?</a>
        </mat-card-actions>
        <div class="anchorTags">
          <div [routerLink]="['/company-registration']">
            <a>Company Registration?</a>
          </div>
          <div [routerLink]="['/campus-registration']">
            <a>Campus Registration?</a>
          </div>
          <div [routerLink]="['/student-registration']">
            <a>Student Registration?</a>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</form>
