<form class="login-form" #form="ngForm" (ngSubmit)="onClickSignIn(form)">
  <mat-card class="matCard">
    <div class="grid-container">
      <div class="logo-wrapper">
        <img
          src="../../../../assets/images/sslogoglobal.png"
          alt="logo"
          class="logo"
        />
      </div>
      <!-- <div>
        <P>Placements</P>
      </div> -->
      <div class="image-section">
        <img
          src="../../../../assets/images/removed background17-Campus-Recruitment-Guide-images (1)_processed.png"
          alt="Login Illustration"
          class="login-image"
        />
        <mat-card-title class="title">PLACEMENTS</mat-card-title>
      </div>

      <div class="form-section">
        <mat-card-title class="card-title">LOGIN</mat-card-title>
        <mat-card-content class="matCardContent">
          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>
          <!-- <mat-radio-group
            aria-label="Select an option"
            [(ngModel)]="UserRoleId"
            name="UserRoleId"
          >
            <mat-radio-button value="1">Campus</mat-radio-button>
            <mat-radio-button value="2">Company</mat-radio-button>
            <mat-radio-button value="3">Student</mat-radio-button>
          </mat-radio-group> -->

          <p>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Username/Email</mat-label>
              <input
                id="emailInput"
                matInput
                placeholder="Username/Email"
                [(ngModel)]="UserName"
                autocomplete="email"
                type="email"
                name="username"
                #usernameModel="ngModel"
                required
              />
              <mat-icon matSuffix>account_circle</mat-icon>
              <mat-error *ngIf="usernameModel.invalid && usernameModel.touched">
                <span *ngIf="usernameModel.errors?.['required']"
                  >Username is <strong>required</strong></span
                >
                <span *ngIf="usernameModel.errors?.['email']"
                  >Please enter a valid email</span
                >
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Password</mat-label>
              <input
                id="passwordInput"
                matInput
                placeholder="Password"
                [type]="isPasswordVisible ? 'text' : 'password'"
                [(ngModel)]="Password"
                autocomplete="current-password"
                name="password"
                #passwordModel="ngModel"
                required
              />
              <mat-icon
                matSuffix
                (click)="togglePasswordVisibility()"
                style="cursor: pointer"
                >{{
                  isPasswordVisible ? "visibility" : "visibility_off"
                }}</mat-icon
              >
              <mat-error *ngIf="passwordModel.invalid && passwordModel.touched">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </p>
        </mat-card-content>

        <mat-card-actions class="login-actions">
          <button
            mat-raised-button
            class="matbutton"
            color="primary"
            type="submit"
          >
            Sign In
          </button>
          <a class="matbutton" (click)="onForgotPassword()">Forgot Password?</a>
          <div *ngIf="showEmailPopup" class="email-popup-overlay">
            <div class="email-popup">
              <h2>Forgot Password</h2>
              <p>Please enter your email to receive an OTP.</p>
              <form #emailForm="ngForm" (ngSubmit)="onSendOtp(emailForm)">
                <mat-form-field appearance="fill" class="full-width">
                  <mat-label>Email</mat-label>
                  <input
                    matInput
                    type="email"
                    name="email"
                    [(ngModel)]="studentEmail"
                    required
                    placeholder="Enter your email"
                  />
                  <mat-error *ngIf="emailForm.invalid && emailForm.touched">
                    Please enter a valid email address.
                  </mat-error>
                </mat-form-field>
                <div class="button-container">
                  <button
                    type="button"
                    (click)="closeEmailPopup()"
                    class="cancel-button"
                  >
                    Cancel
                  </button>
                  <button type="submit" class="send-button">Send OTP</button>
                </div>
              </form>
            </div>
          </div>
          <div *ngIf="showOtpPopup" class="otp-popup-overlay">
            <div class="otp-popup">
              <h2>Verify OTP</h2>
              <p>Please enter the OTP sent to your email.</p>
              <form #otpForm="ngForm" (ngSubmit)="onVerifyOtp(otpForm)">
                <input
                  type="text"
                  name="otp"
                  [(ngModel)]="enteredOtp"
                  required
                  placeholder="Enter OTP"
                />
                <div *ngIf="errorMessage" class="error-message">
                  {{ errorMessage }}
                </div>
                <div class="button-container">
                  <button
                    type="button"
                    (click)="closeOtpPopup()"
                    class="cancel-button"
                  >
                    Cancel
                  </button>
                  <button type="submit" class="verify-button">Verify</button>
                </div>
              </form>
            </div>
          </div>
          <!-- Password visibility toggle for new password and confirm new password -->
          <div *ngIf="showResetPasswordPopup" class="otp-popup-overlay">
            <div class="otp-popup">
              <h2>Reset Password</h2>
              <form #resetForm="ngForm" (ngSubmit)="resetPassword()">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Enter New Password</mat-label>
                  <input
                    matInput
                    [type]="isNewPasswordVisible ? 'text' : 'password'"
                    name="newPassword"
                    [(ngModel)]="newPassword"
                    required
                    placeholder="Enter New Password"
                  />
                  <mat-icon
                    matSuffix
                    (click)="toggleNewPasswordVisibility()"
                    style="cursor: pointer"
                  >
                    {{ isNewPasswordVisible ? "visibility" : "visibility_off" }}
                  </mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Confirm New Password</mat-label>
                  <input
                    matInput
                    [type]="isConfirmPasswordVisible ? 'text' : 'password'"
                    name="confirmNewPassword"
                    [(ngModel)]="confirmNewPassword"
                    required
                    placeholder="Confirm New Password"
                  />
                  <mat-icon
                    matSuffix
                    (click)="toggleConfirmPasswordVisibility()"
                    style="cursor: pointer"
                  >
                    {{
                      isConfirmPasswordVisible ? "visibility" : "visibility_off"
                    }}
                  </mat-icon>
                </mat-form-field>

                <div *ngIf="errorMessage" class="error-message">
                  {{ errorMessage }}
                </div>

                <div class="button-container">
                  <button
                    type="button"
                    (click)="cancelReset()"
                    class="cancel-button"
                  >
                    Cancel
                  </button>
                  <button type="submit" class="verify-button">Reset</button>
                </div>
              </form>
            </div>
          </div>
        </mat-card-actions>
        <div class="anchorTags">
          <div [routerLink]="['/company-registration']">
            <a>Company Registration?</a>
          </div>
          <div [routerLink]="['/campus-registration']">
            <a>Campus Registration?</a>
          </div>
          <div [routerLink]="['/student-registration']">
            <a>Student Registration?</a>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</form>
