<mat-card-header class="custom-card-header">
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <a [routerLink]="['/training-configuration']">
          <mat-icon>keyboard_backspace</mat-icon>
        </a>
      </div>
      <div>
        <p class="matHeaderName">
          {{ ScheduleId ? "Edit Schedule details" : "Add Schedule details" }}
        </p>
      </div>
    </div>
  </div>
</mat-card-header>
<mat-divider></mat-divider>
<form [formGroup]="addEditScheduleForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-content>
      <mat-grid-list cols="12">
        <mat-grid-tile colspan="2">
          <mat-label>Company Name</mat-label>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <mat-form-field>
            <mat-label>Select Company name</mat-label>
            <mat-select>
              <!-- @for (company of technologyTableList; track company) {
                <mat-option [value]="company">{{ company }}</mat-option>
                } -->
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols="12">
        <mat-grid-tile colspan="2">
          <mat-label>Technology Name</mat-label>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <mat-form-field>
            <mat-label>Select Technology name</mat-label>
            <mat-select>
              <!-- @for (company of technologyTableList; track company) {
                <mat-option [value]="company">{{ company }}</mat-option>
                } -->
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols="12">
        <mat-grid-tile colspan="2">
          <mat-label>Training Timings</mat-label>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <mat-form-field appearance="fill">
            <mat-label>Start Time</mat-label>
            <input matInput [ngxTimepicker]="startTimePicker" />
            <ngx-material-timepicker #startTimePicker></ngx-material-timepicker>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
          <mat-form-field appearance="fill">
            <mat-label>End Time</mat-label>
            <input matInput [ngxTimepicker]="endTimePicker" />
            <ngx-material-timepicker #endTimePicker></ngx-material-timepicker>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols="12">
        <mat-grid-tile colspan="2">
          <mat-label>Training Duration</mat-label>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <mat-form-field appearance="fill">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="startDatePicker" />
            <mat-datepicker-toggle
              matSuffix
              [for]="startDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
          <mat-form-field appearance="fill">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="endDatePicker" />
            <mat-datepicker-toggle
              matSuffix
              [for]="endDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols="12">
        <mat-grid-tile colspan="2">
          <mat-label>Role Name</mat-label></mat-grid-tile
        >
        <mat-grid-tile colspan="2">
          <mat-form-field appearance="outline">
            <mat-label>Role Name</mat-label>
            <input matInput placeholder="Enter Technology Name" />
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols="12">
        <mat-grid-tile colspan="2">
          <mat-label>Description</mat-label>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Enter Description" />
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols="12">
        <mat-grid-tile colspan="2">
          <mat-label>category</mat-label></mat-grid-tile
        >
        <mat-grid-tile colspan="2">
          <mat-form-field appearance="outline">
            <mat-label>category</mat-label>
            <input matInput placeholder="Enter category" />
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
  <mat-card-actions align="end">
    <button mat-raised-button class="matbutton">
      <p class="matName">Reset</p>
    </button>
    <button mat-raised-button class="matbutton" type="submit">
      <p class="matName">
        {{ ScheduleId ? "Update" : "Add" }}
      </p>
    </button>
  </mat-card-actions>
</form>
