.header {
  background-color: #e1e1e9;
}

.panels_input {
  width: 100%;
}
.matbutton {
  background-color: #3f51b5;
}

.matName {
  color: white;
}

.button-container {
  align-items: flex-end;
}
.mat-dialog-actions {
  justify-content: end;
}
