<mat-card appearance="outlined" class="full-height-card">
  <mat-card-content class="scrollable-content">
    <!-- <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="Template Categories"> -->
    Template Categories View<mat-slide-toggle [(ngModel)]="isChecked"
      >Template View</mat-slide-toggle
    >
    <div class="button-container">
      <button
        mat-raised-button
        color="primary"
        (click)="openAddCategoryDialog()"
      >
        <mat-icon>add</mat-icon> Add Template Category
      </button>
    </div>
    @if(!isChecked){
    <div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let category">{{ category.Id }}</td>
        </ng-container>

        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let category">{{ category.Name }}</td>
        </ng-container>

        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let category">
            {{ category.Description }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              color="primary"
              (click)="editTemplateCategory(element)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              (click)="deleteTemplateCategory(element)"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              mat-icon-button
              color="secondary"
              (click)="templatesByCategory(element)"
            >
              <mat-icon>input</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [length]="totalCount()"
        [pageSize]="pageSize()"
        [pageSizeOptions]="[5, 10, 20]"
        (page)="onPageChange($event)"
      >
      </mat-paginator>
    </div>
    } @if(isChecked){
    <div>
      <table
        mat-table
        [dataSource]="dataSourceTemplates"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let template">{{ template.Id }}</td>
        </ng-container>

        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let template">{{ template.Name }}</td>
        </ng-container>

        <ng-container matColumnDef="Subject">
          <th mat-header-cell *matHeaderCellDef>Subject</th>
          <td mat-cell *matCellDef="let template">
            {{ template.Subject }}
          </td>
        </ng-container>

        <ng-container matColumnDef="CategoryName">
          <th mat-header-cell *matHeaderCellDef>Category Name</th>
          <td mat-cell *matCellDef="let template">
            {{ template.Category?.Name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              color="secondary"
              (click)="viewTemplate(element)"
            >
              <mat-icon>input</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedTemplateColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedTemplateColumns"
        ></tr>
      </table>

      <mat-paginator
        [length]="totalCountTemplate()"
        [pageSize]="pageSizeTemplate()"
        [pageSizeOptions]="[5, 10, 20]"
        (page)="onPageChangeTemplate($event)"
      >
      </mat-paginator>
    </div>
    }
  </mat-card-content>
</mat-card>
