<mat-card>
  <mat-card-header class="custom-card-header">
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="button-label-container">
          <div class="example-button-container" (click)="goBack()">
            <mat-icon>keyboard_backspace</mat-icon>
          </div>
          <div class="header-mat-label">
            <mat-label>Job Description</mat-label>
          </div>
        </div>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content class="matt-card-content">
    <div class="main-content">
      <div class="left-content">
        <div class="job-card">
          <div class="job-header">
            <div class="job-title">
              <h2>Backend Developer</h2>
              <span class="company">Delhivery</span>
              <span class="rating"> 3.9 | 5486 Reviews</span>
            </div>
            <div>
              <button *ngIf="userType === 3" class="apply-button">Apply</button>
              <button
                *ngIf="userType !== 3"
                class="apply-button"
                (click)="openEligibleStudentsModel()"
              >
                Eligible Student List
              </button>
            </div>
          </div>

          <div class="job-details">
            <div class="experience">
              <span>1 - 4 years</span>
            </div>
            <div class="salary">
              <span>Not Disclosed</span>
            </div>
            <div class="locations">
              <span>Gurugram, Bengaluru</span>
            </div>
            <div class="posted">
              <span>Posted: 1 day ago</span>
            </div>
          </div>
        </div>

        <div class="job-highlights">
          <h3>Job highlights</h3>
          <ul>
            <li>
              Proficient in OOP, Design patterns, and functional programming
            </li>
            <li>
              Must have worked on declarative frameworks for container
              automation and orchestration
            </li>
            <li>
              Maintain focus on customer/user experience and be prompt with
              problem resolution
            </li>
            <li>
              At least 2-3 years of hands-on experience designing, developing,
              deploying, and scaling large-scale applications
            </li>
          </ul>
        </div>
      </div>
      <div class="right-content">
        <div class="related-jobs">
          <h3>Jobs you might be interested in</h3>
          <ul>
            <li>
              <h4>Backend Software Engineer - Paytm Money</h4>
              <span>Paytm | 3.3 | 6720 reviews</span>
              <span>Noida, Bengaluru | Posted 22 days ago</span>
            </li>
            <li>
              <h4>Backend Software Engineer - Paytm Money</h4>
              <span>Paytm | 3.3 | 6720 reviews</span>
              <span>Noida, Bengaluru | Posted 22 days ago</span>
            </li>
            <li>
              <h4>Backend Software Engineer - Paytm Money</h4>
              <span>Paytm | 3.3 | 6720 reviews</span>
              <span>Noida, Bengaluru | Posted 22 days ago</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
