<mat-card>
  <mat-card-header class="custom-card-header">
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="button-label-container">
          <div class="example-button-container">
            <mat-icon (click)="goBack()" class="BackIcon"
              >keyboard_backspace</mat-icon
            >
          </div>
          <div class="Header">
            <mat-label>Job Description</mat-label>
          </div>
        </div>
      </div>
    </div>
  </mat-card-header>
  <div class="example-button-container filter_items" style="text-align: end">
    <button
      *ngIf="UserRoleId !== 3"
      mat-raised-button
      class="matbutton"
      (click)="openStudentJobAdditionalFiltersModal()"
    >
      <mat-icon class="maticon">edit</mat-icon>
      <p class="matName">Edit Job Posting</p>
    </button>
    <button
      *ngIf="UserRoleId !== 3"
      mat-raised-button
      class="matbutton"
      (click)="openAddEditCompanyForm(0)"
    >
      <mat-icon class="maticon">delete</mat-icon>
      <p class="matName">Delete Job Postings</p>
    </button>
  </div>
  <mat-card-content class="matt-card-content">
    <div class="main-content">
      <div class="left-content">
        <div class="job-card" *ngIf="JobPostingsDescriptionData().length > 0">
          <div class="job-header">
            <div class="job-title">
              <h2>{{ JobPostingsDescriptionData()[0]?.JobRole }}</h2>
              <span class="company">{{
                JobPostingsDescriptionData()[0]?.Company?.Name
              }}</span>
              <!-- <span class="rating"> 3.9 | 5486 Reviews</span> -->
            </div>
            <div>
              <button *ngIf="UserRoleId === 3" class="apply-button">
                Apply
              </button>
              <button
                *ngIf="UserRoleId !== 3"
                class="apply-button"
                (click)="openEligibleStudentsModel()"
              >
                Applied Student List
              </button>
            </div>
          </div>

          <div class="job-details">
            <div class="experience">
              <span
                >Experience:{{
                  JobPostingsDescriptionData()[0]?.Experience
                }}</span
              >
            </div>
            <div class="salary">
              <span>Salary:{{ JobPostingsDescriptionData()[0]?.Salary }}</span>
            </div>
            <div class="locations">
              <span
                >Location:{{ JobPostingsDescriptionData()[0]?.Location }}</span
              >
            </div>
            <div class="posted">
              <span
                >Posted:{{ JobPostingsDescriptionData()[0]?.ValidFrom }}</span
              >
            </div>
          </div>
        </div>

        <div class="job-highlights">
          <h3>Job Description</h3>
          <ul>
            {{
              JobPostingsDescriptionData()[0]?.JobDescription
            }}
          </ul>
        </div>
      </div>

      <div class="right-content" *ngIf="UserRoleId !== 2">
        <div class="related-jobs">
          <h3>{{ JobPostingsDescriptionData()[0]?.Company?.Name }}</h3>
          <ul>
            <li>
              <h4>About the company</h4>
              <p>{{ JobPostingsDescriptionData()[0]?.Company?.About }}</p>
            </li>
            <li>
              <p>
                Headquarters:
                {{ JobPostingsDescriptionData()[0]?.Company?.HeadQuarters }}
              </p>
              <p>
                Customer service:
                {{ JobPostingsDescriptionData()[0]?.Company?.PhoneNumber }}
              </p>
              <p>
                Number of employees:
                {{ JobPostingsDescriptionData()[0]?.Company?.CompanySize }}
              </p>
              <!-- <p>CEO: Julie Sweet (1 Sept 2019–)</p>
                <p>Founded: 1989, Hamilton, Bermuda</p>
                <p>CFO: KC McClure</p> -->
              <!-- <span>Paytm | 3.3 | 6720 reviews</span>
                <span>Noida, Bengaluru | Posted 22 days ago</span> -->
            </li>
            <!-- <li>
                <h4>Backend Software Engineer - Paytm Money</h4>
                <span>Paytm | 3.3 | 6720 reviews</span>
                <span>Noida, Bengaluru | Posted 22 days ago</span>
              </li> -->
          </ul>
        </div>

        <div class="resources">
          <h2>Uploaded Resources</h2>
          <div class="resources-container">
            <div class="video-column">
              <h4>Video:</h4>
              <iframe
                width="120%"
                height="200"
                src="https://www.youtube.com/embed/dQw4w9WgXcQ"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>

            <div class="resources-column">
              <div>
                <h4>PPT:</h4>
                <a
                  href="../../../../assets/PaataashalaBrochure.pdf"
                  target="_blank"
                  class="resource-link"
                >
                  <mat-icon>picture_as_pdf</mat-icon> View PPT
                </a>
              </div>
              <div>
                <h4>Document:</h4>
                <a
                  href="../../../../assets/PaataashalaBrochure.pdf"
                  target="_blank"
                  class="resource-link"
                >
                  <mat-icon>description</mat-icon> View Document
                </a>
              </div>
              <div>
                <h4>Audio:</h4>
                <a
                  href="assets/sample-audio.mp3"
                  target="_blank"
                  class="resource-link"
                >
                  <mat-icon>volume_up</mat-icon> Listen to Audio
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="chart-highlights" *ngIf="UserRoleId !== 3">
      <h3>Name of University</h3>
      <mat-form-field class="mat-form-field" appearance="outline">
        <mat-label>Select College</mat-label>
        <mat-select>
          @for (university of universityTypes; track university) {
          <mat-option [value]="university">{{ university }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <h3>Name of College</h3>
      <mat-form-field class="mat-form-field" appearance="outline">
        <mat-label>Select College</mat-label>
        <mat-select>
          @for (college of colleges; track college) {
          <mat-option [value]="college">{{ college }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <div>
        <app-funnel-chart></app-funnel-chart>
      </div>
    </div>
  </mat-card-content>
</mat-card>
