<mat-card>
  <mat-card-header class="custom-card-header">
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="button-label-container">
          <div class="example-button-container" (click)="goBack()">
            <mat-icon>keyboard_backspace</mat-icon>
          </div>
          <div class="header-mat-label">
            <mat-label>Job Description</mat-label>
          </div>
        </div>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content class="matt-card-content">
    <div class="main-content">
      <div class="left-content">
        <div class="job-card">
          <div class="job-header">
            <div class="job-title">
              <h2>Backend Developer</h2>
              <span class="company">Accenture</span>
              <span class="rating"> 3.9 | 5486 Reviews</span>
            </div>
            <div>
              <button *ngIf="userType === 3" class="apply-button">Apply</button>
              <button
                *ngIf="userType !== 3"
                class="apply-button"
                (click)="openEligibleStudentsModel()"
              >
                Eligible Student List
              </button>
            </div>
          </div>

          <div class="job-details">
            <div class="experience">
              <span>1 - 4 years</span>
            </div>
            <div class="salary">
              <span>Not Disclosed</span>
            </div>
            <div class="locations">
              <span>Gurugram, Bengaluru</span>
            </div>
            <div class="posted">
              <span>Posted: 1 day ago</span>
            </div>
          </div>
        </div>

        <div class="job-highlights">
          <h3>Job Description</h3>
          <ul>
            <li>
              Proficient in OOP, Design patterns, and functional programming
            </li>
            Project Role :Application Developer Project Role Description
            :Design, build and configure applications to meet business process
            and application requirements. Must have skills :Infotainment &
            Telematics Good to have skills :NA Educational Qualification :15
            years of full time educationBachelor of Engineering BE or Bachelor
            of Technology BTech Project Role :Application Developer
            <h3>Technical Experience</h3>

            <li>
              tMust Have Skills:Proficiency in ASP.NET MVC, Web API development
              tGood To Have Skills:Experience with other web development
              frameworks tStrong understanding of software development
              principles and methodologies tExperience with database management
              systems such as SQL Server tHands on experience in designing and
              developing web applications using ASP.NET MVC tKnowledge of front
              end technologies such as HTML, CSS, and JavaScriptProfessional
              Attributes
            </li>
            <h3>Key skills</h3>
            <li>
              Role: Full Stack Developer Industry Type: IT Services & Consulting
              Department: Engineering - Software & QA Employment Type: Full
              Time, Permanent Role Category: Software Development Education UG:
              B.Tech/B.E. in Any Specialization PG: Any Postgraduate Key Skills
            </li>
            <li>
              At least 2-3 years of hands-on experience designing, developing,
              deploying, and scaling large-scale applications
            </li>
          </ul>
        </div>
      </div>
      <div class="right-content">
        <div class="related-jobs">
          <h3>Accenture</h3>
          <ul>
            <li>
              <h4>About the company</h4>
              <p>
                Accenture plc is a global multinational professional services
                company originating in the US and headquartered in Dublin,
                Ireland, that specializes in information technology services and
                consulting. A Fortune Global 500 company, it reported revenues
                of $64.9 billion in 2024.Lorem ipsum dolor sit, amet consectetur
                adipisicing elit. Minus rem amet deserunt eos laborum quae animi
                minima repellat et? Quae ab nihil nam maiores, in odio velit
                delectus accusantium facere.
              </p>
              <!-- <span>Paytm | 3.3 | 6720 reviews</span>
              <span>Noida, Bengaluru | Posted 22 days ago</span> -->
            </li>
            <li>
              <p>Headquarters: Dublin, Ireland</p>
              <p>Customer service: 00 1 312-842-5012</p>
              <p>Number of employees: 733,000 (2023)</p>
              <p>CEO: Julie Sweet (1 Sept 2019–)</p>
              <p>Founded: 1989, Hamilton, Bermuda</p>
              <p>CFO: KC McClure</p>
              <!-- <span>Paytm | 3.3 | 6720 reviews</span>
              <span>Noida, Bengaluru | Posted 22 days ago</span> -->
            </li>
            <!-- <li>
              <h4>Backend Software Engineer - Paytm Money</h4>
              <span>Paytm | 3.3 | 6720 reviews</span>
              <span>Noida, Bengaluru | Posted 22 days ago</span>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
