################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Placements.DataAccess/.vs
/Placements.DataAccess/obj
/Placements.WebApi/.vs
/Placements.WebApi/bin/Debug/net8.0
/Placements.WebApi/obj
/Placements.DataAccess/bin/Debug/net8.0
