<div class="Dialog">
  <div class="custom-dialog-container">
    <button mat-icon-button class="close-icon" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>

    <h1 class="header" mat-dialog-title>{{ data.Name }}</h1>
    <div class="dialog-content">
      <mat-dialog-content>
        <mat-dialog-actions align="end">
          <button *ngIf="UserRoleId !== 3" mat-button (click)="AddCompany()">
            Add Company
          </button>
          <button *ngIf="UserRoleId === 3" mat-button (click)="clickKnowMore()">
            Apply now
          </button>
        </mat-dialog-actions>
        <table class="state-colors-table">
          <tbody>
            <tr>
              <td><strong>Address </strong></td>
              <td>{{ data.Address }}</td>
            </tr>
            <tr>
              <td><strong>Phone Number </strong></td>
              <td>{{ data.PhoneNumber }}</td>
            </tr>
            <tr>
              <td><strong>Email </strong></td>
              <td>{{ data.Email }}</td>
            </tr>
            <tr>
              <td><strong>Contact Person </strong></td>
              <td>{{ data.ContactPerson }}</td>
            </tr>
            <tr>
              <td><strong>Industry Type </strong></td>
              <td>{{data.Companyindustries?.[0]?.Industry?.Type}}</td>
            </tr>
            <tr>
              <td><strong>Vacancies </strong></td>
              <td>100</td>
            </tr>
            <tr>
              <td><strong>Company Size </strong></td>
              <td>{{ data.CompanySize }}</td>
            </tr>
            <tr>
              <td><strong>City </strong></td>
              <td>{{ data.City }}</td>
            </tr>
            <tr>
              <td><strong>State </strong></td>
              <td>{{ data.State }}</td>
            </tr>
            <tr>
              <td><strong>Country </strong></td>
              <td>{{ data.Country }}</td>
            </tr>
            <tr>
              <td><strong>Company Website </strong></td>
              <td>
                <a [href]="data.Url" target="_blank" rel="noopener noreferrer">
                  {{ data.Url }}
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-dialog-content>

      <div class="column2">
        <div class="secondHalfContent">
          <h2>About</h2>
          <p>
            {{ data.About }}
          </p>

          <!-- Additional Fields -->
          <div class="info-row">
            <span class="info-heading">Headquarters:</span>
            <span class="info-content">{{ data.HeadQuarters }}</span>
          </div>

          <div class="info-row">
            <span class="info-heading">Video Path:</span>
            <span class="info-content">
              <a [href]="data.VideoPath" target="_blank" rel="noopener noreferrer">Click to view video</a>
            </span>
          </div>

          <div class="info-row">
            <span class="info-heading">Presentation Path:</span>
            <span class="info-content">
              <a [href]="data.PresentationPath" target="_blank" rel="noopener noreferrer">Click to view presentation</a>
            </span>
          </div>

          <div class="info-row">
            <span class="info-heading">Documentation Path:</span>
            <span class="info-content">
              <a [href]="data.DocumentPath" target="_blank" rel="noopener noreferrer">Click to view documentation</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
