<div class="Dialog">
  <div class="custom-dialog-container">
    <button mat-icon-button class="close-icon" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>

    <h1 class="header" mat-dialog-title>{{ data.Name }}</h1>
    <div class="dialog-content">
      <mat-dialog-content>
        <table class="state-colors-table">
          <tbody>
            <tr>
              <td><strong>Address </strong></td>
              <td>{{ data.Address }}</td>
            </tr>
            <tr>
              <td><strong>Phone Number </strong></td>
              <td>{{ data.PhoneNumber }}</td>
            </tr>
            <tr>
              <td><strong>Email </strong></td>
              <td>company$gmail.com</td>
            </tr>
            <tr>
              <td><strong>Contact Person </strong></td>
              <td>{{ data.ContactPerson }}</td>
            </tr>
            <tr>
              <td><strong>Industry Type </strong></td>
              <td>Service</td>
            </tr>
            <tr>
              <td><strong>Vacancies </strong></td>
              <td>100</td>
            </tr>
            <tr>
              <td><strong>Company Size </strong></td>
              <td>500</td>
            </tr>
            <tr>
              <td><strong>City </strong></td>
              <td>{{ data.City }}</td>
            </tr>
            <tr>
              <td><strong>State </strong></td>
              <td>{{ data.State }}</td>
            </tr>
            <tr>
              <td><strong>Country </strong></td>
              <td>{{ data.Country }}</td>
            </tr>
            <tr>
              <td><strong>Company Website </strong></td>
              <td>
                <a [href]="data.Url" target="_blank" rel="noopener noreferrer">
                  {{ data.Url }}
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <mat-dialog-actions align="end">
          <button *ngIf="UserRoleId !== 3" mat-button (click)="clickKnowMore()">
            Add Company
          </button>
          <button *ngIf="UserRoleId === 3" mat-button (click)="clickKnowMore()">
            Apply now
          </button>
        </mat-dialog-actions>
      </mat-dialog-content>

      <div class="column2">
        <div class="secondHalfContent">
          <h2>About</h2>
          <p>
            This is a brief description about the company. We are leaders in the
            industry, providing top-notch services to our clients across the
            globe. Our mission is to innovate and lead in the ever-evolving
            market.
          </p>

          <!-- Additional Fields -->
          <h3>Headquarters</h3>
          <p>Bangalore , hyderabad , Mumbai</p>

          <h3>Video Path</h3>
          <p>
            <a href="https//example.com/video-path" target="_blank"
              >Click to view video</a
            >
          </p>

          <h3>Presentation Path</h3>
          <p>
            <a href="https//example.com/presentation-path" target="_blank"
              >Click to view presentation</a
            >
          </p>

          <h3>Documentation Path</h3>
          <p>
            <a href="https//example.com/documentation-path" target="_blank"
              >Click to view documentation</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
