<div>
  <div class="schedule-dialog-container">
    <h1>Schedule Details</h1>
  </div>
  <mat-accordion>
    <mat-expansion-panel class="mat-expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title> Schedule Name 1</mat-panel-title>
      </mat-expansion-panel-header>
      <p>Trainer Name: <strong>Usha Nuchin</strong></p>
      <p>Course Name: <strong>Course 1</strong></p>
      <p>Mode: <strong>Online</strong></p>
      <button mat-button (click)="openStudentsResponse()" color="primary">
        View Feedback
      </button>
    </mat-expansion-panel>
    <mat-expansion-panel class="mat-expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title> Schedule Name 2</mat-panel-title>
      </mat-expansion-panel-header>
      <p>Trainer Name: <strong>Pallavi M V</strong></p>
      <p>Course Name: <strong>Course 2</strong></p>
      <p>Mode: <strong>Online</strong></p>
      <button mat-button (click)="openStudentsResponse()" color="primary">
        View Feedback
      </button>
    </mat-expansion-panel>
  </mat-accordion>
</div>
