<mat-card>
  <mat-card-header class="custom-card-header">
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="button-label-container">
          <div class="example-button-container" (click)="goBack()">
            <mat-icon>keyboard_backspace</mat-icon>

            <div class="header-mat-label">
              <mat-label>Job Postings</mat-label>
            </div>
          </div>
        </div>

        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>First campaign</mat-label>
            <mat-date-range-input
              [formGroup]="campaignOne"
              [rangePicker]="campaignOnePicker"
              [comparisonStart]="campaignOne.value.start"
              [comparisonEnd]="campaignOne.value.end"
            >
              <input
                matStartDate
                placeholder="Start date"
                formControlName="start"
              />
              <input matEndDate placeholder="End date" formControlName="end" />
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="campaignOnePicker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Location</mat-label>
            <mat-select
              [formControl]="CityControl"
              multiple
              (openedChange)="onCityDropdownOpen()"
              panelClass="custom-dropdown-panel"
            >
              <mat-select-trigger>
                {{ selectedCompanyCities }}
              </mat-select-trigger>
              <mat-form-field appearance="outline">
                <input
                  class="full-width"
                  matInput
                  [(ngModel)]="searchCity"
                  (ngModelChange)="filterCities($event)"
                  placeholder="Search"
                />
              </mat-form-field>
              <mat-option *ngIf="!filteredCompanies.length" disabled
                >No options</mat-option
              >
              <mat-option
                *ngFor="let company of filteredCompanies"
                [value]="company.City"
              >
                {{ company.City }}
              </mat-option>
              <mat-dialog-actions class="mat-dialog-actions">
                <button
                  mat-button
                  mat-dialog-close
                  (click)="resetLocationSelection()"
                >
                  Reset
                </button>
                <button
                  mat-raised-button
                  class="matbutton"
                  (click)="showLocationResults()"
                >
                  <p class="matName">Show results</p>
                </button>
              </mat-dialog-actions>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Experience Level</mat-label>
            <mat-select [formControl]="experienceLevelControl" multiple>
              @for (expLevel of experienceLevel; track expLevel) {
              <mat-option [value]="expLevel">{{ expLevel }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="example-button-container">
        <div>
          <mat-form-field class="search-full-width" appearance="outline">
            <mat-label>Search Job Title, Company</mat-label>
            <input
              type="text"
              aria-label="Number"
              matInput
              [matAutocomplete]="auto"
            />
            <mat-autocomplete
              autoActiveFirstOption
              #auto="matAutocomplete"
              (optionSelected)="onCompanySelected($event)"
            >
              <mat-option
                *ngFor="let company of filteredCompany | async"
                [value]="company.Name"
              >
                {{ company.Name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="example-button-container">
          <button
            mat-raised-button
            class="matbutton"
            (click)="openStudentJobAdditionalFiltersModal()"
          >
            <p class="matName">Additional Filters</p>
          </button>
          <button
            *ngIf="userType !== 3"
            mat-raised-button
            class="matbutton"
            (click)="openAddEditCompanyForm(0)"
          >
            <mat-icon class="maticon">add</mat-icon>
            <p class="matButtonText">Add Job Postings</p>
          </button>
        </div>
      </div>
    </div>
  </mat-card-header>

  <mat-card-content
    fxLayout="row wrap"
    fxLayoutAlign="start stretch"
    class="mat-card-content"
  >
    <div
      *ngFor="let job of jobsCard"
      (click)="openCopmanyJobDescriptionPage(job.Id)"
      fxFlex="100%"
      fxFlex.gt-sm="100%"
      fxFlex.gt-md="45%"
      fxFlex.gt-lg="30%"
      class="mat-grid-tile"
    >
      <div class="company-details">
        <div class="company-designation">
          <h3 class="heading1">
            {{ job.title }} <br />
            <span style="color: slategray; font-size: 0.9rem">
              {{ job.name }}
            </span>
          </h3>

          <!-- 
        <div class="company-type">{{ job.applicants }}</div> -->
          <div>
            <img
              [src]="job.logo"
              alt="Company Logo"
              class="company-logo"
              height="70%"
              width="auto"
              style="margin-left: 150px"
            />
          </div>
        </div>
        <div class="job-details-container">
          <div class="job-detail">
            <span><strong>Experience:</strong> 0 - 2 years</span>
            <span><strong>Job Type:</strong> MNC</span>
            <span><strong>Skills:</strong> Node, React</span>
            <span><strong>Salary:</strong> ₹6 - 8 LPA</span>
            <span><strong>Location:</strong> Bengaluru</span>
            <span><strong>No. of vacancies:</strong> 10</span>

            <!-- <span><strong>Number of applicants submitted:</strong> 10</span> -->
          </div>
          <div class="job-detail">
            <span><strong>Shift:</strong> Day Shift</span>
            <span><strong>Mode of Work:</strong> Hybrid</span>
            <span><strong> Drive Date:</strong> 17/11/2024</span>
            <span><strong>Posted Date:</strong> 14/11/2024</span>
            <span><strong>Application last date:</strong>13/11/2024</span>
            <!-- <span><strong>Number of interview schedule:</strong> 10</span> -->
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
