<mat-card-header class="custom-card-header">
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <a (click)="goBack()">
          <mat-icon>keyboard_backspace</mat-icon>
        </a>
        <p class="matHeaderName">
          {{ Id ? "Edit Company" : "Add Company" }}
        </p>
      </div>
    </div>
  </div>
</mat-card-header>
<mat-divider></mat-divider>
<form [formGroup]="addEditCompanyForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-content>
      <div fxLayout="row wrap">
        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Company Name</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>Company Name</mat-label>
            <input matInput formControlName="Name" />
          </mat-form-field>
        </div>

        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">URL</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>URL</mat-label>
            <input matInput formControlName="Url" />
          </mat-form-field>
        </div>

        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Contact Person</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>Contact Person</mat-label>
            <input matInput formControlName="ContactPerson" />
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row wrap">
        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">City</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>City</mat-label>
            <input matInput formControlName="City" />
          </mat-form-field>
        </div>

        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Zip Code</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>Zip Code</mat-label>
            <input matInput formControlName="ZipCode" />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card-actions class="footer-actions">
    <button
      mat-raised-button
      class="matbutton"
      (click)="onReset()"
      type="button"
    >
      <p class="matName">Reset</p>
    </button>
    <button mat-raised-button class="matbutton" type="submit">
      <p class="matName">
        {{ Id ? "Update" : "Add" }}
      </p>
    </button>
  </mat-card-actions>
</form>
