<mat-card>
  <mat-card-header class="custom-card-header">
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="button-label-container">
          <div class="example-button-container" (click)="goBack()">
            <mat-icon>keyboard_backspace</mat-icon>
          </div>

          <div class="header-mat-label">
            <mat-label>COMPANIES</mat-label>
          </div>
        </div>
        <div>
          <mat-form-field class="full-width" appearance="outline">
            <input class="full-width" matInput placeholder="Search" />
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Location</mat-label>
            <mat-select
              [formControl]="CityControl"
              multiple
              (openedChange)="onCityDropdownOpen()"
              panelClass="custom-dropdown-panel"
            >
              <mat-select-trigger>
                {{ selectedCompanyCities }}
              </mat-select-trigger>
              <mat-form-field appearance="outline">
                <input
                  class="full-width"
                  matInput
                  [(ngModel)]="searchCity"
                  (ngModelChange)="filterCities($event)"
                  placeholder="Search"
                />
              </mat-form-field>
              <mat-option *ngIf="!filteredCompanies.length" disabled
                >No options</mat-option
              >
              <mat-option
                *ngFor="let company of filteredCompanies"
                [value]="company.City"
              >
                {{ company.City }}
              </mat-option>
              <mat-dialog-actions class="mat-dialog-actions">
                <button
                  mat-button
                  mat-dialog-close
                  (click)="resetLocationSelection()"
                >
                  Reset
                </button>
                <button
                  mat-raised-button
                  class="matbutton"
                  (click)="showLocationResults()"
                >
                  <p class="matName">Show results</p>
                </button>
              </mat-dialog-actions>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Industry</mat-label>
            <mat-select
              [formControl]="industryControl"
              multiple
              (openedChange)="onIndustryDropdownOpen()"
            >
              <mat-select-trigger>
                {{ selectedIndustries }}
              </mat-select-trigger>
              <mat-form-field appearance="outline">
                <input
                  class="full-width"
                  matInput
                  [(ngModel)]="searchIndustry"
                  (ngModelChange)="filterIndustries($event)"
                  placeholder="Search"
                />
              </mat-form-field>
              <mat-option *ngIf="!filteredIndustries.length" disabled
                >No options</mat-option
              >
              <mat-option
                *ngFor="let industry of filteredIndustries"
                [value]="industry.Type"
              >
                {{ industry.Type }}
              </mat-option>

              <mat-dialog-actions class="mat-dialog-actions">
                <button
                  mat-button
                  mat-dialog-close
                  (click)="resetIndustrySelection()"
                >
                  Reset
                </button>
                <button
                  mat-raised-button
                  class="matbutton"
                  (click)="showIndustryResults()"
                >
                  <p class="matName">Show results</p>
                </button>
              </mat-dialog-actions>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Company Size</mat-label>
            <mat-select [formControl]="companySizeControl" multiple>
              @for (companySize of companySizes; track companySize) {
              <mat-option [value]="companySize">{{ companySize }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Experience Level</mat-label>
            <mat-select [formControl]="experienceLevelControl" multiple>
              @for (expLevel of experienceLevel; track expLevel) {
              <mat-option [value]="expLevel">{{ expLevel }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>

        <div class="example-button-container">
          <button
            mat-raised-button
            class="matbutton"
            (click)="openImportCompanyDialog()"
          >
            <p class="matName">All Filters</p>
          </button>
          <button
            mat-raised-button
            class="matbutton"
            (click)="openAddEditCompanyForm(0)"
          >
            <mat-icon class="maticon">add</mat-icon>
            <p class="matName">Company</p>
          </button>
        </div>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container *ngFor="let column of columns" [matColumnDef]="column.key">
        <th mat-header-cell *matHeaderCellDef>
          <ng-container [ngSwitch]="column.key">
            <ng-container *ngSwitchDefault>{{ column.label }} </ng-container>
          </ng-container>
        </th>

        <td mat-cell *matCellDef="let element">
          <ng-container [ngSwitch]="column.key">
            <ng-container *ngSwitchCase="'Actions'">
              <div class="td-mat-button">
                <button
                  mat-icon-button
                  (click)="openAddEditCompanyForm(element.Id)"
                >
                  <mat-icon> edit </mat-icon>
                </button>
                <button mat-icon-button (click)="deleteCompany(element.Id)">
                  <mat-icon> delete </mat-icon>
                </button>
              </div>
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ element[column.key] }}
            </ng-container>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
