<div class="left-content">
  <div class="">
    <h2>Welcome, {{ placementOfficerName }}!</h2>
  </div>

  <div class="offers-count" [routerLink]="['/Placement-offer-Recieved']">
    <h3>Total Offers Received: {{ totalOffers }}</h3>
  </div>

  <div class="upcoming-drive-container">
    <div class="upcoming-drives-header">
      <h3>Upcoming Campus Drives</h3>
      <!-- <button mat-raised-button class="matbutton" (click)="sendInvite()">
        <p class="matName">Send Invite to Companies</p>
      </button> -->
    </div>
    <p>Here is your schedule for this week:</p>
    <div class="upcoming-drive-row">
      <div *ngFor="let interview of upcomingDrives" class="upcoming-drive-card">
        <mat-card
          [routerLink]="['/placement-interview']"
          style="cursor: pointer">
          <mat-card-content>
            <h4>{{ interview.date | date : 'MMM d, y, EEEE' }}</h4>
            <h3>{{ interview.company }}</h3>
            <p>
              <strong>Job Role:</strong> {{ interview.jobRole }} <br />
              <strong>Venue:</strong> {{ interview.venue }} <br />
              <strong>Round:</strong> {{ interview.round }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div>
    <h3>Chart Overview</h3>
    <mat-accordion>
      <mat-expansion-panel class="mat-accordion">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Student Placement Gender-wise Chart
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-basic-column-chart
          [seriesData]="studentPlacementData"
          [categoriesData]="branchLabels"
          xLabel="Name of Branches"
          yLabel="No. of Students">
        </app-basic-column-chart>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-accordion">
        <mat-expansion-panel-header>
          <mat-panel-title> Company-Wise Placement </mat-panel-title>
        </mat-expansion-panel-header>
        <app-stacked-column-chart
          [seriesData]="studentPlacementSeries"
          [categoriesData]="placementCategories"
          xLabel="Name of Companies"
          yLabel="Number of Students">
        </app-stacked-column-chart>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-accordion">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Branch-Wise Student Placement Status
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-simple-pie-chart
          [branchPlacementSeries]="branchPlacementSeries"
          [branchLabels]="branchLabels">
        </app-simple-pie-chart>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-accordion">
        <mat-expansion-panel-header>
          <mat-panel-title> Yearly Placement Comparison </mat-panel-title>
        </mat-expansion-panel-header>
        <app-basic-column-chart
          [seriesData]="yearlyComparisonData"
          [categoriesData]="yearLabels"
          xLabel="Years"
          yLabel="No. of Students Placed">
        </app-basic-column-chart>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-accordion">
        <mat-expansion-panel-header>
          <mat-panel-title> Top Hiring Companies </mat-panel-title>
        </mat-expansion-panel-header>
        <app-basic-column-chart
          [seriesData]="topHiringCompaniesData"
          [categoriesData]="topCompanyYearLabels"
          xLabel="Years"
          yLabel="No. of Students Placed">
        </app-basic-column-chart>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-accordion">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Skill-wise Demand Across Companies
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-basic-column-chart
          [seriesData]="skillDemandData"
          [categoriesData]="skillLabels"
          xLabel="Skills"
          yLabel="Demand Level">
        </app-basic-column-chart>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-accordion">
        <mat-expansion-panel-header>
          <mat-panel-title> Monthly Placement Trend Chart </mat-panel-title>
        </mat-expansion-panel-header>
        <app-basic-column-chart
          [seriesData]="monthlyTrendsData"
          [categoriesData]="monthLabels"
          xLabel="Months"
          yLabel="Number of Placements">
        </app-basic-column-chart>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-accordion">
        <mat-expansion-panel-header>
          <mat-panel-title> Top Hiring Companies-Data Chart </mat-panel-title>
        </mat-expansion-panel-header>
        <app-basic-column-chart
          [seriesData]="topHiringCompaniesData"
          [categoriesData]="companyLabels"
          xLabel="Companies"
          yLabel="Number of Placements">
        </app-basic-column-chart>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-accordion">
        <mat-expansion-panel-header>
          <mat-panel-title> Batch-Wise Placement Chart </mat-panel-title>
        </mat-expansion-panel-header>
        <app-basic-column-chart
          [seriesData]="batchPlacementData"
          [categoriesData]="batchLabels"
          xLabel="Batch"
          yLabel="Number of Placements">
        </app-basic-column-chart>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-accordion">
        <mat-expansion-panel-header>
          <mat-panel-title> Placement Status Chart </mat-panel-title>
        </mat-expansion-panel-header>
        <app-basic-column-chart
          [seriesData]="placementStatusData"
          [categoriesData]="statusLabels"
          xLabel="Status"
          yLabel="Number of Placements">
        </app-basic-column-chart>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<div class="right-content">
  <div class="notification-heading">
    <h3>Notifications</h3>
  </div>
  <div class="related-jobs">
    <ul>
      <li
        *ngFor="let notification of notifications"
        [ngClass]="{
          'reminder-notification': notification.title.includes('Reminder'),
          'other-notification': !notification.title.includes('Reminder')
        }"
        style="cursor: pointer"
        [routerLink]="
          notification.title.includes('Reminder')
            ? ['/placement-interview']
            : ['/Placement-offer-Recieved']
        ">
        <h4>{{ notification.title }}</h4>
        <span>{{ notification.details }}</span>
      </li>
    </ul>
  </div>

  <div class="interview-schedule-heading">
    <h3>Interview Schedule</h3>
  </div>
  <div
    class="interview-schedule"
    [routerLink]="['/placement-interview']"
    style="cursor: pointer">
    <ul>
      <li
        *ngFor="let interview of interviewSchedule"
        class="interview-schedule-notification">
        <h4>{{ interview.date | date : 'MMM d, y, EEEE' }}</h4>
        <span>Name of Candidate: {{ interview.candidate }}</span>
        <span>Job Role: {{ interview.position }}</span>
        <span>Time: {{ interview.time }}</span>
      </li>
    </ul>
  </div>
</div>
