.mat-card {
  height: 100%;
}
.example-button-container {
  cursor: pointer;
  margin-left: 2%;
  margin-top: 2%;
}
.mat-mdc-form-field {
  margin-top: 16px;
}
.mat-panel-title {
  display: flow;
}
.mat-panel-description {
  margin-top: 2%;
}
.accordian-div {
  margin-top: 5px;
}
.mat-expansion-panel-header {
  height: auto;
  padding: 1%;
}
