<div class="container">
  <div class="AddDetails">
    <button
      mat-raised-button
      class="matbutton"
      (click)="openEditCompanyProfile()"
    >
      <mat-icon class="maticon">add</mat-icon>
      <p class="matName">Add Details</p>
    </button>
  </div>

  <div class="heading">
    <h2>Company Name</h2>
    <h4>Company Sector</h4>
    <ul>
      <li>Internet</li>
      <li>Saas</li>
      <li>Software Product</li>
      <li>Unicorn</li>
      <li>Private</li>
      <li>Startup</li>
    </ul>
  </div>
  <div class="content">
    <div class="left">
      <div class="overview">
        <h2>Overview</h2>
        <div>
          <h3>About Company</h3>
          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum alias
              sequi officiis dolore aspernatur omnis ducimus quos, a atque, odio
              perferendis doloremque. Ducimus dicta tempore expedita numquam
              nulla quasi impedit.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Distinctio ullam minus, libero est deleniti recusandae at
              quibusdam ut minima, in pariatur autem quo voluptates esse dolore
              velit! Fuga possimus doloremque esse aliquid dolore ex officiis?
              Ducimus quos, adipisci eaque, ut accusamus vero et temporibus
              corrupti quam saepe itaque quaerat impedit voluptatum officiis
              excepturi placeat? Nulla ex esse consectetur incidunt porro,
              deserunt, eum ut similique tempora placeat, culpa impedit quo
              modi!
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam dolor
              ut, incidunt optio accusamus autem facere animi laborum aliquid.
              Similique?
            </p>
          </div>
        </div>
      </div>
      <div class="more_info">
        <h2>More Information</h2>
        <div>
          <div class="more_info_item">
            <strong>Type : </strong> <span>Private</span>
          </div>
          <div class="more_info_item">
            <strong>Founded : </strong> <span>2014 (10 yrs old)</span>
          </div>
          <div class="more_info_item">
            <strong>Company Size : </strong> <span>1001-5000</span>
          </div>
          <div class="more_info_item">
            <strong>Headquarters : </strong> <span>Bengaluru, India</span>
          </div>
          <div class="more_info_item">
            <strong>Website : </strong> <span>http://qwertyiop</span>
          </div>
        </div>
      </div>

      <div class="resources">
        <h2>Uploaded Resources</h2>
        <div class="resources-container">
          <div class="video-column">
            <h4>Video:</h4>
            <iframe
              width="100%"
              height="200"
              src="https://www.youtube.com/embed/dQw4w9WgXcQ"
              title="Dummy YouTube Video"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>

          <div class="resources-column">
            <div>
              <h4>PPT:</h4>
              <a
                href="../../../../assets/PaataashalaBrochure.pdf"
                target="_blank"
                class="resource-link"
              >
                <mat-icon>picture_as_pdf</mat-icon> View PPT
              </a>
            </div>
            <div>
              <h4>Document:</h4>
              <a
                href="../../../../assets/PaataashalaBrochure.pdf"
                target="_blank"
                class="resource-link"
              >
                <mat-icon>description</mat-icon> View Document
              </a>
            </div>
            <div>
              <h4>Audio:</h4>
              <a
                href="../../../../assets/Shiva_Tandava_Stotram_Original_Powerful_Best_Trance_(youconvert.net).mp3"
                target="_blank"
                class="resource-link"
              >
                <mat-icon>volume_up</mat-icon> Listen to Audio
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="right">
      <div class="feedback">
        <div class="feedback_card">
          <h3>Associate Consultant in Bangalore / Bengaluru</h3>
          <div>Full Time · <span>IT Consulting Department</span></div>

          <h4>Likes</h4>
          <div class="content">The work culture is very nice</div>

          <h4>Dislikes</h4>
          <div class="content">Sometimes work can be hectic</div>

          <h4>Work Details</h4>
          <div class="work-details">
            <p>
              <strong>Work days:</strong> Monday to Friday (Flexible Timings)
            </p>
            <p>
              <strong>Work related travel:</strong> This job involves travel
              within city.
            </p>
          </div>
        </div>
        <div class="feedback_card">
          <h3>Associate Consultant in Bangalore / Bengaluru</h3>
          <div>Full Time · <span>IT Consulting Department</span></div>

          <h4>Likes</h4>
          <div class="content">The work culture is very nice</div>

          <h4>Dislikes</h4>
          <div class="content">Sometimes work can be hectic</div>

          <h4>Work Details</h4>
          <div class="work-details">
            <p>
              <strong>Work days:</strong> Monday to Friday (Flexible Timings)
            </p>
            <p>
              <strong>Work related travel:</strong> This job involves travel
              within city.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
