.container {
  padding: 10px;
  margin: 10px;
}

.heading {
  border: 1px solid rgba(191, 189, 189, 0.386);
  padding: 10px;
}

.heading h4 {
  margin: 0 0 0 10px;
}

.heading ul {
  display: flex;
  gap: 15px;
  /* justify-content: space-between; */
}

.heading ul li {
  padding: 8px;
  border: 1px solid rgba(128, 128, 128, 0.489);
  border-radius: 8px;
  list-style: none;
}

.overview {
  border: 1px solid rgba(191, 189, 189, 0.231);
  padding: 10px;
}

.content {
  display: flex;
  margin: 20px 0 0 0;
}
.left {
  width: 70%;
}

.right {
  width: 30%;
}

.feedback {
  padding: 10px;
  border: 1px solid rgba(191, 189, 189, 0.231);
}

.job-type,
.department {
  color: grey;
  font-size: 16px;
}
.rating {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}
.posted-date {
  color: grey;
  font-size: 14px;
}
.content {
  margin-bottom: 10px;
}

.feedback_card {
  padding: 10px;
  border: 1px solid rgba(191, 189, 189, 0.55);
  border-radius: 10px;
}

.more_info {
  margin: 10px 0 0 0;
  padding: 10px;
  border: 1px solid rgba(191, 189, 189, 0.55);
  border-radius: 10px;
}
.more_info div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.more_info div > * {
  flex: 0 1 48%;
  box-sizing: border-box;
}

.matbutton {
  background-color: #3f51b5;
  color: white;
  margin-bottom: 15px;
}

.resources {
  margin-top: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.more_info {
  padding: 20px;
}

.resources-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.video-column {
  flex: 1 1 100%;
  max-width: 48%;
}

.resources-column {
  flex: 1 1 100%;
  max-width: 48%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

h4 {
  margin-bottom: 5px;
}

.resource-link {
  display: flex;
  margin-top: 10px;
  gap: 5px;
  text-decoration: none;
  color: #007bff;
  font-weight: 500;
}

mat-icon {
  font-size: 24px;
}

@media (max-width: 768px) {
  .video-column,
  .resources-column {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
.AddDetails {
  text-align: end;
}
