<div class="container">
  <div class="AddDetails">
    <button
      mat-raised-button
      class="matbutton"
      (click)="openEditCompanyProfile()">
      <mat-icon class="maticon">add</mat-icon>
      <p class="matName">Add Details</p>
    </button>
  </div>

  <div class="heading">
    <!-- <h2>{{ CompanyProfileData().Name }}</h2> -->
    <h2 *ngIf="CompanyProfileData() && CompanyProfileData().length > 0">
      {{ CompanyProfileData()[0].Name }}
    </h2>

    <h4>Company Sector</h4>
    <ul>
      <li *ngFor="let industry of CompanyIndustriesData()">
        {{ industry.Industry?.Type }}
      </li>
    </ul>
  </div>
  <div class="content">
    <div class="left">
      <div class="overview">
        <h2>Overview</h2>
        <div>
          <h3>About Company</h3>
          <div>
            <p *ngIf="CompanyProfileData() && CompanyProfileData()[0]?.About">
              {{ CompanyProfileData()[0].About }}
            </p>
            <p *ngIf="CompanyProfileData() && !CompanyProfileData()[0]?.About">
              No description available.
            </p>
          </div>
        </div>
      </div>
      <div class="more_info">
        <h2>More Information</h2>
        <div>
          <div class="more_info_item">
            <strong>Type : </strong>
            <span>{{
              CompanyProfileData()[0]?.IsActive ? 'Active' : 'Inactive'
            }}</span>
          </div>
          <div class="more_info_item">
            <strong>Founded: </strong>
            <span
              *ngIf="CompanyProfileData()[0]?.DateOfRegistration; else noDate">
              {{ CompanyProfileData()[0].DateOfRegistration | date }}
            </span>
            <ng-template #noDate>Not Available</ng-template>
          </div>
          <div class="more_info_item">
            <strong>Company Size : </strong>
            <span *ngIf="CompanyProfileData()[0]?.CompanySize">
              {{ CompanyProfileData()[0].CompanySize }} Employees
            </span>
            <!-- <ng-template #noSize>Not Available</ng-template> -->
          </div>

          <div class="more_info_item">
            <strong>Headquarters : </strong>
            <span *ngIf="CompanyProfileData()[0]?.HeadQuarters">
              {{ CompanyProfileData()[0].HeadQuarters }}
            </span>
            <!-- <ng-template #noHQ>N/A</ng-template> -->
          </div>

          <div class="more_info_item">
            <strong>Website : </strong>
            <a [href]="CompanyProfileData()[0].Url" target="_blank">
              {{ CompanyProfileData()[0].Url }}
              <!-- Click here -->
            </a>
          </div>
        </div>
      </div>

      <div class="resources">
        <h2>Uploaded Resources</h2>
        <div class="resources-container">
          <div class="video-column">
            <h4>Video:</h4>
            <iframe
              width="100%"
              height="200"
              src="https://www.youtube.com/embed/dQw4w9WgXcQ"
              title="Dummy YouTube Video"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>

          <div class="resources-column">
            <div>
              <h4>PPT:</h4>
              <a
                href="../../../../assets/PaataashalaBrochure.pdf"
                target="_blank"
                class="resource-link">
                <mat-icon>picture_as_pdf</mat-icon> View PPT
              </a>
            </div>
            <div>
              <h4>Document:</h4>
              <a
                href="../../../../assets/PaataashalaBrochure.pdf"
                target="_blank"
                class="resource-link">
                <mat-icon>description</mat-icon> View Document
              </a>
            </div>
            <div>
              <h4>Audio:</h4>
              <a
                href="../../../../assets/Shiva_Tandava_Stotram_Original_Powerful_Best_Trance_(youconvert.net).mp3"
                target="_blank"
                class="resource-link">
                <mat-icon>volume_up</mat-icon> Listen to Audio
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="right">
      <div class="feedback">
        <div class="feedback_card">
          <h3>Python Developer</h3>
          <div><strong>Job Type:</strong> Full Time</div>
          <div><strong>Location:</strong> IT Consulting Department</div>
          <div><strong>Posted Date:</strong> October 28, 2024</div>
          <div><strong>Experience:</strong> 2+ years</div>
        </div>
      </div>
    </div>
  </div>
</div>
