<mat-card>
  <mat-tab-group
    animationDuration="0ms"
    #tabGroup
    (selectedIndexChange)="onTabChange($event)"
  >
    <mat-tab label="Companies"><app-companies></app-companies></mat-tab>

    <mat-tab label="Indsutries"><app-industry></app-industry></mat-tab>

    <mat-tab label="Technologies"
      ><app-technologies></app-technologies
    ></mat-tab>

    <mat-tab label="Roles"><app-roles></app-roles></mat-tab>

    <mat-tab label="Company & Indsutries"
      ><app-industry-technology></app-industry-technology
    ></mat-tab>

    <mat-tab label="Company & Technologies"
      ><app-company-technology></app-company-technology
    ></mat-tab>
  </mat-tab-group>
</mat-card>
