<mat-card>
  <mat-card-header class="custom-card-header">
    <div class="header-left">
      <button mat-icon-button color="primary"  class="back-button">
        <mat-icon (click)="goBack()">keyboard_backspace</mat-icon>
      </button>
      <span class="header-title">Students</span>
      <button mat-raised-button color="primary" class="invite-all-btn">
        <mat-icon class="maticon">mail</mat-icon>
        Invite All
      </button>
    </div>
    <div class="filters-container">
      <div class="header-center">
        <mat-form-field appearance="outline" class="search-field">
          <mat-icon matSuffix>search</mat-icon>
          <input matInput placeholder="Search by Student Name" [formControl]="searchControl" />
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" class="filter-field">
        <mat-label>Batch</mat-label>
        <mat-select [formControl]="batchControl" multiple>
          <mat-option *ngFor="let batch of batches" [value]="batch">{{ batch }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="filter-field">
        <mat-label>Branch</mat-label>
        <mat-select [formControl]="branchControl" multiple>
          <mat-option *ngFor="let branch of branches" [value]="branch">{{ branch }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="filter-field">
        <mat-label>Registration Status</mat-label>
        <mat-select [formControl]="statusControl" multiple>
          <mat-option *ngFor="let stats of status" [value]="stats">{{ stats }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>   
  </mat-card-header>
</mat-card>
<br>
<mat-card>
  <mat-card-content class="table-container">
    <!-- Standard Table for Larger Screens -->
    <table mat-table [dataSource]="dataSource" class="student-table mat-elevation-z8" *ngIf="isLargeScreen()">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? toggleAllRows() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          ></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          ></mat-checkbox>
        </td>
      </ng-container>

      <ng-container *ngFor="let column of columns" [matColumnDef]="column.key">
        <th mat-header-cell *matHeaderCellDef>{{ column.label }}</th>
        <td mat-cell *matCellDef="let element">
          <ng-container [ngSwitch]="column.key">
            <ng-container *ngSwitchCase="'StudentName'">
              <a href="javascript:void(0)" (click)="openStudentDetailsDialog()" class="student-link">{{ element.StudentName }}</a>
            </ng-container>

            <ng-container *ngSwitchCase="'Status'">
              <button *ngIf="element.Status === 'Invite'" mat-raised-button color="primary">
                <mat-icon>mail</mat-icon>Invite
              </button>
              <mat-chip *ngIf="element.Status !== 'Invite'" [ngStyle]="getChipStyle(element.Status)">
                {{ element.Status }}
              </mat-chip>
            </ng-container>

            

            <ng-container *ngSwitchCase="'ApplicationApprovalStatus'">
              <ng-container *ngIf="element.ApplicationApprovalStatus === 'Verify'; else showChip">
                <button
                  (click)="verifyApplicationStatus(element.StudentID)"
                  mat-raised-button
                  color="primary"
                >
                  Verify
                </button>

              </ng-container>
              <ng-template #showChip>
                <mat-chip [ngStyle]="getApplicationApproveChipStyle(element.ApplicationApprovalStatus)">
                  {{ element.ApplicationApprovalStatus }}
                </mat-chip>
              </ng-template>
            </ng-container>

            <ng-container *ngSwitchDefault>
              {{ element[column.key] }}
            </ng-container>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <!-- Inside the Accordion for Mobile View -->
    <mat-accordion *ngIf="!isLargeScreen()">
      <mat-expansion-panel *ngFor="let row of dataSource.filteredData">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ row.StudentName }} 
            <mat-checkbox (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </mat-panel-title>
          <mat-panel-description>
            {{ row.Status }} - {{ row.Branch }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="accordion-details">
          <p><strong>Batch:</strong> {{ row.Batch }}</p>
          <p><strong>CGPA:</strong> {{ row.CGPA }}</p>
          <p><strong>Application Approval Status:</strong> {{ row.ApplicationApprovalStatus }}</p>
          <button *ngIf="row.Status === 'Invite'" mat-raised-button color="primary">
            <mat-icon>mail</mat-icon>Invite
          </button>
          <button
            (click)="verifyApplicationStatus(row.StudentID)"
            mat-raised-button
            color="primary"
          >
            Verify
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
