<div class="navbar-container" [class.example-is-mobile]="mobileQuery.matches">
  <!-- Top navbar -->

  <mat-toolbar class="navbar" color="primary">
    <!-- <img
      class="headerLogo"
      src="../../../assets/images/Softserve-logo1white.png"
      alt="ssgLogo"
    /> -->
    <a class="navbar-brand" [routerLink]="['/']" matTooltip="Home">
      <h1>TPC-54</h1>
      <div>
        <span style="font-size: small">Training And Placement Software</span>
      </div>
    </a>
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="navbar-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="notificationMenu">
      <mat-icon matBadge="{{ notificationCount }}" matBadgeColor="accent">
        notifications
      </mat-icon>
    </button>

    <mat-menu
      #notificationMenu="matMenu"
      xPosition="before"
      yPosition="above"
      [overlapTrigger]="false">
      <ng-container *ngIf="notifications.length; else noNotifications">
        <a
          mat-menu-item
          *ngFor="let notification of notifications"
          (click)="navigateToComponent(notification)">
          <span>{{ notification.message }}</span>
        </a>
      </ng-container>
      <ng-template #noNotifications>
        <a mat-menu-item>
          <span>No notifications</span>
        </a>
      </ng-template>
    </mat-menu>

    <!-- 

    <mat-menu
      #notificationMenu="matMenu"
      xPosition="before"
      yPosition="above"
      [overlapTrigger]="false"
    >
      <ng-container *ngIf="notifications.length; else noNotifications">
        <a
          mat-menu-item
          *ngFor="let notification of notifications"
          (click)="navigateToComponent(notification)"
        >
          <span>{{ notification }}</span>
        </a>
      </ng-container>
      <ng-template #noNotifications>
        <a mat-menu-item>
          <span>No notifications</span>
        </a>
      </ng-template>
    </mat-menu> -->

    <button mat-button [matMenuTriggerFor]="userMenu">
      <span
        style="
          display: flex;
          align-items: center;

          margin-left: 2px;
          margin-top: auto;
        ">
        <mat-icon>person</mat-icon> {{ userName }}
      </span>

      <span style="display: flex; align-items: center; margin-left: 1.5rem">
        <div *ngIf="userType === 1" style="font-family: 'Lato', sans-serif">
          TPC
        </div>
        <div *ngIf="userType === 2" style="font-family: 'Lato', sans-serif">
          HR
        </div>
        <div *ngIf="userType === 3" style="font-family: 'Lato', sans-serif">
          Student
        </div>
      </span>
    </button>

    <mat-menu
      #userMenu="matMenu"
      xPosition="before"
      yPosition="above"
      [overlapTrigger]="false">
      <a mat-menu-item [routerLink]="['/account/profile']">
        <mat-icon>person</mat-icon>
        <span>Account</span>
      </a>

      <a mat-menu-item [routerLink]="['login']">
        <mat-icon>exit_to_app</mat-icon>
        <span>Log out</span>
      </a>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="navbar-sidenav-container">
    <!-- Side nav -->
    <mat-sidenav
      #snav
      [opened]="!mobileQuery.matches"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      class="sidenav">
      <mat-nav-list>
        <!-- Placement Officer -->
        <a
          *ngIf="userType === 1"
          mat-list-item
          [routerLink]="['/placement-dashboard']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon mat-list-icon> dashboard </mat-icon></div>
            <div><mat-label>Dashboard</mat-label></div>
          </div>
        </a>
        <a
          *ngIf="userType === 1"
          mat-list-item
          [routerLink]="['/placement-company']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon mat-list-icon> corporate_fare </mat-icon></div>
            <div><mat-label>Company </mat-label></div>
          </div>
        </a>
        <a
          *ngIf="userType === 1"
          [routerLink]="['/placement-interview']"
          mat-list-item
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon>supervised_user_circle</mat-icon></div>
            <div><mat-label>Interview</mat-label></div>
          </div>
        </a>

        <a
          *ngIf="userType === 1"
          mat-list-item
          [routerLink]="['/campus-configuration']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon mat-list-icon> business </mat-icon></div>
            <div><mat-label> Campus </mat-label></div>
          </div>
        </a>

        <a
          *ngIf="userType === 1"
          mat-list-item
          [routerLink]="['/students']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon mat-list-icon>group</mat-icon></div>
            <div><mat-label>Student</mat-label></div>
          </div>
        </a>
        <a
          *ngIf="userType === 1"
          mat-list-item
          [routerLink]="['/Placement-offer-Recieved']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div class="sidebar-list-items">
            <div><mat-icon mat-list-icon>school</mat-icon></div>
            <div><mat-label>Training </mat-label></div>
          </div>
        </a>
        <a
          *ngIf="userType === 1"
          mat-list-item
          [routerLink]="['/placement-communicaton']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon mat-list-icon>chat</mat-icon></div>
            <div><mat-label>Communication </mat-label></div>
          </div>
        </a>
        <a
          *ngIf="userType === 1"
          mat-list-item
          [routerLink]="['/placement-feedback-survey']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon mat-list-icon>feedback</mat-icon></div>
            <div><mat-label>Feedback and Survey </mat-label></div>
          </div>
        </a>

        <a
          *ngIf="userType === 1"
          mat-list-item
          [routerLink]="['/indent-view']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon mat-list-icon> more </mat-icon></div>
            <div><mat-label>Indent </mat-label></div>
          </div>
        </a>
        <a
          *ngIf="userType === 1"
          mat-list-item
          [routerLink]="['/placement-gbsetting']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon mat-list-icon> email </mat-icon></div>
            <div><mat-label>Global Setting</mat-label></div>
          </div>
        </a>

        <!-- Company / HR -->

        <a
          *ngIf="userType === 2"
          mat-list-item
          [routerLink]="['/company-dashboard']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon mat-list-icon> dashboard </mat-icon></div>
            <div><mat-label>Dashboard</mat-label></div>
          </div>
        </a>

        <a
          *ngIf="userType === 2"
          [routerLink]="['/company-profile']"
          mat-list-item
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon mat-list-icon> business </mat-icon></div>
            <div><mat-label>About Company</mat-label></div>
          </div>
        </a>

        <a
          *ngIf="userType === 2"
          mat-list-item
          [routerLink]="['/company-job-details']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon mat-list-icon> work </mat-icon></div>
            <div><mat-label>Job Posting</mat-label></div>
          </div>
        </a>
        <a
          *ngIf="userType === 2"
          [routerLink]="['/interview']"
          mat-list-item
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon>supervised_user_circle</mat-icon></div>
            <div><mat-label>Interview</mat-label></div>
          </div>
        </a>

        <a
          *ngIf="userType === 2"
          mat-list-item
          [routerLink]="['/company-calendar']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon>calendar_month</mat-icon></div>
            <div><mat-label>Calendar</mat-label></div>
          </div>
        </a>

        <a
          *ngIf="userType === 2"
          mat-list-item
          [routerLink]="['offer-management']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <mat-icon>star</mat-icon>
            <div><mat-label>Offer Management</mat-label></div>
          </div>
        </a>

        <a
          *ngIf="userType === 2"
          mat-list-item
          [routerLink]="['interview-schedule']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <mat-icon>work_history</mat-icon>
            <div><mat-label>Schedule Interview</mat-label></div>
          </div>
        </a>

        <a
          *ngIf="userType === 2"
          mat-list-item
          [routerLink]="['company-communication']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <mat-icon>chat</mat-icon>
            <div><mat-label>Communication</mat-label></div>
          </div>
        </a>

        <!-- Student -->

        <a
          *ngIf="userType === 3"
          mat-list-item
          [routerLink]="['/student-dashboard']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon mat-list-icon> dashboard </mat-icon></div>
            <div><mat-label>Dashboard</mat-label></div>
          </div>
        </a>

        <a
          *ngIf="userType === 3"
          mat-list-item
          [routerLink]="['/profile-management-dashboard']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon mat-list-icon> manage_accounts </mat-icon></div>
            <div><mat-label>My Profile</mat-label></div>
          </div>
        </a>

        <a
          *ngIf="userType === 3"
          [routerLink]="['/student-jobs']"
          mat-list-item
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon mat-list-icon> business </mat-icon></div>
            <div><mat-label>Job Opportunity</mat-label></div>
          </div>
        </a>

        <a
          *ngIf="userType === 3"
          [routerLink]="['/interview']"
          mat-list-item
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div>
              <mat-icon mat-list-icon> supervised_user_circle </mat-icon>
            </div>
            <div><mat-label>Interview</mat-label></div>
          </div>
        </a>

        <a
          *ngIf="userType === 3"
          mat-list-item
          [routerLink]="['/student-offer-Recieved']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div class="sidebar-list-items">
            <div><mat-icon mat-list-icon>star</mat-icon></div>
            <div><mat-label>Offers Recieved</mat-label></div>
          </div>
        </a>

        <a
          *ngIf="userType === 3"
          mat-list-item
          [routerLink]="['/student-offer-Recieved']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div class="sidebar-list-items">
            <div>
              <mat-icon mat-list-icon> connect_without_contact </mat-icon>
            </div>
            <div><mat-label>Forum</mat-label></div>
          </div>
        </a>

        <a
          *ngIf="userType === 3"
          [routerLink]="['/student-calendar']"
          mat-list-item
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon mat-list-icon> calendar_month </mat-icon></div>
            <div><mat-label>Calendar</mat-label></div>
          </div>
        </a>

        <a
          *ngIf="userType === 3"
          [routerLink]="['/student_applied']"
          mat-list-item
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon mat-list-icon> work_alert </mat-icon></div>
            <div><mat-label>Applied Jobs</mat-label></div>
          </div>
        </a>

        <!-- <a
          *ngIf="userType === 3"
          mat-list-item
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon>feedback</mat-icon></div>
            <div><mat-label>Feedback and Support</mat-label></div>
          </div>
        </a> -->

        <a
          *ngIf="userType === 3"
          mat-list-item
          [routerLink]="['/resume-builder']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon>build</mat-icon></div>
            <div><mat-label>Resume Builder</mat-label></div>
          </div>
        </a>

        <a
          *ngIf="userType === 3"
          mat-list-item
          [routerLink]="['/student-communication']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon>forum</mat-icon></div>
            <div><mat-label>Communication</mat-label></div>
          </div>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
      <div class="progress-bar-container">
        <mat-progress-bar
          color="accent"
          mode="indeterminate"
          *ngIf="spinnerService.visibility | async">
        </mat-progress-bar>

        <mat-spinner
          class="spinner"
          [diameter]="50"
          *ngIf="showSpinner"></mat-spinner>
      </div>

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
