@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.navbar-spacer {
  flex: 1 1 auto;
}

.navbar {
  z-index: 2;
}

.navbar-brand {
  text-decoration: none;
  color: white;
  margin-top: 5px;


  /* margin-left: 50px; */
}

.navbar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.navbar-is-mobile .navbar {
  position: fixed;
  z-index: 2;
}

.navbar-sidenav-container {
  flex: 1;
}

.navbar-is-mobile .navbar-sidenav-container {
  flex: 1 0 auto;
}

mat-sidenav {
  /* min-width: 180px !important; */
  border-right: 1px solid #eee;
  box-shadow: 6px 0 6px rgba(0, 0, 0, 0.1);
}

.progress-bar-container {
  height: 5px;
}

#push-bottom {
  position: absolute;
  bottom: 0;
}
.active {
  background-color: #3f51b5;
}

.active mat-icon {
  color: white !important;
}

.active mat-label {
  color: white !important;
}

.sidebar-list-items {
  display: flex;
}

.headerLogo {
  width: 12%;
}

.matExpansionHeader {
  padding: 0;
  padding-right: 10%;
}
