<div class="navbar-container" [class.example-is-mobile]="mobileQuery.matches">
  <!-- Top navbar -->

  <mat-toolbar class="navbar" color="primary">
    <img
      class="headerLogo"
      src="../../../assets/images/Softserve-logo1white.png"
      alt="ssgLogo" />
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="navbar-brand" [routerLink]="['/']" matTooltip="Home">
      <h1>PLACEMENTS</h1>
    </a>

    <span class="navbar-spacer"></span>
    <!-- 
    <button mat-icon-button [matMenuTriggerFor]="notificationMenu">
      <mat-icon matBadge="2" matBadgeColor="accent">notifications</mat-icon>
    </button>
    <mat-menu
      #notificationMenu="matMenu"
      xPosition="before"
      yPosition="above"
      [overlapTrigger]="false"
    >
      <a mat-menu-item>
        <span>You have new tasks</span>
      </a>
      <a mat-menu-item>
        <span>You have a new message</span>
      </a>
    </mat-menu> -->

    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>person</mat-icon>
      <span fxShow fxHide.xs> {{ userName }} </span>
    </button>
    <mat-menu
      #userMenu="matMenu"
      xPosition="before"
      yPosition="above"
      [overlapTrigger]="false">
      <a mat-menu-item [routerLink]="['/account/profile']">
        <mat-icon>person</mat-icon>
        <span>Account</span>
      </a>

      <a mat-menu-item [routerLink]="['login']">
        <mat-icon>exit_to_app</mat-icon>
        <span>Log out</span>
      </a>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="navbar-sidenav-container">
    <!-- Side nav -->
    <mat-sidenav
      #snav
      [opened]="!mobileQuery.matches"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      class="sidenav">
      <mat-nav-list>
        <a
          mat-list-item
          [routerLink]="['/dashboard']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon mat-list-icon> dashboard </mat-icon></div>
            <div><mat-label>Dashboard</mat-label></div>
          </div>
        </a>
        <a
          mat-list-item
          [routerLink]="['/job-postings']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon mat-list-icon> </mat-icon></div>
            <div><mat-label>Job Postings</mat-label></div>
          </div>
        </a>
        <a
          mat-list-item
          [routerLink]="['/profile-management-dashboard']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon mat-list-icon> manage_accounts </mat-icon></div>
            <div><mat-label>Profile Management</mat-label></div>
          </div>
        </a>

        <a
          *ngIf="userType === 3"
          [routerLink]="['/company-configuration']"
          mat-list-item
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon mat-list-icon> Apartment </mat-icon></div>
            <div><mat-label>Company Profiles </mat-label></div>
          </div>
        </a>

        <!-- <mat-expansion-panel style="box-shadow: none" *ngIf="userType === 1">
          <mat-expansion-panel-header class="matExpansionHeader">
            <a
              mat-list-item
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <mat-panel-title>
                <div class="sidebar-list-items">
                  <div><mat-icon mat-list-icon> business </mat-icon></div>
                  <div><mat-label>Configuartion</mat-label></div>
                </div>
              </mat-panel-title>
            </a>
          </mat-expansion-panel-header> -->

        <a
          *ngIf="userType === 1"
          mat-list-item
          [routerLink]="['/company-configuration']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon mat-list-icon> corporate_fare </mat-icon></div>
            <div><mat-label>Company </mat-label></div>
          </div>
        </a>

        <a
          *ngIf="userType === 1"
          mat-list-item
          [routerLink]="['/campus-configuration']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon mat-list-icon> business </mat-icon></div>
            <div><mat-label> Campus </mat-label></div>
          </div>
        </a>
        <a
          *ngIf="userType === 1"
          mat-list-item
          [routerLink]="['/students']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon mat-list-icon>group</mat-icon></div>
            <div><mat-label>Student</mat-label></div>
          </div>
        </a>
        <a
          *ngIf="userType === 1"
          mat-list-item
          [routerLink]="['/training-configuration']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon mat-list-icon>school</mat-icon></div>
            <div><mat-label>Training </mat-label></div>
          </div>
        </a>
        <a
          *ngIf="userType === 1"
          mat-list-item
          [routerLink]="['/campus-feedback-survey']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon mat-list-icon>school</mat-icon></div>
            <div><mat-label>Feedback and Survey </mat-label></div>
          </div>
        </a>
        <!-- </mat-expansion-panel> -->

        <!-- <mat-expansion-panel style="box-shadow: none" *ngIf="userType === 2"> -->
        <!-- <mat-expansion-panel-header class="matExpansionHeader">
            <a
              mat-list-item
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <mat-panel-title>
                <div class="sidebar-list-items">
                  <div><mat-icon mat-list-icon> business </mat-icon></div>
                  <div><mat-label>Company Menu</mat-label></div>
                </div>
              </mat-panel-title>
            </a>
          </mat-expansion-panel-header> -->

        <a
          *ngIf="userType === 2"
          mat-list-item
          [routerLink]="['/company-job-details']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon mat-list-icon> work </mat-icon></div>
            <div><mat-label>Job Posting</mat-label></div>
          </div>
        </a>
        <!-- <a
          *ngIf="userType === 2"
          mat-list-item
          [routerLink]="['/company-job-details']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div class="sidebar-list-items">
            <div><mat-icon mat-list-icon> </mat-icon></div>
            <div><mat-label>Panel</mat-label></div>
          </div>
        </a> -->

        <a
          *ngIf="userType === 2"
          mat-list-item
          [routerLink]="['/test-interviews']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon mat-list-icon> assignment </mat-icon></div>
            <div><mat-label>Test/Interviews</mat-label></div>
          </div>
        </a>

        <!-- </mat-expansion-panel> -->

        <!-- <mat-expansion-panel style="box-shadow: none" *ngIf="userType === 1">
          <mat-expansion-panel-header class="matExpansionHeader">
            <a
              mat-list-item
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <mat-panel-title>
                <div class="sidebar-list-items">
                  <div><mat-icon mat-list-icon> business </mat-icon></div>
                  <div><mat-label>Placement Cell</mat-label></div>
                </div>
              </mat-panel-title>
            </a>
          </mat-expansion-panel-header> -->
        <a
          *ngIf="userType === 3"
          mat-list-item
          [routerLink]="['/company-calendar']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon>calendar_month</mat-icon></div>
            <div><mat-label>Calendar</mat-label></div>
          </div>
        </a>

        <!-- <a
          *ngIf="userType === 1"
          mat-list-item
          [routerLink]="['/calendar']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon>work_outline</mat-icon></div>
            <div><mat-label>abc</mat-label></div>
          </div>
        </a> -->

        <a
          *ngIf="userType === 1"
          mat-list-item
          [routerLink]="['/company-lists']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon>work_outline</mat-icon></div>
            <div><mat-label>Company Lists</mat-label></div>
          </div>
        </a>

        <!-- <a
          *ngIf="userType === 1"
          mat-list-item
          [routerLink]="['/calendar']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div class="sidebar-list-items">
            <div><mat-icon>work_outline</mat-icon></div>
            <div><mat-label>calendar</mat-label></div>
          </div>
        </a> -->
        <!-- </mat-expansion-panel> -->
        <!-- 
        <mat-expansion-panel style="box-shadow: none" *ngIf="userType === 3">
          <mat-expansion-panel-header class="matExpansionHeader">
            <a
              mat-list-item
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <mat-panel-title>
                <div class="sidebar-list-items">
                  <div><mat-icon mat-list-icon> business </mat-icon></div>
                  <div><mat-label>Student Menu</mat-label></div>
                </div>
              </mat-panel-title>
            </a>
          </mat-expansion-panel-header> -->

        <!-- <a
          *ngIf="userType === 3"
          mat-list-item
          [routerLink]="['/job-list']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div class="sidebar-list-items">
            <div><mat-icon>work_outline</mat-icon></div>
            <div><mat-label>Job Invitations</mat-label></div>
          </div>
        </a> -->

        <!-- <a
          *ngIf="userType === 3"
          mat-list-item
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon>calendar_month</mat-icon></div>
            <div><mat-label>Calendar</mat-label></div>
          </div>
        </a> -->

        <a
          [routerLink]="['/interview']"
          mat-list-item
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon>supervised_user_circle</mat-icon></div>
            <div><mat-label>Interview</mat-label></div>
          </div>
        </a>

        <a
          *ngIf="userType === 3"
          mat-list-item
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon>notifications</mat-icon></div>
            <div><mat-label>Notifications</mat-label></div>
          </div>
        </a>
        <a
          *ngIf="userType === 3"
          mat-list-item
          [routerLink]="['/student-alumni']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon>Alumni</mat-icon></div>
            <div><mat-label>Alumni</mat-label></div>
          </div>
        </a>

        <a
          *ngIf="userType === 3"
          mat-list-item
          [routerLink]="['student_applied']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div class="sidebar-list-items">
            <div><mat-icon>student_applied</mat-icon></div>
            <div><mat-label>Applied Jobs</mat-label></div>
          </div>
        </a>

        <a
          *ngIf="userType === 3"
          mat-list-item
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <div class="sidebar-list-items">
            <div><mat-icon>feedback</mat-icon></div>
            <div><mat-label>Feedback and Support</mat-label></div>
          </div>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content class="sidenav-content">
      <div class="progress-bar-container">
        <mat-progress-bar
          color="accent"
          mode="indeterminate"
          *ngIf="spinnerService.visibility | async">
        </mat-progress-bar>

        <mat-spinner
          class="spinner"
          [diameter]="50"
          *ngIf="showSpinner"></mat-spinner>
      </div>

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
