<div class="calendar-container">
  <mat-card class="demo-inline-calendar-card">
    <mat-calendar [(selected)]="selected"></mat-calendar>
  </mat-card>
  <div>
    <div class="cards-container">
      <mat-card class="example-card" *ngFor="let event of events">
        <mat-card-content class="mat-card-content">
          <div class="company-inf">
            <p><strong>Company Name:</strong> {{ event.companyName }}</p>
            <p><strong>Job Title:</strong> {{ event.jobTitle }}</p>
            <p><strong>Round:</strong> {{ event.Round }}</p>
            <p><strong>Round Name:</strong> {{ event.RoundName }}</p>
          </div>
          <div class="company-timings">
            <p><strong>Event Date:</strong> {{ event.eventDate }}</p>
            <p><strong>Timings:</strong> {{ event.timings }}</p>
            <p><strong>Duration:</strong> {{ event.duration }}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
