<mat-card>
  <mat-card-header class="custom-card-header">
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="button-label-container">
          <div class="example-button-container" (click)="goBack()">
            <mat-icon>keyboard_backspace</mat-icon>
          </div>
          <div class="header-mat-label">
            <mat-label>SCHEDULED JOB LIST</mat-label>
          </div>
        </div>
      </div>
    </div>
    <mat-accordion> </mat-accordion>
  </mat-card-header>
  <mat-card-content class="mat-card-content">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container *ngFor="let column of columns" [matColumnDef]="column.key">
        <th mat-header-cell *matHeaderCellDef>
          <ng-container [ngSwitch]="column.key">
            <ng-container *ngSwitchDefault>{{ column.label }} </ng-container>
          </ng-container>
        </th>

        <td mat-cell *matCellDef="let element">
          <ng-container [ngSwitch]="column.key">
            <ng-container *ngSwitchCase="'actions'">
              <div class="td-mat-button">
                <button
                  mat-icon-button
                  (click)="openScheduledStudentsList(element.jobId)"
                >
                  <mat-icon> read_more </mat-icon>
                </button>
              </div>
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ element[column.key] }}
            </ng-container>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
