<mat-card>
  <mat-card-header class="custom-card-header">
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="button-label-container">
          <div class="example-button-container">
            <mat-icon (click)="goBack()" class="BackIcon"
              >keyboard_backspace</mat-icon
            >
          </div>

          <div class="header-mat-label">
            <mat-label>Students</mat-label>
          </div>
        </div>

        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select multiple>
              <mat-select-trigger> </mat-select-trigger>
              <mat-form-field appearance="outline">
                <input class="full-width" matInput placeholder="Search" />
              </mat-form-field>
              <mat-option disabled>No options</mat-option>
              <!-- <mat-option
              >
                {{ industry.Type }}
              </mat-option> -->

              <mat-dialog-actions class="mat-dialog-actions">
                <button mat-button mat-dialog-close>Reset</button>
                <button mat-raised-button class="matbutton">
                  <p class="matName">Show results</p>
                </button>
              </mat-dialog-actions>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Branch</mat-label>
            <mat-select multiple>
              <mat-select-trigger> </mat-select-trigger>
              <mat-form-field appearance="outline">
                <input class="full-width" matInput placeholder="Search" />
              </mat-form-field>
              <mat-option disabled>No options</mat-option>
              <!-- <mat-option
              >
                {{ industry.Type }}
              </mat-option> -->

              <mat-dialog-actions class="mat-dialog-actions">
                <button mat-button mat-dialog-close>Reset</button>
                <button mat-raised-button class="matbutton">
                  <p class="matName">Show results</p>
                </button>
              </mat-dialog-actions>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Batch</mat-label>
            <mat-select multiple>
              <mat-select-trigger> </mat-select-trigger>
              <mat-form-field appearance="outline">
                <input class="full-width" matInput placeholder="Search" />
              </mat-form-field>
              <mat-option disabled>No options</mat-option>
              <!-- <mat-option
              >
                {{ industry.Type }}
              </mat-option> -->

              <mat-dialog-actions class="mat-dialog-actions">
                <button mat-button mat-dialog-close>Reset</button>
                <button mat-raised-button class="matbutton">
                  <p class="matName">Show results</p>
                </button>
              </mat-dialog-actions>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Students</mat-label>
            <mat-select multiple>
              <mat-select-trigger> </mat-select-trigger>
              <mat-form-field appearance="outline">
                <input class="full-width" matInput placeholder="Search" />
              </mat-form-field>
              <mat-option disabled>No options</mat-option>
              <!-- <mat-option
              >
                {{ industry.Type }}
              </mat-option> -->

              <mat-dialog-actions class="mat-dialog-actions">
                <button mat-button mat-dialog-close>Reset</button>
                <button mat-raised-button class="matbutton">
                  <p class="matName">Show results</p>
                </button>
              </mat-dialog-actions>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>USN Number</mat-label>
            <mat-select multiple>
              <mat-select-trigger> </mat-select-trigger>
              <mat-form-field appearance="outline">
                <input class="full-width" matInput placeholder="Search" />
              </mat-form-field>
              <mat-option disabled>No options</mat-option>
              <!-- <mat-option
              >
                {{ industry.Type }}
              </mat-option> -->

              <mat-dialog-actions class="mat-dialog-actions">
                <button mat-button mat-dialog-close>Reset</button>
                <button mat-raised-button class="matbutton">
                  <p class="matName">Show results</p>
                </button>
              </mat-dialog-actions>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-card-header>

  <mat-stepper
    [orientation]="(stepperOrientation | async)!"
    [selectedIndex]="currentRoundIndex"
    (selectionChange)="onStepChange($event.selectedIndex)"
  >
    <mat-step
      *ngFor="let round of allDetails[0]?.Jobinterviewrounds; let i = index"
      [label]="round.Name ? round.Name : 'Undefined'"
    >
      <div>
        <button mat-button matStepperPrevious *ngIf="i > 0">Back</button>
        <button
          mat-button
          matStepperNext
          *ngIf="i < allDetails[0].Jobinterviewrounds.length"
        >
          Next
        </button>
      </div>
    </mat-step>
  </mat-stepper>

  <mat-card-content
    fxLayout="row wrap"
    fxLayoutAlign="start stretch"
    class="mat-card-content"
  >
    <ng-container
      *ngIf="
        allDetails[0].Jobinterviewrounds[currentRoundIndex].JobpostStudentrounds
          .length > 0;
        else noStudents
      "
    >
      <div
        *ngFor="
          let students of allDetails[0].Jobinterviewrounds[currentRoundIndex]
            .JobpostStudentrounds
        "
        fxFlex="100%"
        fxFlex.gt-sm="50%"
        fxFlex.gt-md="28%"
        fxFlex.gt-lg="25%"
        class="grid-item"
        class="mat-grid-tile"
        (click)="
          openInterviewMarksDetails(students.Id, students.JobPostingRoundId)
        "
      >
        <div class="company-details">
          <!-- <h3>{{ students.studentId }}</h3>
            <div class="company-type">{{ students.studentName }}</div> -->
          <p>
            <strong>Roll Number:</strong>
            {{ students?.Student?.RollNo }}
          </p>
          <p>
            <strong>Student Name:</strong>
            {{ students?.Student?.FirstName }} {{ students?.Student?.LastName }}
          </p>
          <p>
            <strong>Batch:</strong>
            {{ students?.Student?.Batch?.Name }}
          </p>
          <p>
            <strong>Branch:</strong>
            {{ students?.Student?.Studentacademics?.[0]?.Course?.FullForm }}
          </p>
        </div>
        <div class="company">
          <p>
            <strong>College Name:</strong>
            {{ students?.Student?.Org?.CollegeName }}
          </p>
          <p>
            <strong>Status:</strong>
            {{ students.HasPassed ? "Ongoing" : "Rejected" }}
          </p>
          <p>
            <strong>Performance Score:</strong>
            {{ students.Score }}
          </p>
        </div>
      </div>
    </ng-container>
    <ng-template #noStudents>
      <p>No students have passed.</p>
    </ng-template>
  </mat-card-content>
</mat-card>
