<!-- <mat-card> -->
<mat-card-header class="custom-card-header">
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <a [routerLink]="['/campus-configuration']">
          <mat-icon>keyboard_backspace</mat-icon>
        </a>
      </div>
      <div>
        <p class="matHeaderName">
          {{ calendarEventId ? "Edit Calendar Event" : "Add Calendar Event" }}
        </p>
      </div>
    </div>
  </div>
</mat-card-header>
<mat-divider></mat-divider>
<form [formGroup]="addEditCalendarEventForm">
  <mat-card>
    <mat-card-content>
      <div fxLayout="row wrap">
        <div
          class="row-wrap-content"
          fxFlex="100%"
          fxFlex.gt-md="50%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p>Training Timings</p>
          <mat-form-field appearance="fill">
            <mat-label>Start Time</mat-label>
            <input matInput [ngxTimepicker]="startTimePicker" />
            <ngx-material-timepicker #startTimePicker></ngx-material-timepicker>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>End Time</mat-label>
            <input matInput [ngxTimepicker]="endTimePicker" />
            <ngx-material-timepicker #endTimePicker></ngx-material-timepicker>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row wrap">
        <div
          class="row-wrap-content"
          fxFlex="100%"
          fxFlex.gt-md="50%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p>Training Duration</p>
          <mat-form-field appearance="fill">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="startDatePicker" />
            <mat-datepicker-toggle
              matSuffix
              [for]="startDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="endDatePicker" />
            <mat-datepicker-toggle
              matSuffix
              [for]="endDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card-actions class="footer-actions">
    <button mat-raised-button>Reset</button>
    <button mat-raised-button class="matbutton" type="submit">
      <p class="matName">
        {{ calendarEventId ? "Update" : "Add" }}
      </p>
    </button>
  </mat-card-actions>
</form>
<!-- </mat-card> -->
