<!-- <mat-card> -->
<mat-card-header class="custom-card-header">
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <a [routerLink]="['/campus-configuration']">
          <mat-icon>keyboard_backspace</mat-icon>
        </a>
      </div>
      <div>
        <p class="matHeaderName">
          {{ inviteId ? "Edit Invitation Details" : "Add Invitation Details" }}
        </p>
      </div>
    </div>
  </div>
</mat-card-header>
<mat-divider></mat-divider>
<form [formGroup]="addEditInvitationForm">
  <mat-card>
    <mat-card-content>
      <div fxLayout="row wrap">
        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Company Name</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>Company Name</mat-label>
            <input matInput placeholder="Company Name" />
          </mat-form-field>
        </div>

        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Company Name</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>Company Name</mat-label>
            <input matInput placeholder="Company Name" />
          </mat-form-field>
        </div>

        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Company Name</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>Company Name</mat-label>
            <input matInput placeholder="Company Name" />
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row wrap">
        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Company Name</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>Company Name</mat-label>
            <input matInput placeholder="Company Name" />
          </mat-form-field>
        </div>

        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Company Name</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>Company Name</mat-label>
            <input matInput placeholder="Company Name" />
          </mat-form-field>
        </div>

        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Company Name</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>Company Name</mat-label>
            <input matInput placeholder="Company Name" />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card-actions class="footer-actions">
    <button mat-raised-button class="matbutton">
      <p class="matName">Reset</p>
    </button>
    <button mat-raised-button class="matbutton" type="submit">
      <p class="matName">
        {{ inviteId ? "Update" : "Add" }}
      </p>
    </button>
  </mat-card-actions>
</form>
<!-- </mat-card> -->
