<!-- <mat-card> -->
<mat-card-header class="custom-card-header">
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <a [routerLink]="['/campus-configuration']">
          <mat-icon>keyboard_backspace</mat-icon>
        </a>
      </div>
      <div>
        <p class="matHeaderName">
          {{ Id ? "Edit Invitation Details" : "Add Invitation Details" }}
        </p>
      </div>
    </div>
  </div>
</mat-card-header>
<mat-divider></mat-divider>
<form [formGroup]="addEditInvitationForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-content>
      <div fxLayout="row wrap">
        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Invitation Template</p>
          <mat-form-field appearance="fill" class="matFormField">
            <mat-label>Invitation Template</mat-label>
            <mat-select formControlName="InvitationTemplateId">
              <mat-option
                *ngFor="let invitationTemplate of invitationTemplates"
                [value]="invitationTemplate.id"
              >
                {{ invitationTemplate.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Recipients</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>Recipients</mat-label>
            <input matInput formControlName="Recipients" />
          </mat-form-field>
        </div>

        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Cc</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>Cc</mat-label>
            <input matInput formControlName="Cc" />
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row wrap">
        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Bcc</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>Bcc</mat-label>
            <input matInput formControlName="Bcc" />
          </mat-form-field>
        </div>

        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">From</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>From</mat-label>
            <input matInput formControlName="From" />
          </mat-form-field>
        </div>

        <!-- <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Is Accepted</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>IsAccepted</mat-label>
            <input matInput formControlName="IsAccepted" />
          </mat-form-field>
        </div> -->
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card-actions class="footer-actions">
    <button
      mat-raised-button
      class="matbutton"
      type="button"
      (click)="onReset()"
    >
      <p class="matName">Reset</p>
    </button>
    <button mat-raised-button class="matbutton" type="submit">
      <mat-icon class="maticon">mail</mat-icon>
      <p class="matName">
        send
        <!-- {{ inviteId ? "Update" : "Add" }} -->
      </p>
    </button>
  </mat-card-actions>
</form>
<!-- </mat-card> -->
