<div>
  <h1 class="header-mat-label">Forum</h1>
</div>

<div class="search-container">
  <mat-form-field appearance="outline" style="align-content: left">
    <mat-label>Search Company</mat-label>
    <input
      type="text"
      matInput
      [formControl]="companyControl"
      [matAutocomplete]="auto" />

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let company of filteredCompany | async"
        [value]="company.name"
        (onSelectionChange)="openAlumniForum(company.name)">
        {{ company.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

<div class="company-cards">
  <div *ngFor="let company of companiesCard" class="company-card">
    <h3>{{ company.name }}</h3>
    <br />
    <p>Students Placed: {{ company.studentsPlaced }}</p>
    <p>Status: {{ company.progress }}</p>
    <button (click)="openAlumniForum(company.name)">View Alumni</button>
  </div>
</div>
