* {
  box-sizing: border-box;
}

.TitleLogo {
  width: 10%;
  min-width: 80px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  flex-grow: 1;
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
}

.example-button-container {
  display: flex;
  align-items: center;
}

.mat-card {
  width: 100%;
  height: 100vh;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  /* position: relative; */
  padding: 16px;
}

.full-width {
  width: 100%;
}

.card-title {
  text-align: center;
}

.form-fields p {
  flex: 1;
  min-width: 45%;
}

button {
  margin: 0 8px 8px 0;
}

.mat-form-field {
  width: 100%;
}

.matbutton {
  background-color: #3f51b5;
}

.anchorTags a {
  color: #3b6ab0;
  text-decoration: none;
  cursor: pointer;
}

.matFormField {
  width: 90%;
}

.grid-label {
  margin-bottom: 4px;
}

/* @media (max-width: 600px) {
  .matFormField {
    width: 100%;
  }
} */

.mat-form-field:last-child {
  margin-bottom: 80px;
}

.registration-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.matbutton:hover {
  background-color: #45a049;
}

.reset-button {
  /* background-color: black; */
  color: white;
  background-color: darkblue;
}

.reset-button:hover {
  background-color: #e53935;
  color: black;
}

.submit-button {
  /* background-color: black; */
  color: white;
  background-color: darkblue;
}

.submit-button:hover {
  background-color: #45a049;
  color: black;
}

.footer-actions {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  background: #fff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.footer-actions button {
  margin-left: 10px;
}

.matName {
  color: white;
}
