<mat-card-header class="custom-card-header">
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <a [routerLink]="['/training-configuration']">
          <mat-icon>keyboard_backspace</mat-icon>
        </a>
      </div>
      <div>
        <p class="matHeaderName">
          {{ Id ? "Edit Trainer" : "Add Trainer" }}
        </p>
      </div>
    </div>
  </div>
</mat-card-header>
<mat-divider></mat-divider>
<form [formGroup]="addEditTrainerForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-content>
      <div fxLayout="row wrap">
        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Trainer Name</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>Trainer Name</mat-label>
            <input matInput formControlName="Name" />
          </mat-form-field>
        </div>

        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Email</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>Email</mat-label>
            <input matInput formControlName="Email" type="email" />
          </mat-form-field>
        </div>

        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Contact Number</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>Contact Number</mat-label>
            <input matInput formControlName="PhoneNumber" />
          </mat-form-field>
        </div>
        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Company name</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>Company name</mat-label>
            <input matInput formControlName="CompanyName" />
          </mat-form-field>
        </div>
        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Training</p>
          <mat-form-field class="matFormField">
            <mat-label>Training </mat-label>
            <mat-select formControlName="TrainerType">
              <mat-option *ngFor="let type of Training" [value]="type">
                {{ type }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card-actions class="footer-actions">
    <button
      mat-raised-button
      class="matbutton"
      (click)="onReset()"
      type="button"
    >
      <p class="matName">Reset</p>
    </button>
    <button mat-raised-button class="matbutton" type="submit">
      <p class="matName">
        {{ Id ? "Update" : "Add" }}
      </p>
    </button>
  </mat-card-actions>
</form>
