<div class="dashboard-container">
  <div class="left-column">
    <div class="welcome-card welcome-header">
      <h2>Welcome, {{ studentName }}!</h2>
      <p>Here’s an overview of your placement journey so far.</p>
    </div>

    <mat-card class="placement-stats-card">
      <mat-card-title style="color: white">Placement Statistics</mat-card-title>
      <div class="stats-section">
        <div
          style="color: white; cursor: pointer"
          [routerLink]="['/student_applied']">
          <h2 class="stats-header">{{ stats.applicationsSent }}</h2>
          <p>Applications Sent</p>
        </div>
        <div class="divider"></div>
        <div
          style="color: white; cursor: pointer"
          [routerLink]="['/interview']">
          <h2 class="stats-header">{{ stats.interviewsAttended }}</h2>
          <p>Interviews Attended</p>
        </div>
        <div class="divider"></div>
        <div style="color: white">
          <h2 class="stats-header">{{ stats.offersReceived }}</h2>
          <p>Offers Received</p>
        </div>
      </div>
    </mat-card>

    <div class="previous-interviews">
      <h2>Previously Attended Interviews</h2>
      <div class="job-applications-section">
        <div
          *ngFor="let job of jobApplications"
          class="job-card mat-card"
          [routerLink]="[
            '/student-company/student-jobs/student-job-description/1'
          ]"
          style="cursor: pointer">
          <div class="status-badge" [ngClass]="getStatusClass(job.status)">
            {{ job.status }}
          </div>
          <mat-card-title>{{ job.company }}</mat-card-title>
          <mat-card-subtitle>{{ job.jobRole }}</mat-card-subtitle>
          <p>Interview Date: {{ job.interviewDate | date : 'longDate' }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Right Column -->
  <!-- <div class="right-column">
    <mat-card class="notifications-card">
      <mat-card-title>Reminder!</mat-card-title>
      <mat-list>
        <mat-list-item *ngFor="let notification of notifications">
          <mat-icon matListIcon>notifications</mat-icon>
          <h4 matLine>{{ notification.title }}</h4>
          <p matLine>{{ notification.details }}</p>
        </mat-list-item>
      </mat-list>
    </mat-card>

    <mat-card class="interview-schedule-card">
      <mat-card-title>Notifications</mat-card-title>
      <mat-list>
        <mat-list-item *ngFor="let interview of interviewSchedule">
          <mat-icon>event</mat-icon>
          <h4 matLine>{{ interview.company }}</h4>
          <p matLine>{{ interview.date | date }} - {{ interview.time }}</p>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div> -->

  <div class="right-content">
    <div class="notification-heading">
      <h3>Notifications</h3>
    </div>
    <div class="related-jobs">
      <ul>
        <li
          *ngFor="let notification of notifications"
          [ngClass]="{
            'reminder-notification': notification.title.includes('Reminder'),
            'other-notification':
              !notification.title.includes('Reminder') &&
              !notification.title.includes('Congratulations'),
            'success-notification':
              notification.title.includes('Congratulations')
          }"
          style="cursor: pointer"
          [routerLink]="[
            '/student-company/student-jobs/student-job-description/1'
          ]">
          <h4>{{ notification.title }}</h4>
          <span>{{ notification.details }}</span>
        </li>
      </ul>
    </div>

    <div class="interview-schedule-heading">
      <h3>Interview Schedule</h3>
    </div>
    <div class="interview-schedule">
      <ul>
        <li
          *ngFor="let interview of interviewSchedule"
          [ngClass]="'interview-schedule-notification'"
          [routerLink]="['/interview']"
          style="cursor: pointer">
          <h4>{{ interview.company }}</h4>
          <span>{{ interview.date | date }} - {{ interview.time }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
