<div class="left-content">
  <div class="welcome-card">
    <h2>Welcome, {{ HRName }}!</h2>
  </div>
  <div class="upcoming-drive-container">
    <h3>Upcoming Campus Drives</h3>
    <p>Here is your schedule for this week:</p>
    <!-- New paragraph added here -->
    <div class="upcoming-drive-row">
      <div *ngFor="let interview of upcomingDrives" class="upcoming-drive-card">
        <mat-card>
          <mat-card-content>
            <h4>{{ interview.date | date : 'MMM d, y, EEEE' }}</h4>
            <p>
              <strong>Job Role:</strong> {{ interview.jobRole }} <br />
              <strong>Venue:</strong> {{ interview.venue }} <br />
              <strong>Round:</strong> {{ interview.round }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <!-- <h3>
    <mat-icon>show_chart</mat-icon>
    Charts Overview
  </h3> -->
  <div class="chart-container">
    <mat-card class="simple-pie-chart">
      <app-simple-pie-chart
        [branchPlacementSeries]="noOfJobRolesOpenings"
        [branchLabels]="jobRoleNames"
        titleText="Job Openings based on Job-Roles"></app-simple-pie-chart
    ></mat-card>
  </div>
  <div class="chart-container">
    <app-funnel-chart></app-funnel-chart>
  </div>
</div>

<div class="right-content">
  <div class="notification-heading">
    <h3>Notifications</h3>
  </div>
  <div class="related-jobs">
    <ul>
      <li
        *ngFor="let notification of notifications"
        [ngClass]="{
          'reminder-notification': notification.title.includes('Reminder'),
          'other-notification': !notification.title.includes('Reminder')
        }">
        <h4>{{ notification.title }}</h4>
        <span>{{ notification.details }}</span>
      </li>
    </ul>
  </div>

  <div class="interview-schedule-heading">
    <h3>Interview Schedule</h3>
  </div>
  <div class="interview-schedule">
    <ul>
      <li
        *ngFor="let interview of interviewSchedule"
        class="interview-schedule-notification">
        <h4>{{ interview.date | date : 'MMM d, y, EEEE' }}</h4>
        <span>Name of Candidate: {{ interview.candidate }}</span>
        <span>Job Role: {{ interview.position }}</span>
        <span>Time: {{ interview.time }}</span>
      </li>
    </ul>
  </div>
</div>
