body {
  font-family: 'Roboto', sans-serif;
}
input,
textarea {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
button {
  padding: 8px 15px;
  border-radius: 5px;
  background-color: #3f51b5;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
mat-card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin: 16px auto;
}
.personal-details-container {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Adds a gap between the columns */
}

.left-column,
.right-column {
  width: 48%;
}

input,
textarea {
  width: 100%;
}
label {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}
.mat-chip-row {
  border-radius: 20px;
  background-color: #e0f7fa;
  color: #007bff;
  margin-right: 8px;
}
.crosslang {
  background-color: transparent;
  margin-top: 14px;
  border-radius: 20px;
}

.header-mat-label {
  margin-left: 1rem;
  font-weight: bolder;
  font-size: x-large;
  color: #004080;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .resume-builder-container {
    padding: 15px;
  }

  .personal-details-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .left-column,
  .right-column {
    width: 100%;
  }
}
div {
  margin-bottom: 5px;
  padding: 25px;
}
.side-by-side-container {
  display: flex;
  justify-content: space-between; /* Places the two sections on either side */
  gap: 20px; /* Adds spacing between the two sections */
}

.hobbies-section,
.curricular-section {
  width: 48%; /* Each section takes up 48% of the width for some spacing */
}

h3,
h4 {
  margin-bottom: 10px;
}

input {
  width: 100%;
  margin-bottom: 10px;
}

button {
  margin-bottom: 20px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}
section {
  padding: 15 px;
}
