<div class="dialog-container">
  <button
    mat-raised-button
    color="primary"
    class="mat-button"
    (click)="onDownloadClick()">
    <mat-icon>file_download</mat-icon>Download Format
  </button>
  <div class="dialog-header">
    <!-- <mat-icon>download</mat-icon>
    <h3>Download Format</h3> -->
  </div>
  <div class="dialog-body">
    <label for="fileInput"><strong>Select File to Upload: </strong></label>
    <input id="fileInput" type="file" (change)="onFileSelected($event)" />
  </div>
  <div class="dialog-footer">
    <button mat-raised-button color="primary" (click)="onUpload()">
      Upload
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
  </div>
</div>
