<mat-card-header class="custom-card-header">
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <a [routerLink]="['/training-configuration']">
          <mat-icon>keyboard_backspace</mat-icon>
        </a>
      </div>
      <div>
        <p class="matHeaderName">
          {{ Id ? "Edit Schedule details" : "Add Schedule details" }}
        </p>
      </div>
    </div>
  </div>
</mat-card-header>
<mat-divider></mat-divider>
<form [formGroup]="addEditScheduleForm" (ngSubmit)="onSubmit()">
  <mat-card class="mat-card">
    <mat-card-content>
      <div fxLayout="row wrap">
        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Company</p>
          <mat-form-field class="matFormField">
            <mat-label>select </mat-label>
            <mat-select formControlName="CompanyId">
              <mat-option
                *ngFor="let company of companies"
                [value]="company.Id"
              >
                {{ company.Name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">School</p>
          <mat-form-field class="matFormField">
            <mat-label>select</mat-label>
            <mat-select multiple formControlName="SchoolId">
              <mat-option> </mat-option
            ></mat-select>
          </mat-form-field>
        </div>
        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Students</p>
          <mat-form-field class="matFormField">
            <mat-label>Select </mat-label>
            <mat-select multiple formControlName="StudentId">
              <mat-option> </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row wrap">
        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Course</p>
          <mat-form-field class="matFormField">
            <mat-label>Select </mat-label>
            <mat-select formControlName="CourseId">
              <mat-option *ngFor="let course of courses" [value]="course.Id">
                {{ course.Name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Trainers</p>
          <mat-form-field class="matFormField">
            <mat-label>select </mat-label>
            <mat-select formControlName="TrainerId">
              <mat-option *ngFor="let trainer of trainers" [value]="trainer.Id">
                {{ trainer.Name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Schedule Type</p>
          <mat-form-field class="matFormField">
            <mat-label>Schedule Type</mat-label>
            <mat-select formControlName="ScheduleType">
              <mat-option *ngFor="let type of scheduleTypes" [value]="type">
                {{ type }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row wrap">
        <div
          class="row-wrap-content"
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p>Start Date</p>
          <mat-form-field appearance="fill" class="matFormField">
            <mat-label>Start Date</mat-label>
            <input
              formControlName="StartDate"
              matInput
              [matDatepicker]="startDatePicker"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="startDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
          </mat-form-field>
          <p>Start Time</p>
          <mat-form-field appearance="fill" class="matFormField">
            <mat-label>Start Time</mat-label>
            <input
              id="StartTimePicker"
              matInput
              [ngxTimepicker]="startTimePicker"
            />
            <ngx-material-timepicker #startTimePicker></ngx-material-timepicker>
          </mat-form-field>
        </div>
        <div
          class="row-wrap-content"
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p>End Date</p>
          <mat-form-field appearance="fill" class="matFormField">
            <mat-label>End Date</mat-label>
            <input
              formControlName="EndDate"
              matInput
              [matDatepicker]="endDatePicker"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="endDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field>

          <p>End Time</p>
          <mat-form-field appearance="fill" class="matFormField">
            <mat-label>End Time</mat-label>
            <input
              id="EndTimePicker"
              matInput
              [ngxTimepicker]="endTimePicker"
            />
            <ngx-material-timepicker #endTimePicker></ngx-material-timepicker>
          </mat-form-field>
        </div>
      </div>

      <!-- <div fxLayout="row wrap">
        <div
          class="row-wrap-content"
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p>Start Date</p>
          <mat-form-field appearance="fill">
            <mat-label>Start Date</mat-label>
            <input
              formControlName="StartDate"
              matInput
              [matDatepicker]="startDatePicker"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="startDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div
          class="row-wrap-content"
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p>Start Time</p>
          <mat-form-field appearance="fill">
            <mat-label>Start Time</mat-label>
            <input matInput [ngxTimepicker]="startTimePicker" />
            <ngx-material-timepicker #startTimePicker></ngx-material-timepicker>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row wrap">
        <div
          class="row-wrap-content"
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p>End Date</p>
          <mat-form-field appearance="fill">
            <mat-label>End Date</mat-label>
            <input
              formControlName="EndDate"
              matInput
              [matDatepicker]="endDatePicker"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="endDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field>
        </div>

        <div
          class="row-wrap-content"
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p>End Time</p>
          <mat-form-field appearance="fill">
            <mat-label>End Time</mat-label>
            <input matInput [ngxTimepicker]="endTimePicker" />
            <ngx-material-timepicker #endTimePicker></ngx-material-timepicker>
          </mat-form-field>
        </div>
      </div> -->
    </mat-card-content>
  </mat-card>
  <mat-card-actions class="footer-actions">
    <button mat-raised-button class="matbutton" type="button">
      <p class="matName">Reset</p>
    </button>
    <button mat-raised-button class="matbutton" type="submit">
      <p class="matName">
        {{ Id ? "Update" : "Add" }}
      </p>
    </button>
  </mat-card-actions>
</form>
