.header-mat-label {
  margin-left: 2.5rem;
  font-weight: bolder;
  font-size: x-large;
  color: #004080;
  margin-bottom: 10px;
}

.main-div {
  padding: 2.5rem;
}

.calendar {
  width: 70%;
  overflow: visible; 
}

.custom-dialog-container {
  z-index: 1050; /* Ensure this is higher than any other elements */
  position: relative; /* This helps in establishing a stacking context */
}
