.mat-mdc-card-header {
  display: unset;
  padding-right: 28px;
}
.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 95%;
}

.example-button-container {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.button-label-container {
  display: flex;
  align-items: center;
}

.header-mat-label {
  margin-left: 3rem;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bolder;
  font-size: larger;
}

table {
  width: 100%;
}

.matbutton {
  background-color: #3f51b5;
}
.maticon {
  color: white;
}
.matName {
  color: white;
}
.mdc-checkbox__native-control {
  border-color: var(--mdc-checkbox-selected-icon-color);
  background-color: black;
}
.td-mat-button {
  display: flex;
}
cdk-overlay-pane {
  width: auto;
}
.mat-dialog-actions {
  display: flex;
}
.custom-dropdown-panel {
  width: auto;
}

.offer-container {
  padding: 10px; /* Adds space around the container */
  background-color: #f5f5f5; /* Optional for a light background */
  border-radius: 8px; /* Rounds the corners for a smoother appearance */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}

/* .mr-2 {
  margin-right: 8px;
} */

.company-details {
  text-align: left; /* Aligns the text properly within the tile */
}

.mat-icon-button {
  color: #3f51b5; /* Changes button icon color */
}

.mat-grid-tile {
  border-radius: 0.5rem;
  background-color: #ededed;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin: 1em;
}
.mat-grid-tile:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), -2px -2px 2px rgba(0, 0, 0, 0.2);
  transform: scale(1.3);
  background-color: white;
  color: black;
}
.company-details {
  text-align: left;
  margin: 0.5rem;
}

.company {
  text-align: right;
  margin: 0.5rem;
}

.mat-card-content {
  display: flex;
  justify-content: space-evenly;
}
