<mat-card>
  <div class="main-div">
    <mat-card-header class="custom-card-header">
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container" (click)="goBack()">
            <mat-icon>keyboard_backspace</mat-icon>

            <div class="header-mat-label">
              <mat-label>Applied Jobs</mat-label>
            </div>
          </div>
        </div>

        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Search Company</mat-label>
            <input
              type="text"
              aria-label="Number"
              matInput
              [formControl]="companyControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option
                *ngFor="let company of filteredCompany | async"
                [value]="company.Name"
              >
                {{ company.Name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select
              [formControl]="CityControl"
              multiple
              (openedChange)="onStatusDropdownOpen()"
              panelClass="custom-dropdown-panel"
            >
              <mat-select-trigger>
                {{ selectedCompanyCities }}
              </mat-select-trigger>
              <mat-form-field appearance="outline">
                <input
                  class="full-width"
                  matInput
                  [(ngModel)]="searchCity"
                  (ngModelChange)="filterCities($event)"
                  placeholder="Search"
                />
              </mat-form-field>
              <mat-option *ngIf="!filteredCompanies.length" disabled
                >No options</mat-option
              >
              <mat-option
                *ngFor="let company of filteredCompanies"
                [value]="company.City"
              >
                {{ company.City }}
              </mat-option>
              <mat-dialog-actions class="mat-dialog-actions">
                <button
                  mat-button
                  mat-dialog-close
                  (click)="resetLocationSelection()"
                >
                  Reset
                </button>
                <button
                  mat-raised-button
                  class="matbutton"
                  (click)="showLocationResults()"
                >
                  <p class="matName">Show results</p>
                </button>
              </mat-dialog-actions>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Job Role</mat-label>
            <mat-select
              [formControl]="industryControl"
              multiple
              (openedChange)="onIndustryDropdownOpen()"
            >
              <mat-select-trigger>
                {{ selectedIndustries }}
              </mat-select-trigger>
              <mat-form-field appearance="outline">
                <input
                  class="full-width"
                  matInput
                  [(ngModel)]="searchIndustry"
                  (ngModelChange)="filterIndustries($event)"
                  placeholder="Search"
                />
              </mat-form-field>
              <mat-option *ngIf="!filteredIndustries.length" disabled
                >No options</mat-option
              >
              <mat-option
                *ngFor="let industry of filteredIndustries"
                [value]="industry.Type"
              >
                {{ industry.Type }}
              </mat-option>

              <mat-dialog-actions class="mat-dialog-actions">
                <button
                  mat-button
                  mat-dialog-close
                  (click)="resetIndustrySelection()"
                >
                  Reset
                </button>
                <button
                  mat-raised-button
                  class="matbutton"
                  (click)="showIndustryResults()"
                >
                  <p class="matName">Show results</p>
                </button>
              </mat-dialog-actions>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-header>

    <mat-card-content
      fxLayout="row wrap"
      fxLayoutAlign="start stretch"
      class="mat-card-content"
    >
      <div
        *ngFor="let company of companiesCard"
        fxFlex="100%"
        fxFlex.gt-sm="50%"
        fxFlex.gt-md="28%"
        fxFlex.gt-lg="25%"
        class="mat-grid-tile"
      >
        <div class="company-details">
          <img alt="Company Logo" class="company-logo" />
          <h3>{{ company.name }}</h3>

          <div class="company-type">{{ company.job_role }}</div>
        </div>
        <div class="company">
          <h4>
            Status:
            <span class="rating">{{ company.status }}</span>
          </h4>
          <h4>
            Progress:
            <span class="rating">{{ company.progress }}</span>
          </h4>
          <div
            fxLayout="row"
            fxLayoutAlign="end center"
            class="download-container"
          >
            <!-- <h4 style="margin-right: 4px">Offer Letter</h4> -->
            <button
              mat-stroked-button
              style="background-color: blue; color: white"
              (click)="downloadOfferLetter()"
            >
              Offer Letter
              <mat-icon>download</mat-icon>
            </button>
            <!-- <button
              mat-icon-button
              (click)="downloadOfferLetter()"
              aria-label="Download"
            >
              <mat-icon>download</mat-icon>
            </button> -->
          </div>
          <!-- <span class="rating">{{ company.placedStudents }}</span> -->
        </div>
        <!-- </mat-grid-tile>
    </mat-grid-list> -->
      </div>
    </mat-card-content>
  </div>
</mat-card>
