<mat-card>
  <mat-card-header class="custom-card-header">
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="button-label-container">
          <div class="example-button-container">
            <mat-icon>keyboard_backspace</mat-icon>
          </div>
          <div class="header-mat-label">
            <mat-label>INDENT VIEW</mat-label>
          </div>
        </div>
        <div class="example-button-container">
          <button
            mat-raised-button
            class="matbutton"
            (click)="openAddEditIndentForm()">
            <mat-icon class="maticon">add</mat-icon>
            <p class="matButtonText">Add Indent</p>
          </button>
        </div>
      </div>
    </div>
  </mat-card-header>

  <div>
    <div>
      <mat-form-field appearance="outline" class="mat-select">
        <mat-label>Select Name of the University</mat-label>
        <mat-select multiple>
          @for (uni of universityTypes; track uni) {
          <mat-option [value]="uni">{{ uni }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="mat-select">
        <mat-label>Select Name of the College</mat-label>
        <mat-select multiple>
          @for (college of colleges; track college) {
          <mat-option [value]="college">{{ college }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <mat-card-content
    fxLayout="row wrap"
    fxLayoutAlign="start stretch"
    class="mat-card-content">
    <div
      *ngFor="let indent of dataSource.data"
      fxFlex="100%"
      fxFlex.gt-sm="50%"
      fxFlex.gt-md="28%"
      fxFlex.gt-lg="25%"
      class="grid-item"
      class="mat-grid-tile">
      <div class="company-details">
        <p>
          <strong>Designation: {{ indent.ContactPersonDesignation }}</strong>
        </p>
        <div class="company-type">
          <p><strong>Company Name:</strong> {{ indent.CompanyName }}</p>
        </div>

        <p><strong>Email:</strong> {{ indent.Email }}</p>
      </div>

      <div class="company">
        <p><strong>Phone No:</strong> {{ indent.PhoneNumber }}</p>
        <div *ngIf="UserRoleId !== 3">
          <p>
            <strong>Required Items:</strong>
            {{ indent.RequiredItem }}
          </p>
          <p>
            <strong>Quantity:</strong>
            {{ indent.Quatity }}
          </p>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
