<mat-dialog-content>
  <div>
    <div style="display: flex; justify-content: space-between">
      <mat-label class="mat-label">Additional Filters</mat-label>
      <mat-icon mat-button mat-dialog-close style="cursor: pointer"
        >cancel</mat-icon
      >
    </div>
    <br>
    <mat-form-field class="example-full-width full-width" appearance="outline">
      <mat-label>Skills</mat-label>
      <input
        type="text"
        aria-label="Number"
        matInput
        [matAutocomplete]="auto"
        class="full-width"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
        (optionSelected)="onCompanySelected($event)"
      >
        <mat-option
          *ngFor="let company of filteredCompany | async"
          [value]="company.Name"
        >
          {{ company.Name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Salary Range</mat-label>
      <mat-select [formControl]="salaryRangeControl" multiple>
        @for (salaryRange of salaryRanges; track salaryRange) {
        <mat-option [value]="salaryRange">{{ salaryRange }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-full-width full-width" appearance="outline">
      <mat-label>Mode of work</mat-label>
      <input
        type="text"
        aria-label="Number"
        matInput
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
        (optionSelected)="onCompanySelected($event)"
      >
        <mat-option
          *ngFor="let company of filteredCompany | async"
          [value]="company.Name"
        >
          {{ company.Name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="mat-dialog-actions">
  <button mat-button mat-dialog-close>Reset</button>
  <button
    mat-raised-button
    class="matbutton"
    (click)="openAddEditCompanyForm()"
  >
    <p class="matName">Show results</p>
  </button>
</mat-dialog-actions>
