<!-- <mat-card> -->
<mat-card-header class="custom-card-header">
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <a [routerLink]="['/company-configuration']">
          <mat-icon>keyboard_backspace</mat-icon>
        </a>
      </div>
      <div>
        <p class="matHeaderName">
          {{ Id ? "Edit Technology" : "Add Technology" }}
        </p>
      </div>
    </div>
  </div>
</mat-card-header>
<mat-divider></mat-divider>
<form [formGroup]="addEditCompanyTechnologyForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-content>
      <div fxLayout="row wrap">
        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Company</p>
          <mat-form-field class="mat-form-field">
            <mat-label>Select Company</mat-label>
            <mat-select formControlName="CompanyName">
              <mat-option
                *ngFor="let company of companies"
                [value]="company.Id"
              >
                {{ company.Name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Technology</p>
          <mat-form-field class="mat-form-field">
            <mat-label>Select Technology</mat-label>
            <mat-select formControlName="Technologies" multiple>
              <mat-option
                *ngFor="let technology of technologies"
                [value]="technology.Id"
              >
                {{ technology.Name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card-actions class="footer-actions">
    <button
      mat-raised-button
      class="matbutton"
      type="button"
      (click)="onReset()"
    >
      <p class="matName">Reset</p>
    </button>
    <button mat-raised-button class="matbutton" type="submit">
      <p class="matName">
        {{ Id ? "Update" : "Add" }}
      </p>
    </button>
  </mat-card-actions>
</form>
<!-- </mat-card> -->
