button {
  margin: 0 8px 8px 0;
}
.mat-mdc-card-header {
  display: unset;
}
.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
/* .example-button-container :hover {
  background-color: rgb(234, 234, 234);
} */
.button-label-container {
  display: flex;
  align-items: center;
}

.header-mat-label {
  margin-left: 3rem;
  font-weight: bolder;
  font-size: larger;
}

table {
  width: 100%;
}

.matbutton {
  background-color: #3f51b5;
}
.maticon {
  color: white;
}
.matName {
  color: white;
}
.mdc-checkbox__native-control {
  border-color: var(--mdc-checkbox-selected-icon-color);
  background-color: black;
}
.td-mat-button {
  display: flex;
}
cdk-overlay-pane {
  width: auto;
}
.mat-dialog-actions {
  display: flex;
}
.custom-dropdown-panel {
  width: auto;
}

.mat-grid-tile {
  border-radius: 0.5rem;
  background-color: #ededed;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin: 1em;
}
.mat-grid-tile:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), -2px -2px 2px rgba(0, 0, 0, 0.2);
  transform: scale(1.3);
  background-color: white;
  color: black;
}

.company-details {
  text-align: left;
  margin: 0.5rem;
}

.company {
  text-align: left; /* Align text to the left */
  margin: 0.5rem;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  gap: 0.4rem;
}
