.card-header-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 0 50px 0;
}

.card-header-container div {
  width: 100%;
  cursor: pointer;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}
.mat-mdc-card-title {
  color: darkblue;
}
.example-button-container {
  cursor: pointer;
}
