<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="card-header-container">
      <div>
        <mat-icon (click)="goBack()" class="BackIcon"
          >keyboard_backspace</mat-icon
        ><mat-card-title class="header">Offer Details </mat-card-title>
      </div>
      <div>
        <mat-card-subtitle class="flex-container">
          <span
            ><strong>College Name:</strong
            >{{ interviewDetails?.collegeName }}</span
          >
          <span
            ><strong>Student Name:</strong
            >{{ interviewDetails?.studentName }}</span
          >
        </mat-card-subtitle>
        <mat-card-subtitle class="flex-container">
          <span><strong>Branch:</strong>{{ interviewDetails?.branch }}</span>
          <span><strong>Job Id:</strong>{{ interviewDetails?.jobId }}</span>
        </mat-card-subtitle>
        <mat-card-subtitle class="flex-container">
          <span><strong>Batch:</strong>{{ interviewDetails?.batch }}</span>
          <span><strong>Stream:</strong>{{ interviewDetails?.stream }}</span>

          <span><strong>Job Role:</strong>{{ interviewDetails?.jobRole }}</span>
        </mat-card-subtitle>
      </div>
    </div>
    <div class="button-section" *ngIf="UserRoleId === 3">
      <button
        mat-raised-button
        color="primary"
        (click)="acceptOffer()"
        [disabled]="isOfferAccepted()"
      >
        Accept
      </button>
      <button
        mat-raised-button
        color="warn"
        (click)="rejectOffer()"
        [disabled]="isOfferAccepted()"
      >
        Reject
      </button>
    </div>
  </mat-card-header>

  <div class="student-details-container">
    <div class="student-column">
      <div><strong>Student Name:</strong> Ranjtha</div>
      <div><strong>College Name:</strong> ABC College</div>
    </div>
    <div class="student-column">
      <div><strong>Branch:</strong> Computer Science</div>
      <div><strong>Job Id:</strong> DV1234</div>
    </div>
    <div class="student-column">
      <div><strong>Batch:</strong> 2023</div>
      <div><strong>Job Role:</strong> Software Engineer</div>
    </div>
  </div>

  <mat-card-content class="table-container">
    <table
      mat-table
      [dataSource]="detailsDataSource"
      class="student-table mat-elevation-z8"
      *ngIf="true"
    >
      <ng-container *ngFor="let column of columns" [matColumnDef]="column.key">
        <th mat-header-cell *matHeaderCellDef>{{ column.label }}</th>
        <td mat-cell *matCellDef="let element">
          <ng-container [ngSwitch]="column.key">
            <ng-container *ngSwitchDefault>
              {{ element[column.key] }}
            </ng-container>
          </ng-container>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
