<div>
  <div class="Heading">
    <h1 class="header" mat-dialog-title>
      {{ roundId ? "Edit Rounds" : "Add Rounds" }}
    </h1>
    <div class="backIcon">
      <mat-icon
        mat-button
        mat-dialog-close
        style="cursor: pointer; margin-right: auto"
        >cancel</mat-icon
      >
    </div>
  </div>

  <form
    [formGroup]="roundAddEditForm"
    class="form-content"
    (ngSubmit)="onSubmit()"
  >
    <mat-dialog-content>
      <div class="form-container">
        <mat-card-content>
          <div fxLayout="row wrap" fxLayoutGap="50px">
            <div fxFlex="40%">
              <p class="grid-label">Round Name</p>
              <mat-form-field
                appearance="outline"
                class="matFormField rounds_input"
              >
                <mat-label>Round Name</mat-label>
                <input matInput formControlName="Name" />
              </mat-form-field>
            </div>

            <div fxFlex="40%">
              <p class="grid-label">Description</p>
              <mat-form-field
                appearance="outline"
                class="matFormField rounds_input"
              >
                <mat-label>Description</mat-label>
                <input matInput formControlName="Description" />
              </mat-form-field>
            </div>

            <div fxFlex="40%" class="dateTime-fields">
              <p class="grid-label">Start Date</p>
              <mat-form-field
                appearance="outline"
                class="matFormField rounds_input"
              >
                <mat-label>Start Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="startDatePicker"
                  formControlName="startDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="startDatePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker></mat-datepicker>
              </mat-form-field>
            </div>

            <div fxFlex="40%" class="dateTime-fields">
              <p class="grid-label">End Date</p>
              <mat-form-field
                appearance="outline"
                class="matFormField rounds_input"
              >
                <mat-label>End Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="endDatePicker"
                  formControlName="endDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="endDatePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker></mat-datepicker>
              </mat-form-field>
            </div>

            <div fxFlex="40%">
              <p class="grid-label">Start Time</p>
              <mat-form-field
                appearance="outline"
                class="matFormField rounds_input"
              >
                <mat-label>Start Time</mat-label>
                <input
                  formControlName="startTime"
                  id="StartTimePicker"
                  matInput
                  [ngxTimepicker]="startTimePicker"
                />
                <ngx-material-timepicker
                  #startTimePicker
                ></ngx-material-timepicker>
              </mat-form-field>
            </div>

            <div fxFlex="40%">
              <p class="grid-label">End Time</p>
              <mat-form-field
                appearance="outline"
                class="matFormField rounds_input"
              >
                <mat-label>End Time</mat-label>
                <input
                  formControlName="endTime"
                  id="EndTimePicker"
                  matInput
                  [ngxTimepicker]="endTimePicker"
                />
                <ngx-material-timepicker
                  #endTimePicker
                ></ngx-material-timepicker>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions class="mat-dialog-actions">
      <mat-card-actions>
        <button mat-raised-button class="matbutton" type="button">
          <p class="matName">Reset</p>
        </button>
        <button mat-raised-button class="matbutton" type="submit">
          <p class="matName">
            {{ roundId ? "Update" : "Add" }}
          </p>
        </button>
      </mat-card-actions>
    </mat-dialog-actions>
  </form>
</div>
