<div>
  <h1 class="header" mat-dialog-title>
    {{ roundId ? "Edit Rounds" : "Add Rounds" }}
  </h1>

  <form class="form-content">
    <mat-dialog-content>
      <div class="form-container">
        <mat-card-content>
          <div fxLayout="row wrap">
            <div fxFlex="100%">
              <p class="grid-label">Round Name</p>
              <mat-form-field
                appearance="outline"
                class="matFormField rounds_input"
              >
                <mat-label>Round Name</mat-label>
                <input matInput />
              </mat-form-field>
            </div>

            <div fxFlex="100%">
              <p class="grid-label">Description</p>
              <mat-form-field
                appearance="outline"
                class="matFormField rounds_input"
              >
                <mat-label>Description</mat-label>
                <input matInput />
              </mat-form-field>
            </div>

            <p>Mention Start and End Date</p>
            <mat-form-field appearance="outline">
              <mat-label>Start Date</mat-label>
              <input matInput [matDatepicker]="startDatePicker" />
              <mat-datepicker-toggle
                matSuffix
                [for]="startDatePicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>End Date</mat-label>
              <input matInput [matDatepicker]="endDatePicker" />
              <mat-datepicker-toggle
                matSuffix
                [for]="endDatePicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>

            <div fxFlex="100%">
              <p class="grid-label">Priority</p>
              <mat-form-field appearance="outline">
                <mat-label>Priority</mat-label>
                <mat-select (selectionChange)="onPriorityChange($event)">
                  <mat-option
                    *ngFor="let priority of Priority"
                    [value]="priority.value"
                  >
                    {{ priority.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions class="mat-dialog-actions">
      <mat-card-actions>
        <button mat-raised-button class="matbutton">
          <p class="matName">Reset</p>
        </button>
        <button mat-raised-button class="matbutton" type="submit">
          <p class="matName">
            {{ roundId ? "Update" : "Add" }}
          </p>
        </button>
      </mat-card-actions>
    </mat-dialog-actions>
  </form>
</div>
