.header {
}
.Heading {
  display: flex;
  justify-content: space-between;
  background-color: #e1e1e9;
}

.panels_input {
  width: 100%;
}

.matbutton {
  background-color: #3f51b5;
}

.matName {
  color: white;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.grid-label {
  font-weight: bold;
}

.matFormField {
  width: 100%;
}

.rounds_input {
  margin-bottom: 20px;
}
.dateTime-fields {
  gap: 20px;
}
