.header {
  background-color: #e1e1e9;
}

.panels_input {
  width: 100%;
}
.matbutton {
  background-color: #3f51b5;
}

.matName {
  color: white;
}

.button-container {
  display: flex;
  justify-content: flex-end; /* Aligns the buttons to the right */
  gap: 10px; /* Adds space between buttons */
  margin-top: 10px;
}
.mat-dialog-actions {
  justify-content: end;
}
