<div>
  <h1
    mat-dialog-title
    fxLayout="row"
    fxLayoutAlign="center center"
    style="padding-top: 0.5rem"
  >
    <strong>
      {{ isEdited ? "Edit Event" : "Add New Event" }}
    </strong>
  </h1>
</div>

<mat-divider></mat-divider>
<div class="date-heading">
  <h3>
    {{ data.date | date : "mediumDate" }}
  </h3>
</div>

<div mat-dialog-content>
  <form [formGroup]="formDataa">
    <!-- Row 1: Event Type -->
    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="space-between center">
      <mat-form-field fxFlex="45%" appearance="outline">
        <mat-label>Event Type</mat-label>
        <mat-select
          [(value)]="formDataa.value.eventType"
          (selectionChange)="onEventTypeChange($event)"
        >
          <mat-option value="interview">Interview</mat-option>
          <mat-option value="training">Training</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        fxFlex="45%"
        appearance="outline"
        *ngIf="showJobPostingsAndRounds"
      >
        <mat-label>Select Company</mat-label>
        <mat-select
          [(value)]="formDataa.value.companyId"
          (selectionChange)="onCompanySelected($event)"
          [disabled]="userRole === 2"
        >
          <mat-option
            *ngFor="let company of allCompanies()"
            [value]="company.Id"
          >
            {{ company.Name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Row 2: Job Posting & Rounds -->
    <div
      fxLayout="row"
      fxLayoutGap="16px"
      fxLayoutAlign="space-between center"
      *ngIf="showJobPostingsAndRounds"
    >
      <mat-form-field fxFlex="45%" appearance="outline">
        <mat-label>Job Posting</mat-label>
        <mat-select
          formControlName="jobPosting"
          (selectionChange)="onJobPostingChange($event)"
        >
          <mat-option *ngFor="let posting of jobPostings" [value]="posting.Id">
            {{ posting.JobRole }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="45%" appearance="outline">
        <mat-label>Rounds</mat-label>
        <mat-select formControlName="rounds">
          <mat-option *ngFor="let round of rounds" [value]="round.Id">
            {{ round.Name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Row 3: Start Time & End Time -->
    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="space-between center">
      <mat-form-field fxFlex="45%" appearance="outline">
        <mat-label>Start Time</mat-label>
        <input
          formControlName="startTime"
          matInput
          [ngxTimepicker]="startTimePicker"
        />
        <ngx-material-timepicker #startTimePicker></ngx-material-timepicker>
      </mat-form-field>

      <mat-form-field fxFlex="45%" appearance="outline">
        <mat-label>End Time</mat-label>
        <input
          formControlName="endTime"
          matInput
          [ngxTimepicker]="endTimePicker"
        />
        <ngx-material-timepicker #endTimePicker></ngx-material-timepicker>
      </mat-form-field>
    </div>
    <div
      style="color: red"
      *ngIf="formDataa.hasError('endTimeBeforeStartTime')"
    >
      End time must be after the start time.
    </div>

    <!-- Row 4: Multiple Days Toggle -->
    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="space-between center">
      <mat-checkbox
        fxFlex="45%"
        [checked]="toggle"
        (change)="onToggleChange($event)"
      >
        Multiple Days
      </mat-checkbox>

      <!-- Meeting Link Field -->
      <mat-form-field fxFlex="45%" appearance="outline">
        <mat-label>Meeting Link</mat-label>
        <input matInput formControlName="meetingLink" />
      </mat-form-field>
    </div>

    <!-- Row 5: Weekdays Only and End Date -->
    <div
      fxLayout="row"
      fxLayoutGap="16px"
      fxLayoutAlign="space-between center"
      *ngIf="toggle === true"
    >
      <!-- Weekdays Only Field -->
      <mat-checkbox
        fxFlex="45%"
        [checked]="weekdays"
        (change)="onWeekdaysChange($event)"
      >
        Weekdays Only
      </mat-checkbox>

      <!-- End Date Field -->
      <mat-form-field fxFlex="45%" appearance="outline">
        <mat-label>End Date</mat-label>
        <input formControlName="endDate" matInput [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <!-- Row 6: Join Meeting Button -->
    <div *ngIf="isEdited" fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button color="primary">
        <a
          [href]="formDataa.value.meetingLink"
          target="_blank"
          style="text-decoration: none; color: white"
        >
          Join Meeting
        </a>
      </button>
    </div>
  </form>
</div>

<mat-divider></mat-divider>

<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button mat-button (click)="onCancel()">Cancel</button>
  <!-- <button mat-button (click)="onSave()" [disabled]="!formDataa.valid">
    Save
  </button> -->
  <button mat-button (click)="onSave()">Save</button>
</div>
