<mat-card
  ><mat-card-header class="custom-card-header">
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <mat-icon (click)="goBack()" class="BackIcon"
            >keyboard_backspace</mat-icon
          >
        </div>
        <div>
          <p class="matHeaderName">
            {{ JObPostRouteId ? "Edit Job Posting" : "Add Job Posting" }}
          </p>
        </div>
      </div>
    </div>
  </mat-card-header>

  <mat-divider></mat-divider>

  <form
    class="form-content"
    [formGroup]="addEditJobPostingForm"
    (ngSubmit)="onSubmit(JObPostRouteId ?? 0)"
  >
    <div class="form-container">
      <mat-card-content>
        <div fxLayout="row wrap">
          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p>College Name</p>
            <mat-form-field appearance="outline" class="matFormField">
              <mat-label>Select College name</mat-label>
              <mat-select
                multiple
                formControlName="Collegejobpostings"
                [(ngModel)]="selectedCollegeIds"
              >
                @for (collegeName of collegeNames(); track collegeName) {
                <mat-option [value]="collegeName.Id">{{
                  collegeName.CollegeName
                }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p>Batch</p>
            <mat-form-field appearance="outline" class="matFormField">
              <mat-label>Select Batch</mat-label>
              <mat-select
                multiple
                formControlName="CompanyJobBatches"
                [(ngModel)]="selectedBatchIds"
              >
                @for (batch of BatchesNames(); track batch) {
                <mat-option [value]="batch.Id">{{ batch.Name }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p>Stream</p>
            <mat-form-field appearance="outline" class="matFormField">
              <mat-label>Select Stream</mat-label>
              <mat-select
                multiple
                formControlName="CompanyJobStreams"
                [(ngModel)]="selectedStreamIds"
              >
                @for (stream of StreamNames(); track stream) {
                <mat-option [value]="stream.Id">{{ stream.Name }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row wrap">
          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p>Course</p>
            <mat-form-field appearance="outline" class="matFormField">
              <mat-label>Select Course</mat-label>
              <mat-select
                multiple
                formControlName="CompanyJobCourses"
                [(ngModel)]="selectedCourseIds"
              >
                @for (course of CoursesNames(); track course) {
                <mat-option [value]="course.Id">{{ course.Name }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p>Skill Types</p>
            <mat-form-field appearance="outline" class="matFormField">
              <mat-label>Select Skill Types</mat-label>
              <mat-select
                multiple
                [(ngModel)]="selectedSkillTypeIds"
                (selectionChange)="onSkillTypeSelectionChange($event)"
                formControlName="JobpostingSkillTypes"
              >
                @for (skillTypeName of SkillTypeNames(); track skillTypeName) {
                <mat-option [value]="skillTypeName.Id">{{
                  skillTypeName.Name
                }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p>Skills</p>
            <mat-form-field appearance="outline" class="matFormField">
              <mat-label>Select Skills</mat-label>
              <mat-select
                [(ngModel)]="selectedSkillIds"
                multiple
                formControlName="JobpostingSkills"
              >
                @for (skillName of SkillNames(); track skillName) {
                <mat-option [value]="skillName.Id">{{
                  skillName.Name
                }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row wrap">
          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Job Role</p>
            <mat-form-field appearance="outline" class="matFormField">
              <mat-label>Job Role</mat-label>
              <input matInput formControlName="JobRole" />
            </mat-form-field>
          </div>

          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">No of Posts</p>
            <mat-form-field appearance="outline" class="matFormField">
              <mat-label>No of Posts</mat-label>
              <input type="number" matInput formControlName="Vacancies" />
            </mat-form-field>
          </div>

          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Minimum Year of Experience</p>
            <mat-form-field appearance="outline" class="matFormField">
              <mat-label>Minimum year of Experience</mat-label>
              <input
                type="number"
                matInput
                formControlName="MinimumYearExperience"
              />
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row wrap">
          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Minimum Month of Experience</p>
            <mat-form-field appearance="outline" class="matFormField">
              <mat-label>Minimum Month of Experience</mat-label>
              <mat-select formControlName="MinimumMonthExperience">
                <mat-option *ngFor="let month of Months" [value]="month">
                  {{ month }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Maximum Year of Experience</p>
            <mat-form-field appearance="outline" class="matFormField">
              <mat-label>Maximum Year of Experience</mat-label>
              <input
                type="number"
                matInput
                formControlName="MaximumYearExperience"
              />
            </mat-form-field>
          </div>

          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Maximum Month of Experience</p>
            <mat-form-field appearance="outline" class="matFormField">
              <mat-label>Maximum Month of Experience</mat-label>
              <mat-select formControlName="MaximumMonthExperience">
                <mat-option *ngFor="let month of Months" [value]="month">
                  {{ month }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row wrap">
          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Min 10th/SSLC %</p>
            <mat-form-field appearance="outline" class="matFormField">
              <mat-label>10th Marks</mat-label>
              <input
                type="number"
                matInput
                formControlName="MinSslcpercentage"
              />
            </mat-form-field>
          </div>

          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Min PUC %</p>
            <mat-form-field appearance="outline" class="matFormField">
              <mat-label>Technology</mat-label>
              <input
                type="number"
                matInput
                formControlName="MinPucpercentage"
              />
            </mat-form-field>
          </div>

          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Min CGPA</p>
            <mat-form-field appearance="outline" class="matFormField">
              <mat-label>Min CGPA</mat-label>
              <input type="number" matInput formControlName="MinCgpa" />
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row wrap">
          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">CTC Offered</p>
            <mat-form-field appearance="outline" class="matFormField">
              <mat-label>Enter Offered CTC</mat-label>
              <input type="number" matInput formControlName="Salary" />
            </mat-form-field>
          </div>

          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Mode of Work</p>
            <mat-form-field appearance="outline" class="matFormField">
              <mat-label>Mode of Work</mat-label>
              <mat-select formControlName="ModeOfWork">
                <mat-option *ngFor="let mode of ModeOfWorks" [value]="mode">
                  {{ mode }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Location</p>
            <mat-form-field appearance="outline" class="matFormField">
              <mat-label>Location</mat-label>
              <input matInput formControlName="Location" />
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row wrap">
          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Job Type</p>
            <mat-form-field appearance="outline" class="matFormField">
              <mat-label>Job Type</mat-label>
              <mat-select formControlName="JobType">
                <mat-option *ngFor="let JobType of JobTypes" [value]="JobType">
                  {{ JobType }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Shift Type</p>
            <mat-form-field appearance="outline" class="matFormField">
              <mat-label>Shift Type</mat-label>
              <mat-select formControlName="Shift">
                <mat-option
                  *ngFor="let shiftType of ShiftTypes"
                  [value]="shiftType"
                >
                  {{ shiftType }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Number of backlogs allowed</p>
            <mat-form-field appearance="outline" class="matFormField">
              <mat-label>No of backlogs</mat-label>
              <input type="number" matInput formControlName="BacklogsAllowed" />
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row wrap">
          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p>Last Date to apply</p>
            <mat-form-field appearance="fill" appearance="outline">
              <input
                matInput
                [matDatepicker]="startDatePicker"
                formControlName="ValidTill"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="startDatePicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p>Drive Date</p>
            <mat-form-field appearance="fill" appearance="outline">
              <input
                matInput
                [matDatepicker]="DriveDatePicker"
                formControlName="DriveDate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="DriveDatePicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #DriveDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Job Description</p>
            <mat-form-field appearance="outline" class="matFormField">
              <mat-label>Job Description</mat-label>
              <textarea matInput formControlName="JobDescription"></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="add-job-posting">
          <button mat-raised-button class="matbutton" type="button">
            <p class="matName">Reset</p>
          </button>
          <button mat-raised-button class="matbutton" type="submit">
            <p class="matName">
              {{ JObPostRouteId ? "Update Job Posting" : "Add Job Posting" }}
            </p>
          </button>
        </div>

        <div *ngIf="JObPostRouteId">
          <mat-card>
            <mat-tab-group
              animationDuration="0ms"
              #tabGroupTrainingConfig
              (selectedIndexChange)="onTabChange($event)"
            >
              <mat-tab label="Rounds"
                ><app-test-rounds></app-test-rounds
              ></mat-tab>

              <mat-tab label="Panel"><app-panel-tab></app-panel-tab></mat-tab>
            </mat-tab-group>
          </mat-card>
        </div>
      </mat-card-content>
      <div>
        <mat-card-actions class="footer-actions">
          <button mat-raised-button class="matbutton">
            <p class="matName">Reset</p>
          </button>
          <button mat-raised-button class="matbutton" type="submit">
            <p class="matName">
              Share
              <!-- {{ TrainerId ? "Update" : "Add" }} -->
            </p>
          </button>
        </mat-card-actions>
      </div>
      <!-- </form> -->
      <!-- </mat-card> -->
    </div>
  </form>
</mat-card>
