<mat-card-header class="custom-card-header">
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <a [routerLink]="['/training-configuration']">
          <mat-icon>keyboard_backspace</mat-icon>
        </a>
      </div>
      <div>
        <p class="matHeaderName">
          {{ Id ? "Edit Course details" : "Add Course details" }}
        </p>
      </div>
    </div>
  </div>
</mat-card-header>
<mat-divider></mat-divider>
<form [formGroup]="addEditCourseForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-content>
      <div fxLayout="row wrap">
        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Course Name</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>Course Name</mat-label>
            <input matInput formControlName="Name" />
          </mat-form-field>
        </div>

        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Description</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>Description</mat-label>
            <input matInput formControlName="Description" />
          </mat-form-field>
        </div>

        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p>Valid From</p>
          <mat-form-field appearance="fill">
            <mat-label>Valid From</mat-label>
            <input
              matInput
              [matDatepicker]="startDatePicker"
              formControlName="ValidFrom"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="startDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row wrap">
        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p>Valid Till</p>
          <mat-form-field appearance="fill">
            <mat-label>Valid Till</mat-label>
            <input
              matInput
              [matDatepicker]="endDatePicker"
              formControlName="ValidTill"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="endDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card-actions class="footer-actions">
    <button
      mat-raised-button
      class="matbutton"
      type="button"
      (click)="onReset()"
    >
      <p class="matName">Reset</p>
    </button>
    <button mat-raised-button class="matbutton" type="submit">
      <p class="matName">
        {{ Id ? "Update" : "Add" }}
      </p>
    </button>
  </mat-card-actions>
</form>
