<div>
  <h1 class="header" mat-dialog-title>
    {{ panelId ? "Edit Panel" : "Add Panel" }}
  </h1>

  <form class="form-content">
    <mat-dialog-content>
      <mat-card-content>
        <div fxLayout="row wrap">
          <div fxFlex="80%">
            <p class="grid-label">Panel Name</p>
            <mat-form-field
              appearance="outline"
              class="matFormField panels_input"
            >
              <input matInput/>
            </mat-form-field>
          </div>

          <div fxFlex="80%">
            <p class="grid-label">Current Round</p>
            <mat-form-field appearance="outline" class="matFormField panels_input">
              <mat-select placeholder="Select Round">
                <mat-option *ngFor="let round of RoundDataSource" [value]="round.Id">{{ round.Name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="80%">
            <p class="grid-label">Description</p>
            <mat-form-field
              appearance="outline"
              class="matFormField panels_input"
            >
              <input matInput/>
            </mat-form-field>
          </div>

          <div fxFlex="80%">
            <p class="grid-label">Designation</p>
            <mat-form-field
              appearance="outline"
              class="matFormField panels_input"
            >
              <input matInput/>
            </mat-form-field>
          </div>

          <!-- <div fxFlex="100%">
            <p class="grid-label">Duration</p>
            <mat-form-field appearance="outline" class="matFormField">
              <mat-label>Duration</mat-label>
              <input matInput placeholder="Duration" />
            </mat-form-field>
          </div> -->
        </div>
      </mat-card-content>
    </mat-dialog-content>
    <div>
      <mat-dialog-actions class="mat-dialog-actions">
        <mat-card-actions class="footer-actions">
          <button mat-raised-button class="matbutton">
            <p class="matName">Reset</p>
          </button>
          <button mat-raised-button class="matbutton" type="submit">
            <p class="matName">
              {{ panelId ? "Update" : "Add" }}
            </p>
          </button>
        </mat-card-actions>
      </mat-dialog-actions>
    </div>
  </form>
</div>
