<div>
  <h1 class="header" mat-dialog-title>
    {{ panelId ? "Edit Panel" : "Add Panel" }}
  </h1>

  <form class="form-content">
    <mat-dialog-content>
      <div class="form-container">
        <mat-card-content>
          <div fxLayout="row wrap">
            <div fxFlex="100%">
              <p class="grid-label">Panel Name</p>
              <mat-form-field
                appearance="outline"
                class="matFormField panels_input"
              >
                <mat-label>Panel Name</mat-label>
                <input matInput placeholder="Panel Name" />
              </mat-form-field>
            </div>

            <div fxFlex="100%">
              <p class="grid-label">Role</p>
              <mat-form-field
                appearance="outline"
                class="matFormField panels_input"
              >
                <mat-label>Role</mat-label>
                <input matInput placeholder="Role" />
              </mat-form-field>
            </div>

            <div fxFlex="100%">
              <p class="grid-label">Description</p>
              <mat-form-field
                appearance="outline"
                class="matFormField panels_input"
              >
                <mat-label>Description</mat-label>
                <input matInput placeholder="Description" />
              </mat-form-field>
            </div>

            <!-- <div fxFlex="100%">
              <p class="grid-label">Duration</p>
              <mat-form-field appearance="outline" class="matFormField">
                <mat-label>Duration</mat-label>
                <input matInput placeholder="Duration" />
              </mat-form-field>
            </div> -->
          </div>
        </mat-card-content>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <mat-card-actions class="footer-actions">
        <button mat-raised-button class="matbutton">
          <p class="matName">Reset</p>
        </button>
        <button mat-raised-button class="matbutton" type="submit">
          <p class="matName">
            {{ panelId ? "Update" : "Add" }}
          </p>
        </button>
      </mat-card-actions>
    </mat-dialog-actions>
  </form>
</div>
