<div class="main-div">
  <mat-card-header class="custom-card-header">
    <div class="example-button-row">
      <div class="example-flex-container">
        <!-- Go back button -->
        <div class="button-label-container">
          <div class="example-button-container">
            <mat-icon (click)="goBack()" class="BackIcon"
              >keyboard_backspace</mat-icon
            >
            <div class="header-mat-label">
              <mat-label>Offer Management</mat-label>
            </div>
          </div>
        </div>

        <!-- Status Filter -->
        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select multiple [(value)]="selectedStatuses">
              <mat-select-trigger>
                {{
                  selectedStatuses.length
                    ? selectedStatuses.join(", ")
                    : "Select statuses"
                }}
              </mat-select-trigger>
              <mat-option *ngFor="let status of statuses" [value]="status.Name">
                {{ status.Name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <!-- <mat-form-field class="full-width" appearance="outline">
            <mat-label>Job Role</mat-label>
            <mat-select multiple>
              < <mat-select-trigger>
                {{ selectedStatuses }}
              </mat-select-trigger>
              <mat-option *ngFor="let status of statuses" [value]="status">
                {{ stats }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Technologies</mat-label>
            <mat-select multiple>
              <mat-select-trigger>
                {{ selectedTechnologies }}
              </mat-select-trigger>
              <mat-option
                *ngFor="let technology of technologies"
                [value]="technology.Name"
              >
                {{ technology.Name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="search-full-width" appearance="outline">
            <mat-label>Search Students,Job title</mat-label>
            <mat-icon matSuffix>search</mat-icon>
            <input type="text" matInput [matAutocomplete]="autoCompany" />
            <mat-autocomplete #autoCompany="matAutocomplete">
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Drive Date</mat-label>
            <mat-date-range-input
              [formGroup]="campaignOne"
              [rangePicker]="datePicker"
              [comparisonStart]="campaignOne.value.start"
              [comparisonEnd]="campaignOne.value.end"
            >
              <input
                matStartDate
                placeholder="Start date"
                formControlName="start"
              />
              <input matEndDate placeholder="End date" formControlName="end" />
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="datePicker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #datePicker></mat-date-range-picker>
          </mat-form-field>
        </div>
        <!-- <div class="sendButton">
          <button
            mat-raised-button
            class="matbutton"
            (click)="openCreateOfferForm()"
          >
            <p class="matName">
              <mat-icon>mail</mat-icon>Generate Offer Letter
            </p>
          </button>
        </div> -->
      </div>
    </div>
  </mat-card-header>

  <div>
    <div class="filters-row">
      <!-- <mat-form-field class="full-width" appearance="outline">
            <mat-label>Skills</mat-label>
            <mat-select multiple>
              <mat-select-trigger>
                {{ selectedSkills }}
              </mat-select-trigger>
              <mat-option
                *ngFor="let skill of Skills"
                [value]="skill.Name"
              >
                {{ skill.Name }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
      <!-- University Select -->
      <mat-form-field appearance="outline" class="mat-select full-width-select">
        <mat-label> Select Name of the University</mat-label>
        <mat-select multiple>
          <mat-option *ngFor="let uni of universityTypes" [value]="uni">
            {{ uni.Name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- College Select -->
      <mat-form-field appearance="outline" class="mat-select full-width-select">
        <mat-label> Select Name of the College</mat-label>
        <mat-select multiple>
          <mat-option
            *ngFor="let college of colleges"
            [value]="college.CollegeName"
          >
            {{ college.CollegeName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Buttons -->
      <div class="button-group">
        <button mat-fab extended class="matbutton-download">
          <mat-icon>file_download</mat-icon>Excel
        </button>
        <button mat-fab extended class="matbutton-download">
          <mat-icon>picture_as_pdf</mat-icon>PDF
        </button>
        <button mat-raised-button class="matbutton">
          <p class="matName"><mat-icon>mail</mat-icon>Generate Offer Letter</p>
        </button>
      </div>
    </div>
  </div>
  <mat-card class="placement-stats-card">
    <!-- <mat-card-title>Placement Statistics</mat-card-title> -->
    <div class="stats-section">
      <div>
        <p class="stats-para">Total Offers Sent</p>
        <h2 class="stats-header">
          {{ JobpostingSelectedstudentData().length }}
        </h2>
      </div>
      <div class="divider"></div>
      <div>
        <p class="stats-para">Offers Accepted</p>
        <h2 class="stats-header">
          {{ acceptedOffersCount }}
        </h2>
      </div>
      <div class="divider"></div>
      <div>
        <p class="stats-para">Offers Rejected</p>
        <h2 class="stats-header">{{ rejectedOffersCount }}</h2>
      </div>
      <div class="divider"></div>
      <div>
        <p class="stats-para">Pending Offers</p>
        <h2 class="stats-header">{{ pendingOffersCount }}</h2>
      </div>
    </div>
  </mat-card>

  <!-- <div class="example-button-container filter_items">
    <button mat-raised-button class="matbutton">
      <p class="matName">Additional Filters</p>
    </button>
    <button *ngIf="UserRoleId !== 1" mat-raised-button class="matbutton">
      <mat-icon class="maticon">add</mat-icon>
      <p class="matButtonText">Add Job Postings</p>
    </button>
  </div> -->
<div *ngIf="isLoading" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!isLoading"></div>
  
  <mat-card-content
    class="offer Management"
    fxLayout="row wrap"
    fxLayoutAlign="start stretch"
    class="mat-card-content"
  >
    <div
      *ngFor="let offer of JobpostingSelectedstudentData()"
      fxFlex="100%"
      fxFlex.gt-sm="50%"
      fxFlex.gt-md="28%"
      fxFlex.gt-lg="25%"
      class="grid-item mat-grid-tile"
      (click)="
        openOfferManagement(offer.JobPostingId, offer.StudentId, offer.Id)
      "
    >
      <div class="company-details">
        <h3>{{ offer.Student.FirstName }} {{ offer.Student.LastName }}</h3>
        <div class="company-type"></div>
        <p><strong>Position:</strong> {{ offer.JobPosting.JobRole }}</p>
        <p><strong>Date Sent:</strong>{{ offer.OfferLetterSentDate }}</p>
      </div>

      <div class="company">
        <p>
          <strong>Status:</strong
          >{{
            offer.HasAcceptedOffer === null
              ? "Pending"
              : offer.HasAcceptedOffer === 1
              ? "Accepted"
              : "Rejected"
          }}
        </p>
        <p><strong>Offer Expiry:</strong>{{ offer.OfferLetterExpiryDate }}</p>
      </div>
    </div>
  </mat-card-content>
</div>
