/* table-form.component.css */

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border: 1px solid black;
}

input,
textarea {
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
}

button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button[disabled] {
  background-color: #ccc;
}

.manpower_requirement_table {
  margin: 20px 0 0 0;
}


