<mat-card-header class="custom-card-header">
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <a (click)="goBack()">
          <mat-icon>keyboard_backspace</mat-icon>
        </a>
        <p class="matHeaderName">Indenting Organisation Details</p>
      </div>
    </div>
  </div>
</mat-card-header>
<mat-divider></mat-divider>

<form class="content" [formGroup]="addIndentForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-content>
      <div fxLayout="row wrap">
        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Company Name</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>Company Name</mat-label>
            <input formControlName="TrainerName" matInput />
          </mat-form-field>
        </div>

        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Company designation</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>Company designation</mat-label>
            <input
              matInput
              formControlName="Email"
              type="Company designation"
            />
          </mat-form-field>
        </div>

        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Email</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>Email</mat-label>
            <input matInput formControlName="Email" type="Email" />
          </mat-form-field>
        </div>

        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Phone Number</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="Extra" />
          </mat-form-field>
        </div>
        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Required Item</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>Required Item</mat-label>
            <input matInput formControlName="Extra1" />
          </mat-form-field>
        </div>
        <div
          fxFlex="100%"
          fxFlex.gt-md="33%"
          fxFlex.gt-lg="25%"
          fxFlex.gt-sm="50%"
        >
          <p class="grid-label">Quantity</p>
          <mat-form-field appearance="outline" class="matFormField">
            <mat-label>Quantity</mat-label>
            <input matInput formControlName="Extra1" />
          </mat-form-field>
        </div>
      </div>
      <div>
        <button
          mat-raised-button
          class="matbutton"
          type="button"
          (click)="handleAddGrid()"
        >
          <p class="matName">+</p>
        </button>
      </div>
      <div>
        <form
          class="content"
          [formGroup]="addIndentForm"
          (ngSubmit)="onSubmitDiv()"
        >
          <div formArrayName="itemsArray">
            <div
              *ngFor="let item of itemsArray.controls; let i = index"
              [formGroupName]="i"
              class="item_container"
            >
              <div class="input_div" fxFlex="95%">
                <div class="input_div_input">
                  <p class="grid-label">Required Item</p>
                  <mat-form-field appearance="outline" class="matFormField">
                    <mat-label>Required Item</mat-label>
                    <input matInput formControlName="requiredItem" />
                  </mat-form-field>
                </div>

                <div class="input_div_input">
                  <p class="grid-label">Description</p>
                  <mat-form-field appearance="outline" class="matFormField">
                    <mat-label>Description</mat-label>
                    <input matInput formControlName="description" />
                  </mat-form-field>
                </div>

                <div class="input_div_btn">
                  <button
                    mat-raised-button
                    class="matbutton"
                    type="button"
                    (click)="handleDeleteGrid(i)"
                  >
                    <p class="matName">remove</p>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card-actions class="footer-actions">
    <button
      mat-raised-button
      class="matbutton"
      (click)="onReset()"
      type="button"
    >
      <p class="matName">Reset</p>
    </button>
    <button mat-raised-button class="matbutton" type="submit">
      <p class="matName">Add</p>
    </button>
  </mat-card-actions>
</form>
