.show-more-chip {
  background-color: #f0f0f0; /* Light background */
  color: #007bff; /* Blue text color */
  font-weight: bold; /* Bold text */
  border: 1px solid #007bff; /* Border to match the text color */
  border-radius: 4px; /* Rounded corners */
}

.show-more-chip:hover {
  background-color: #e0e0e0; /* Darker background on hover */
  cursor: pointer; /* Pointer cursor on hover */
}
.button-row {
  display: flex;
  justify-content: space-around; /* Align buttons with even space */
  align-items: center; /* Vertically align content */
  margin-top: 10px;
}

.matButton {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 16px;
}

.matButton:hover {
  background-color: #3f51b5;
}

.maticon {
  font-size: 24px;
}

.buttonName {
  margin: 0;
}
.full-width {
  width: 100%;
}

h4 {
  margin: 0 0 8px 0;
  font-weight: 500;
}

mat-form-field {
  margin-bottom: 20px;
}

@media (min-width: 600px) {
  mat-form-field {
    margin-bottom: 10px;
  }
}
.moreInfoFields {
  margin-right: 200px;
}

.grid-label {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.UploadButton {
  background-color: #3f51b5;
  color: white;
  margin-top: 15px;
}
