<div class="dialog-container">
  <mat-label class="mat-label">Edit Profile Page</mat-label>
  <mat-icon mat-button mat-dialog-close style="cursor: pointer"
    >cancel</mat-icon
  >
</div>
<h2 mat-dialog-title formControlName="Name">
  Company Name: {{ data[0].Name }}
</h2>
<div mat-dialog-content>
  <form [formGroup]="addEditCompanyProfile">
    <h3>Company Sectors:</h3>
    <mat-form-field class="mat-form-field" appearance="outline">
      <mat-label>Company Sectors</mat-label>
      <mat-select formControlName="sector" multiple>
        <mat-option *ngFor="let industry of industries" [value]="industry.Id">
          {{ industry.Type }}
        </mat-option>
      </mat-select>

      <!-- <mat-chip-grid #chipGrid aria-label="Enter Sectors">
        <mat-chip-row
          *ngFor="let sector of sectorChips(); let i = index"
          [hidden]="!showAllSectors && i >= 3"
          (removed)="remove(sector)"
        >
          {{ sector.Name }}
          <button matChipRemove [attr.aria-label]="'remove ' + sector.Name">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>

        <mat-chip-row
          *ngIf="sectorChips().length > 3"
          (click)="showAllSectors = !showAllSectors"
          style="cursor: pointer"
          class="show-more-chip"
        >
          {{ showAllSectors ? "Show less" : "Show more" }}
        </mat-chip-row>
      </mat-chip-grid>
      <input
        placeholder="Enter Sectors"
        [matChipInputFor]="chipGrid"
        (matChipInputTokenEnd)="add($event)"
        matInput
        formControlName="sector"
      /> -->
    </mat-form-field>

    <div fxLayout="row">
      <div fxFlex="100%">
        <h3>About Us</h3>
        <mat-form-field appearance="outline" class="mat-form-field">
          <mat-label>About Company</mat-label>
          <textarea matInput formControlName="overview" rows="10"></textarea>
        </mat-form-field>
      </div>
    </div>

    <h3>More Information</h3>
    <div fxLayout="" fxLayoutAlign="space-around start" fxLayoutGap="20px">
      <!-- <div fxFlex="100%" fxFlex.gt-sm="48%" fxFlex.gt-md="24%">
        <h4>Type:</h4>
        <mat-form-field appearance="outline" class="mat-form-field">
          <mat-label>Type</mat-label>
          <mat-select>
            <mat-option *ngFor="let type of types" [value]="type"
              >MNC</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div> -->

      <div fxFlex="100%" fxFlex.gt-sm="48%" fxFlex.gt-md="24%">
        <h4>Founded:</h4>
        <mat-form-field appearance="outline" class="mat-form-field">
          <mat-label>Founding year</mat-label>
          <input
            matInput
            placeholder="Enter year"
            type="number"
            formControlName="foundingYear"
          />
        </mat-form-field>
      </div>

      <div fxFlex="100%" fxFlex.gt-sm="48%" fxFlex.gt-md="24%">
        <h4>Company Size:</h4>
        <mat-form-field appearance="outline" class="mat-form-field">
          <mat-label>Company Range</mat-label>
          <input
            matInput
            placeholder="Ex. 1000-5000"
            formControlName="companySize"
          />
        </mat-form-field>
      </div>

      <div
        fxFlex="100%"
        fxFlex.gt-sm="48%"
        fxFlex.gt-md="24%"
        class="moreInfoFields"
      >
        <h4>Headquarters:</h4>
        <mat-form-field appearance="outline" class="mat-form-field">
          <mat-label>Headquarters</mat-label>
          <input
            matInput
            placeholder="Ex. Bangalore"
            formControlName="headquarters"
          />
        </mat-form-field>
      </div>

      <div fxFlex="100%" fxFlex.gt-sm="48%" fxFlex.gt-md="24%">
        <h4>Website:</h4>
        <mat-form-field appearance="outline" class="mat-form-field">
          <mat-label>Website</mat-label>
          <input
            matInput
            placeholder="Ex. https://www.abc.com"
            type="url"
            formControlName="website"
          />
        </mat-form-field>
      </div>
    </div>

    <h3>Upload Media and Documents</h3>
    <div class="button-row">
      <div
        fxFlex="100%"
        fxFlex.gt-md="25%"
        fxFlex.gt-lg="25%"
        fxFlex.gt-sm="50%"
      >
        <p class="grid-label">Upload Video</p>
        <input
          type="file"
          accept="video"
          formControlName="video"
          (change)="onVideoSelected($event)"
        />
        <button class="UploadButton" (click)="uploadFiles('video')">
          Upload
        </button>
      </div>
      <div
        fxFlex="100%"
        fxFlex.gt-md="25%"
        fxFlex.gt-lg="25%"
        fxFlex.gt-sm="50%"
      >
        <p class="grid-label">Upload PPT</p>
        <input
          type="file"
          accept=".ppt , .pptx"
          formControlName="ppt"
          (change)="onPptSelected($event)"
        />
        <button class="UploadButton" (click)="uploadFiles('ppt')">
          Upload
        </button>
      </div>
      <div
        fxFlex="100%"
        fxFlex.gt-md="25%"
        fxFlex.gt-lg="25%"
        fxFlex.gt-sm="50%"
      >
        <p class="grid-label">Upload Audio</p>
        <input
          type="file"
          accept="audio"
          formControlName="audio"
          (change)="onAudioSelected($event)"
        />
        <button class="UploadButton" (click)="uploadFiles('audio')">
          Upload
        </button>
      </div>
      <div
        fxFlex="100%"
        fxFlex.gt-md="25%"
        fxFlex.gt-lg="25%"
        fxFlex.gt-sm="50%"
      >
        <p class="grid-label">Upload Document</p>
        <input
          type="file"
          accept=".pdf,.doc,.docx"
          formControlName="document"
          (change)="onDocumentSelected($event)"
        />
        <button class="UploadButton" (click)="uploadFiles('document')">
          Upload
        </button>
      </div>
    </div>
    <div class="footer-actions">
      <button
        mat-raised-button
        class="matbutton"
        type="submit"
        (click)="onSubmit()"
      >
        <p class="matName">Update</p>
      </button>
    </div>
  </form>
</div>
