<div class="example-button-container" (click)="goBack()">
  <mat-icon>keyboard_backspace</mat-icon>
</div>

<mat-card>
  <mat-card-content>
    <!-- Tab Group -->
    <mat-tab-group>
      <!-- Profile Tab -->
      <mat-tab label="Profile">
        <!-- Profile content starts here -->
        <div fxLayout="row wrap" class="row-wrap">
          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">First Name</p>
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput />
            </mat-form-field>
          </div>
          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Middle Name</p>
            <mat-form-field appearance="outline">
              <mat-label>Middle Name</mat-label>
              <input matInput />
            </mat-form-field>
          </div>
          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Last Name</p>
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput />
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row wrap" class="row-wrap">
          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Date Of Birth</p>
            <mat-form-field>
              <mat-label>DOB</mat-label>
              <input matInput [matDatepicker]="picker" />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Blood Group</p>
            <mat-form-field appearance="outline">
              <mat-label>Blood Group</mat-label>
              <mat-select (selectionChange)="onBloodChange($event)">
                <mat-option *ngFor="let blood of Blood" [value]="blood.value">
                  {{ blood.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Mobile No</p>
            <mat-form-field appearance="outline">
              <mat-label>Mobile No</mat-label>
              <input matInput />
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row wrap" class="row-wrap">
          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Email</p>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput />
            </mat-form-field>
          </div>

          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Branch</p>
            <mat-form-field appearance="outline">
              <mat-label>Branch</mat-label>
              <input matInput />
            </mat-form-field>
          </div>

          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Enter USN No.</p>
            <mat-form-field appearance="outline">
              <mat-label>USN no.</mat-label>
              <input matInput />
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row wrap" class="row-wrap">
          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Enter Aadhar Number</p>
            <mat-form-field appearance="outline">
              <mat-label>Aadhar Number</mat-label>
              <input matInput />
            </mat-form-field>
          </div>
          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Enter PAN Number</p>
            <mat-form-field appearance="outline">
              <mat-label>PAN Number</mat-label>
              <input matInput />
            </mat-form-field>
          </div>

          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Enter Address</p>
            <mat-form-field appearance="outline">
              <mat-label>Address</mat-label>
              <input matInput />
            </mat-form-field>
          </div>
        </div>
        <mat-divider></mat-divider>

        <div fxLayout="row wrap" class="row-wrap">
          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Enter Father Name</p>
            <mat-form-field appearance="outline">
              <mat-label>Father Name</mat-label>
              <input matInput />
            </mat-form-field>
          </div>

          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Enter Father Mobile No</p>
            <mat-form-field appearance="outline">
              <mat-label>Father Mobile No</mat-label>
              <input matInput />
            </mat-form-field>
          </div>

          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Enter Father Occupation</p>
            <mat-form-field appearance="outline">
              <mat-label>Father Occupation</mat-label>
              <input matInput />
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row wrap" class="row-wrap">
          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Enter Mother Name</p>
            <mat-form-field appearance="outline">
              <mat-label>Mother Name</mat-label>
              <input matInput />
            </mat-form-field>
          </div>

          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Enter Mother Mobile No</p>
            <mat-form-field appearance="outline">
              <mat-label>Mother Mobile No</mat-label>
              <input matInput />
            </mat-form-field>
          </div>

          <div
            fxFlex="100%"
            fxFlex.gt-md="33%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Enter Mother Occupation</p>
            <mat-form-field appearance="outline">
              <mat-label>Mother Occupation</mat-label>
              <input matInput />
            </mat-form-field>
          </div>
        </div>

        <!-- End of Profile content -->
      </mat-tab>

      <!-- Education Tab -->
      <mat-tab label="Education">
        <div fxLayout="row wrap" class="row-wrap">
          <div
            fxFlex="100%"
            fxFlex.gt-md="25%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">School Name</p>
            <mat-form-field appearance="outline">
              <mat-label>School Name</mat-label>
              <input matInput />
            </mat-form-field>
          </div>

          <div
            fxFlex="100%"
            fxFlex.gt-md="25%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">10th Board</p>
            <mat-form-field appearance="outline">
              <mat-label>Select Board</mat-label>
              <mat-select (selectionChange)="onBoardChange($event)">
                <mat-option *ngFor="let board of Boards" [value]="board.value">
                  {{ board.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div
            fxFlex="100%"
            fxFlex.gt-md="25%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">10th Score*</p>
            <mat-form-field appearance="outline">
              <mat-label>Select Score</mat-label>
              <mat-select (selectionChange)="onScoreChange($event)">
                <mat-option *ngFor="let score of Scores" [value]="score.value">
                  {{ score.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div
            fxFlex="100%"
            fxFlex.gt-md="25%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Enter Score</p>
            <mat-form-field appearance="outline">
              <mat-label>Enter Score</mat-label>
              <input matInput />
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" class="row-wrap">
            <div
              fxFlex="100%"
              fxFlex.gt-md="25%"
              fxFlex.gt-lg="25%"
              fxFlex.gt-sm="50%"
            >
              <p class="grid-label">Year of Join</p>
              <mat-form-field appearance="outline">
                <mat-label>Year of Join</mat-label>
                <input matInput />
              </mat-form-field>
            </div>

            <div
              fxFlex="100%"
              fxFlex.gt-md="25%"
              fxFlex.gt-lg="25%"
              fxFlex.gt-sm="50%"
            >
              <p class="grid-label">Year of Pass-out</p>
              <mat-form-field appearance="outline">
                <mat-label>Year of Pass-out</mat-label>
                <input matInput />
              </mat-form-field>
            </div>

          
            <div
              fxFlex="100%"
              fxFlex.gt-md="25%"
              fxFlex.gt-lg="25%"
              fxFlex.gt-sm="50%"
            >
              <p class="grid-label">Upload File</p>
              <input type="file" />
            </div>


          </div>
        </div>
        <mat-divider></mat-divider>

        <div fxLayout="row wrap" class="row-wrap">
          <div
            fxFlex="100%"
            fxFlex.gt-md="25%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">College Name</p>
            <mat-form-field appearance="outline">
              <mat-label>College Name</mat-label>
              <input matInput />
            </mat-form-field>
          </div>

          <div
            fxFlex="100%"
            fxFlex.gt-md="25%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Select Course</p>
            <mat-form-field appearance="outline">
              <mat-label>Select Course</mat-label>
              <mat-select (selectionChange)="onCourseChange($event)">
                <mat-option
                  *ngFor="let course of Courses"
                  [value]="course.value"
                >
                  {{ course.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div
            fxFlex="100%"
            fxFlex.gt-md="25%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Score*</p>
            <mat-form-field appearance="outline">
              <mat-label>Select Type</mat-label>
              <mat-select (selectionChange)="onPuScoreChange($event)">
                <mat-option
                  *ngFor="let PuScore of Scores"
                  [value]="PuScore.value"
                >
                  {{ PuScore.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div
            fxFlex="100%"
            fxFlex.gt-md="25%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Enter Score</p>
            <mat-form-field appearance="outline">
              <mat-label>Enter Score</mat-label>
              <input matInput />
            </mat-form-field>
          </div>

          <div fxLayout="row wrap" class="row-wrap">
            <div
              fxFlex="100%"
              fxFlex.gt-md="25%"
              fxFlex.gt-lg="25%"
              fxFlex.gt-sm="50%"
            >
              <p class="grid-label">Year of Join</p>
              <mat-form-field appearance="outline">
                <mat-label>Year of Join</mat-label>
                <input matInput />
              </mat-form-field>
            </div>

            <div
              fxFlex="100%"
              fxFlex.gt-md="25%"
              fxFlex.gt-lg="25%"
              fxFlex.gt-sm="50%"
            >
              <p class="grid-label">Year of Pass-out</p>
              <mat-form-field appearance="outline">
                <mat-label>Year of Pass-out</mat-label>
                <input matInput />
              </mat-form-field>
            </div>
            <div
              fxFlex="100%"
              fxFlex.gt-md="25%"
              fxFlex.gt-lg="25%"
              fxFlex.gt-sm="50%"
            >
              <p class="grid-label">Upload File</p>
              <input type="file" />
            </div>
          </div>
        </div>

        <mat-divider></mat-divider>

        <div fxLayout="row wrap" class="row-wrap">
          <div
            fxFlex="100%"
            fxFlex.gt-md="25%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Degree</p>
            <mat-form-field appearance="outline">
              <mat-label>Select Type</mat-label>
              <mat-select (selectionChange)="onDegreeChange($event)">
                <mat-option
                  *ngFor="let Degree of degrees"
                  [value]="Degree.value"
                >
                  {{ Degree.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div
            fxFlex="100%"
            fxFlex.gt-md="25%"
            fxFlex.gt-lg="25%"
            fxFlex.gt-sm="50%"
          >
            <p class="grid-label">Program</p>
            <mat-form-field appearance="outline">
              <mat-label>Select Type</mat-label>
              <mat-select (selectionChange)="onProgramChange($event)">
                <mat-option
                  *ngFor="let Program of Program"
                  [value]="Program.value"
                >
                  {{ Program.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div>
          <div
            fxLayout="row wrap"
            class="row-wrap"
            *ngFor="let sem of allSemesters; let i = index"
          >
            <div
              fxFlex="100%"
              fxFlex.gt-md="25%"
              fxFlex.gt-lg="25%"
              fxFlex.gt-sm="50%"
            >
              <p class="grid-label">Select Semester{{ i + 1 }}</p>
              <mat-form-field appearance="outline">
                <mat-label>Select Semester</mat-label>
                <mat-select (selectionChange)="onSemesterChange($event)">
                  <mat-option *ngFor="let sem of Semesters" [value]="sem.value">
                    {{ sem.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <!-- <p>Selected Semester: {{ selectedSemester }}</p> -->
            </div>
            <div
              fxFlex="100%"
              fxFlex.gt-md="25%"
              fxFlex.gt-lg="25%"
              fxFlex.gt-sm="50%"
            >
              <p class="grid-label">Semester Score*</p>
              <mat-form-field appearance="outline">
                <mat-label>Select Type</mat-label>
                <mat-select (selectionChange)="onSemScoreChange($event)">
                  <mat-option
                    *ngFor="let SemScore of Scores"
                    [value]="SemScore.value"
                  >
                    {{ SemScore.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div
              fxFlex="100%"
              fxFlex.gt-md="25%"
              fxFlex.gt-lg="25%"
              fxFlex.gt-sm="50%"
            >
              <p class="grid-label">Enter Score</p>
              <mat-form-field appearance="outline">
                <mat-label>Enter Score</mat-label>
                <input matInput />
              </mat-form-field>
            </div>

            <div
              fxFlex="100%"
              fxFlex.gt-md="25%"
              fxFlex.gt-lg="25%"
              fxFlex.gt-sm="50%"
            >
              <p class="grid-label">Upload file</p>
              <input type="file" />
            </div>
            <div class="example-label">
              <div fxFlex="100%">
                <button mat-button color="warn" (click)="removeSemester(i)">
                  Remove
                </button>
              </div>
            </div>
          </div>
          <section>
            <div class="example-button-row">
              <button mat-button (click)="addDulpicateSemester()">
                Add semester
              </button>
            </div>
          </section>
        </div>
      </mat-tab>

      <!-- Skills Tab -->
      <mat-tab label="Skills">
        <div>
          <div>
            <section>
              <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile>
                  <mat-form-field class="example-form-field">
                    <h4>Technical Skill</h4>
                    <mat-chip-grid
                      #templateChipGrid
                      aria-label="Enter Skill"
                      [(ngModel)]="techSkill"
                    >
                      @for (keyword of techSkill(); track keyword) {
                      <mat-chip-row (removed)="removeTemplateKeyword(keyword)">
                        {{ keyword }}
                        <button
                          class="crosslang"
                          matChipRemove
                          aria-label="'remove template form' + keyword"
                        >
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip-row>
                      }
                    </mat-chip-grid>
                    <input
                      placeholder="New Skill..."
                      [matChipInputFor]="templateChipGrid"
                      (matChipInputTokenEnd)="addTemplateKeyword($event)"
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                  <mat-form-field class="example-form-field">
                    <h4>Soft Skill</h4>
                    <mat-chip-grid
                      #templateGrid
                      aria-label="Enter Skill"
                      [(ngModel)]="SoftSkill"
                    >
                      @for (keyword of SoftSkill(); track keyword) {
                      <mat-chip-row (removed)="removeSoftSkill(keyword)">
                        {{ keyword }}
                        <button
                          class="crosslang"
                          matChipRemove
                          aria-label="'remove template form' + keyword"
                        >
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip-row>
                      }
                    </mat-chip-grid>
                    <input
                      placeholder="New Skill..."
                      [matChipInputFor]="templateGrid"
                      (matChipInputTokenEnd)="addSoftSkill($event)"
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                  <mat-form-field class="example-form-field">
                    <h4>ExtraCurricular Activities</h4>

                    <mat-chip-grid
                      #templateBoxGrid
                      aria-label="Enter Skill"
                      [(ngModel)]="ExtracurricularActivities"
                    >
                      @for (keyword of ExtracurricularActivities(); track
                      keyword) {
                      <mat-chip-row
                        (removed)="removeExtracurricularActivities(keyword)"
                      >
                        {{ keyword }}
                        <button
                          class="crosslang"
                          matChipRemove
                          aria-label="'remove template form' + keyword"
                        >
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip-row>
                      }
                    </mat-chip-grid>
                    <input
                      placeholder="New Skill..."
                      [matChipInputFor]="templateBoxGrid"
                      (matChipInputTokenEnd)="
                        addExtracurricularActivities($event)
                      "
                    />
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                  <mat-form-field class="example-form-field">
                    <h4>Languages</h4>
                    <mat-chip-grid
                      #LanguageGrid
                      aria-label="Enter Language"
                      [(ngModel)]="Language"
                    >
                      @for (keyword of Language(); track keyword) {
                      <mat-chip-row (removed)="removeLanguage(keyword)">
                        {{ keyword }}
                        <button
                          class="crosslang"
                          matChipRemove
                          aria-label="'remove template form' + keyword"
                        >
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip-row>
                      }
                    </mat-chip-grid>
                    <input
                      placeholder="New Skill..."
                      [matChipInputFor]="LanguageGrid"
                      (matChipInputTokenEnd)="addLanguage($event)"
                    />
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>
            </section>
          </div>
          <section>
            <mat-grid-list cols="2" rowHeight="2:1">
              <mat-grid-tile>
                <h3>
                  <b><p class="grid-label">Linkedin Profile Link</p></b>
                </h3>
                <mat-form-field appearance="outline">
                  <mat-label>Linkedin Profile Link</mat-label>
                  <input matInput />
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <h3><p class="grid-label">Achievement</p></h3>
                <mat-form-field>
                  <mat-label>Achievement</mat-label>
                  <textarea matInput></textarea>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <h3><p class="grid-label">Project</p></h3>
                <mat-form-field>
                  <mat-label>Project</mat-label>
                  <textarea matInput></textarea>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <h3><p class="grid-label">Internship</p></h3>
                <mat-form-field>
                  <mat-label>Internship</mat-label>
                  <textarea matInput></textarea>
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>
          </section>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
