<mat-card>
  <div class="example-button-container">
    <mat-icon (click)="goBack()">keyboard_backspace</mat-icon>
  </div>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Profile">
        <form [formGroup]="studentProfileForm">
          <!-- Profile content starts here -->
          <div class="profile-container">
            <h2>Personal Information</h2>
            <div fxLayout="row wrap" class="row-wrap">
              <div
                fxFlex="100%"
                fxFlex.gt-md="33%"
                fxFlex.gt-lg="25%"
                fxFlex.gt-sm="50%"
              >
                <p class="grid-label">First Name</p>
                <mat-form-field appearance="outline" class="full-width">
                  <!-- <mat-label>First Name</mat-label> -->
                  <input matInput formControlName="FirstName" />
                </mat-form-field>
              </div>
              <!-- <div
                  fxFlex="100%"
                  fxFlex.gt-md="33%"
                  fxFlex.gt-lg="25%"
                  fxFlex.gt-sm="50%"
                >
                  <p class="grid-label">Middle Name</p>
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Middle Name</mat-label>
                    <input matInput formControlName="LastName" />
                  </mat-form-field>
                </div> -->
              <div
                fxFlex="100%"
                fxFlex.gt-md="33%"
                fxFlex.gt-lg="25%"
                fxFlex.gt-sm="50%"
              >
                <p class="grid-label">Last Name</p>
                <mat-form-field appearance="outline" class="full-width">
                  <!-- <mat-label>Last Name</mat-label> -->
                  <input matInput formControlName="LastName" />
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row wrap" class="row-wrap">
              <div
                fxFlex="100%"
                fxFlex.gt-md="33%"
                fxFlex.gt-lg="25%"
                fxFlex.gt-sm="50%"
              >
                <p class="grid-label">Date Of Birth</p>
                <mat-form-field appearance="outline" class="full-width">
                  <!-- <mat-label>DOB</mat-label> -->
                  <input
                    matInput
                    [matDatepicker]="picker"
                    formControlName="DateOfBirth"
                  />
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div
                fxFlex="100%"
                fxFlex.gt-md="33%"
                fxFlex.gt-lg="25%"
                fxFlex.gt-sm="50%"
              >
                <p class="grid-label">Blood Group</p>
                <mat-form-field appearance="outline" class="full-width">
                  <!-- <mat-label>Blood Group</mat-label> -->
                  <mat-select
                    (selectionChange)="onBloodChange($event)"
                    formControlName="BloodGroup"
                  >
                    <mat-option
                      *ngFor="let blood of BloodGroup"
                      [value]="blood"
                    >
                      {{ blood }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div
                fxFlex="100%"
                fxFlex.gt-md="33%"
                fxFlex.gt-lg="25%"
                fxFlex.gt-sm="50%"
              >
                <p class="grid-label">Mobile No</p>
                <mat-form-field appearance="outline" class="full-width">
                  <!-- <mat-label>Mobile No</mat-label> -->
                  <input matInput formControlName="PhoneNumber" />
                </mat-form-field>
              </div>
              <div
                fxFlex="100%"
                fxFlex.gt-md="25%"
                fxFlex.gt-lg="25%"
                fxFlex.gt-sm="50%"
              >
                <P class="grid-label"> Upload Photo</P>
                <input
                  type="file"
                  accept="image/png, image/jpeg, image/jpg, "
                  formControlName="profilePhoto"
                  (change)="onProfilePhotoSelected($event)"
                />
              </div>
            </div>

            <mat-divider></mat-divider>
            <h2>Contact Information</h2>
            <div fxLayout="row wrap" class="row-wrap">
              <div
                fxFlex="100%"
                fxFlex.gt-md="33%"
                fxFlex.gt-lg="25%"
                fxFlex.gt-sm="50%"
              >
                <p class="grid-label">Email</p>
                <mat-form-field appearance="outline" class="full-width">
                  <!-- <mat-label>Email</mat-label> -->
                  <input matInput [disabled]="true" formControlName="Email" />
                </mat-form-field>
              </div>
              <div
                fxFlex="100%"
                fxFlex.gt-md="33%"
                fxFlex.gt-lg="25%"
                fxFlex.gt-sm="50%"
              >
                <p class="grid-label">Batch</p>
                <mat-form-field appearance="outline" class="full-width">
                  <!-- <mat-label>Batch</mat-label> -->
                  <mat-select formControlName="BatchId" [disabled]="true">
                    <mat-option
                      *ngFor="let batch of Batches()"
                      [value]="batch.Id"
                    >
                      {{ batch.Name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div
                fxFlex="100%"
                fxFlex.gt-md="33%"
                fxFlex.gt-lg="25%"
                fxFlex.gt-sm="50%"
              >
                <p class="grid-label">Stream</p>
                <mat-form-field appearance="outline" class="full-width">
                  <!-- <mat-label>Stream</mat-label> -->
                  <mat-select formControlName="StreamId" [disabled]="true">
                    <mat-option
                      *ngFor="let stream of Streams()"
                      [value]="stream.Id"
                    >
                      {{ stream.Name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div
                fxFlex="100%"
                fxFlex.gt-md="33%"
                fxFlex.gt-lg="25%"
                fxFlex.gt-sm="50%"
              >
                <p class="grid-label">Course</p>
                <mat-form-field appearance="outline" class="full-width">
                  <!-- <mat-label>Course</mat-label> -->
                  <mat-select formControlName="CourseId" [disabled]="true">
                    <mat-option
                      *ngFor="let course of Courses()"
                      [value]="course.Id"
                    >
                      {{ course.Name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <mat-divider></mat-divider>
              <div
                fxFlex="100%"
                fxFlex.gt-md="33%"
                fxFlex.gt-lg="25%"
                fxFlex.gt-sm="50%"
              >
                <p class="grid-label">Enter USN No.</p>
                <mat-form-field appearance="outline">
                  <!-- <mat-label>USN no.</mat-label> -->
                  <input matInput formControlName="RollNo" [disabled]="true" />
                </mat-form-field>
              </div>
            </div>

            <mat-divider></mat-divider>
            <h2>Identification Details</h2>
            <div fxLayout="row wrap" class="row-wrap">
              <div
                fxFlex="100%"
                fxFlex.gt-md="33%"
                fxFlex.gt-lg="25%"
                fxFlex.gt-sm="50%"
              >
                <p class="grid-label">Enter Aadhar Number</p>
                <mat-form-field appearance="outline" class="full-width">
                  <!-- <mat-label>Aadhar Number</mat-label> -->
                  <input matInput formControlName="AadharCardNumber" />
                </mat-form-field>
              </div>
              <!-- <div
                fxFlex="100%"
                fxFlex.gt-md="33%"
                fxFlex.gt-lg="25%"
                fxFlex.gt-sm="50%">
                <p class="grid-label">Enter PAN Number</p>
                <mat-form-field appearance="outline">
                  <mat-label>PAN Number</mat-label>
                  <input matInput formControlName="" />
                </mat-form-field>
              </div> -->
              <div
                fxFlex="100%"
                fxFlex.gt-md="33%"
                fxFlex.gt-lg="25%"
                fxFlex.gt-sm="50%"
              >
                <p class="grid-label">Enter Address</p>
                <mat-form-field appearance="outline" class="full-width">
                  <!-- <mat-label>Address</mat-label> -->
                  <input matInput formControlName="PermanentAddress" />
                </mat-form-field>
              </div>
            </div>

            <mat-divider></mat-divider>
            <h2>Parental Information</h2>
            <div fxLayout="row wrap" class="row-wrap">
              <div
                fxFlex="100%"
                fxFlex.gt-md="33%"
                fxFlex.gt-lg="25%"
                fxFlex.gt-sm="50%"
              >
                <p class="grid-label">Enter Father Name</p>
                <mat-form-field appearance="outline" class="full-width">
                  <!-- <mat-label>Father Name</mat-label> -->
                  <input matInput formControlName="FatherName" />
                </mat-form-field>
              </div>
              <div
                fxFlex="100%"
                fxFlex.gt-md="33%"
                fxFlex.gt-lg="25%"
                fxFlex.gt-sm="50%"
              >
                <p class="grid-label">Enter Father Mobile No</p>
                <mat-form-field appearance="outline" class="full-width">
                  <!-- <mat-label>Father Mobile No</mat-label> -->
                  <input matInput formControlName="FatherPhoneNumber" />
                </mat-form-field>
              </div>

              <!-- <div
                  fxFlex="100%"
                  fxFlex.gt-md="33%"
                  fxFlex.gt-lg="25%"
                  fxFlex.gt-sm="50%">
                  <p class="grid-label">Enter Father Occupation</p>
                  <mat-form-field appearance="outline">
                    <mat-label>Father Occupation</mat-label>
                    <input matInput />
                  </mat-form-field>
                </div> -->
            </div>

            <div fxLayout="row wrap" class="row-wrap">
              <div
                fxFlex="100%"
                fxFlex.gt-md="33%"
                fxFlex.gt-lg="25%"
                fxFlex.gt-sm="50%"
              >
                <p class="grid-label">Enter Mother Name</p>
                <mat-form-field appearance="outline" class="full-width">
                  <!-- <mat-label>Mother Name</mat-label> -->
                  <input matInput formControlName="MotherName" />
                </mat-form-field>
              </div>
              <div
                fxFlex="100%"
                fxFlex.gt-md="33%"
                fxFlex.gt-lg="25%"
                fxFlex.gt-sm="50%"
              >
                <p class="grid-label">Enter Mother Mobile No</p>
                <mat-form-field appearance="outline" class="full-width">
                  <!-- <mat-label>Mother Mobile No</mat-label> -->
                  <input matInput formControlName="MotherPhoneNumber" />
                </mat-form-field>
              </div>
              <!-- <div
                fxFlex="100%"
                fxFlex.gt-md="33%"
                fxFlex.gt-lg="25%"
                fxFlex.gt-sm="50%">
                <p class="grid-label">Enter Mother Occupation</p>
                <mat-form-field appearance="outline">
                  <mat-label>Mother Occupation</mat-label>
                  <input matInput />
                </mat-form-field>
              </div> -->
            </div>
          </div>
          <div style="position: fixed; bottom: 2%; right: 5%">
            <button mat-raised-button color="primary" (click)="onSave(1)">
              Save
            </button>
          </div>
        </form>
      </mat-tab>

      <mat-tab label="Education">
        <form [formGroup]="studentEducationForm">
          <div class="Education-container">
            <!-- School Details Section -->
            <div>
              <h2>School Details</h2>
              <div fxLayout="row wrap" class="row-wrap">
                <div
                  fxFlex="100%"
                  fxFlex.gt-md="25%"
                  fxFlex.gt-lg="25%"
                  fxFlex.gt-sm="50%"
                >
                  <p class="grid-label">School Name</p>
                  <mat-form-field appearance="outline" class="Education-Fields">
                    <!-- <mat-label>School Name</mat-label> -->
                    <input matInput formControlName="TenthSchoolName" />
                  </mat-form-field>
                </div>

                <div
                  fxFlex="100%"
                  fxFlex.gt-md="25%"
                  fxFlex.gt-lg="25%"
                  fxFlex.gt-sm="50%"
                >
                  <p class="grid-label">10th Board</p>
                  <mat-form-field appearance="outline" class="Education-Fields">
                    <!-- <mat-label>Select Board</mat-label> -->
                    <mat-select formControlName="TenthBoard">
                      <mat-option
                        *ngFor="let board of TwelfthBoardNames"
                        [value]="board"
                      >
                        {{ board }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <!-- <div
                  fxFlex="100%"
                  fxFlex.gt-md="25%"
                  fxFlex.gt-lg="25%"
                  fxFlex.gt-sm="50%">
                  <p class="grid-label">10th Score*</p>
                  <mat-form-field appearance="outline" class="Education-Fields">
                    <mat-label>Select Score</mat-label>
                    <mat-select
                      formControlName="TenthBoardScoreType"
                      (selectionChange)="onScoreChange($event)"
                    >
                      <mat-option
                        *ngFor="let scoreType of TenthScoreType"
                        [value]="scoreType">
                        {{ scoreType }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->

                <div
                  fxFlex="100%"
                  fxFlex.gt-md="25%"
                  fxFlex.gt-lg="25%"
                  fxFlex.gt-sm="50%"
                >
                  <p class="grid-label">Score</p>
                  <mat-form-field appearance="outline" class="Education-Fields">
                    <!-- <mat-label>Enter Score</mat-label> -->
                    <input matInput formControlName="TenthMarks" />
                  </mat-form-field>
                </div>

                <!-- <div
                  fxFlex="100%"
                  fxFlex.gt-md="25%"
                  fxFlex.gt-lg="25%"
                  fxFlex.gt-sm="50%">
                  <p class="grid-label">Year of Pass-out</p>
                  <mat-form-field appearance="outline" class="Education-Fields">
                    <mat-label>Select Year</mat-label>
                    <mat-select formControlName="TenthPassedOutYear">
                      <mat-option
                        *ngFor="let batch of Batches()"
                        [value]="batch.Id">
                        {{ batch.Name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->

                <div
                  fxFlex="100%"
                  fxFlex.gt-md="25%"
                  fxFlex.gt-lg="25%"
                  fxFlex.gt-sm="50%"
                >
                  <p class="grid-label">Year of Pass-out</p>
                  <mat-form-field appearance="outline" class="Education-Fields">
                    <!-- <mat-label>Select Year</mat-label> -->
                    <input matInput formControlName="TenthPassedOutYear" />
                  </mat-form-field>
                </div>

                <div
                  fxFlex="100%"
                  fxFlex.gt-md="25%"
                  fxFlex.gt-lg="25%"
                  fxFlex.gt-sm="50%"
                >
                  <p class="grid-label">Upload File</p>
                  <input type="file" formControlName="TenthFile" />
                </div>
              </div>
            </div>

            <mat-divider class="collegeDetails"></mat-divider>

            <!-- College Details Section -->
            <h2>College Details</h2>
            <div fxLayout="row wrap" class="row-wrap">
              <div
                fxFlex="100%"
                fxFlex.gt-md="25%"
                fxFlex.gt-lg="25%"
                fxFlex.gt-sm="50%"
              >
                <p class="grid-label">College Name</p>
                <mat-form-field appearance="outline" class="Education-Fields">
                  <!-- <mat-label>College Name</mat-label> -->
                  <input matInput formControlName="TwelfthSchoolName" />
                </mat-form-field>
              </div>

              <div
                fxFlex="100%"
                fxFlex.gt-md="25%"
                fxFlex.gt-lg="25%"
                fxFlex.gt-sm="50%"
              >
                <p class="grid-label">2nd PUC/ 12th Board</p>
                <mat-form-field appearance="outline" class="Education-Fields">
                  <!-- <mat-label>Select Board</mat-label> -->
                  <mat-select formControlName="TwelfthBoard">
                    <mat-option
                      *ngFor="let board of TwelfthBoardNames"
                      [value]="board"
                    >
                      {{ board }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <!-- <div
                fxFlex="100%"
                fxFlex.gt-md="25%"
                fxFlex.gt-lg="25%"
                fxFlex.gt-sm="50%">
                <p class="grid-label">Score*</p>
                <mat-form-field appearance="outline" class="Education-Fields">
                  <mat-label>Select Score Type</mat-label>
                  <mat-select
                    formControlName="TwelfthBoardScoreType"
                    (selectionChange)="onPuScoreChange($event)"
                  >
                    <mat-option
                      *ngFor="let PuScoreType of TwelfthScoreType"
                      [value]="PuScoreType">
                      {{ PuScoreType }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div> -->

              <div
                fxFlex="100%"
                fxFlex.gt-md="25%"
                fxFlex.gt-lg="25%"
                fxFlex.gt-sm="50%"
              >
                <p class="grid-label">Enter Score</p>
                <mat-form-field appearance="outline" class="Education-Fields">
                  <!-- <mat-label>Enter Score</mat-label> -->
                  <input matInput formControlName="TwelfthMarks" />
                </mat-form-field>
              </div>

              <!-- <div
                fxFlex="100%"
                fxFlex.gt-md="25%"
                fxFlex.gt-lg="25%"
                fxFlex.gt-sm="50%">
                <p class="grid-label">Year of Pass-out</p>
                <mat-form-field appearance="outline" class="year-fields">
                  <mat-label>Select Year</mat-label>
                  <mat-select formControlName="TwelfthPassedOutYear">
                    <mat-option
                      *ngFor="let batch of Batches()"
                      [value]="batch.Id">
                      {{ batch.Name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div> -->

              <div
                fxFlex="100%"
                fxFlex.gt-md="25%"
                fxFlex.gt-lg="25%"
                fxFlex.gt-sm="50%"
              >
                <p class="grid-label">Year of Pass-out</p>
                <mat-form-field appearance="outline" class="Education-Fields">
                  <!-- <mat-label>Select Year</mat-label> -->
                  <input matInput formControlName="TwelfthPassedOutYear" />
                </mat-form-field>
              </div>

              <div
                fxFlex="100%"
                fxFlex.gt-md="25%"
                fxFlex.gt-lg="25%"
                fxFlex.gt-sm="50%"
              >
                <p class="grid-label">Upload File</p>
                <input type="file" formControlName="TwelfthFile" />
              </div>
            </div>

            <mat-divider></mat-divider>

            <!-- Degree Details Section -->
            <h2>Degree Details</h2>
            <div
              fxLayout="row wrap"
              class="row-wrap"
              *ngFor="
                let semester of [
                  'semester1',
                  'semester2',
                  'semester3',
                  'semester4',
                  'semester5',
                  'semester6',
                  'semester7',
                  'semester8'
                ];
                let i = index
              "
            >
              <div class="Semester-Fields">
                <div
                  fxFlex="10%"
                  fxFlex.gt-md="25%"
                  fxFlex.gt-lg="25%"
                  fxFlex.gt-sm="50%"
                >
                  <p class="grid-label">Year {{ getYear(i + 1) }}</p>
                </div>
                <div
                  fxFlex="1o%"
                  fxFlex.gt-md="25%"
                  fxFlex.gt-lg="25%"
                  fxFlex.gt-sm="50%"
                >
                  <p class="grid-label">Semester {{ i + 1 }}</p>
                </div>
                <!-- <div
                    fxFlex="100%"
                    fxFlex.gt-md="25%"
                    fxFlex.gt-lg="25%"
                    fxFlex.gt-sm="50%"
                    fxLayout="row wrap"
                  >
                    <p class="grid-label">Select Semester {{ i + 1 }}</p>
                    <mat-form-field appearance="outline" class="Education-Fields">
                      <mat-label>Select Semester</mat-label>
                      <mat-select
                        formControlName="Semester"
                        (selectionChange)="onSemesterChange($event)"
                      >
                        <mat-option *ngFor="let sem of Semester" [value]="sem">
                          {{ sem }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div> -->

                <!-- <div
                    fxFlex="100%"
                    fxFlex.gt-md="25%"
                    fxFlex.gt-lg="25%"
                    fxFlex.gt-sm="50%"
                  >
                    <p class="grid-label">Semester Score*</p>
                    <mat-form-field appearance="outline" class="Education-Fields">
                      <mat-label>Select Type</mat-label>
                      <mat-select
                        formControlName="SemesterScoreType  "
                        (selectionChange)="onSemScoreChange($event)"
                      >
                        <mat-option
                          *ngFor="let SemScoreType of SemesterScoreType"
                          [value]="SemScoreType"
                        >
                          {{ SemScoreType }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div> -->

                <div
                  fxFlex="100%"
                  fxFlex.gt-md="25%"
                  fxFlex.gt-lg="25%"
                  fxFlex.gt-sm="50%"
                  [formGroupName]="semester"
                >
                  <p class="grid-label">SGPA</p>
                  <mat-form-field appearance="outline" class="Education-Fields">
                    <!-- <mat-label>Enter SGPA</mat-label> -->
                    <input matInput formControlName="sgpa" />
                  </mat-form-field>
                </div>

                <div
                  fxFlex="100%"
                  fxFlex.gt-md="25%"
                  fxFlex.gt-lg="25%"
                  fxFlex.gt-sm="50%"
                  [formGroupName]="semester"
                >
                  <p class="grid-label">Closed Backlogs</p>
                  <mat-form-field appearance="outline" class="Education-Fields">
                    <!-- <mat-label>Enter Closed Backlogs</mat-label> -->
                    <input matInput formControlName="closedBacklogs" />
                  </mat-form-field>
                </div>

                <div
                  fxFlex="100%"
                  fxFlex.gt-md="25%"
                  fxFlex.gt-lg="25%"
                  fxFlex.gt-sm="50%"
                  [formGroupName]="semester"
                >
                  <p class="grid-label">Live Backlogs</p>
                  <mat-form-field appearance="outline" class="Education-Fields">
                    <!-- <mat-label>Enter Live Backlogs</mat-label> -->
                    <input matInput formControlName="liveBacklogs" />
                  </mat-form-field>
                </div>

                <div
                  fxFlex="100%"
                  fxFlex.gt-md="25%"
                  fxFlex.gt-lg="25%"
                  fxFlex.gt-sm="50%"
                  [formGroupName]="semester"
                >
                  <p class="grid-label">Upload File</p>
                  <!-- <button *ngIf="fields.length > 1" (click)="removeField(i)">
                      <mat-icon> remove</mat-icon>
                    </button> -->
                  <input type="file" formControlName="file" />
                </div>
              </div>
            </div>
          </div>
          <div style="position: fixed; bottom: 2%; right: 5%">
            <button mat-raised-button color="primary" (click)="onSave(2)">
              Save
            </button>
            <!-- <div class="AddButton">
                <button (click)="addField()"><mat-icon> add</mat-icon></button>
              </div> -->
          </div>
        </form>
      </mat-tab>

      <!-- Skills Tab -->

      <mat-tab label="Skills">
        <form [formGroup]="studentSkillsForm">
          <div>
            <h3>Skill Type and Skill Name</h3>
            <div
              *ngFor="let field of fields; let i = index"
              class="skillsField"
              [formGroupName]="i"
            >
              <div>
                <mat-form-field
                  class="skillType-form-field"
                  appearance="outline"
                >
                  <mat-label>Select Skill Type</mat-label>
                  <mat-select
                    (selectionChange)="onSkillTypeChange($event, i)"
                    formControlName="skillType"
                  >
                    <mat-option
                      *ngFor="let skillType of filteredSkillTypes()"
                      [value]="skillType.Id"
                    >
                      {{ skillType.Name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div>
                <!-- <h4>Skill Name</h4> -->
                <mat-form-field
                  class="skillName-form-field"
                  appearance="outline"
                >
                  <mat-label>Select Skills</mat-label>
                  <mat-select formControlName="skills" multiple>
                    <mat-option
                      *ngFor="let skill of SkillsNames()"
                      [value]="skill.Id"
                    >
                      {{ skill.Name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div *ngIf="fields.length > 1">
                <button (click)="removeField(i)">
                  <mat-icon>remove</mat-icon>
                </button>
              </div>

              <div class="AddSkillButton">
                <button *ngIf="i === fields.length - 1" (click)="addField()">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>

            <!-- Modified LinkedIn, Achievement, Project, and Internship fields in two-column layout -->
            <div class="highlighted-fields">
              <div class="row">
                <div class="column">
                  <h3>
                    <b
                      ><p class="grid-label">
                        <mat-icon class="icon">link</mat-icon>LinkedIn Profile
                        Link
                      </p></b
                    >
                  </h3>
                  <mat-form-field
                    class="skills-form-field highlighted-form-field"
                    appearance="outline"
                  >
                    <!-- <mat-label>LinkedIn Profile Link</mat-label> -->
                    <textarea
                      matInput
                      formControlName="LinkedInLink"
                    ></textarea>
                  </mat-form-field>
                </div>

                <div class="column">
                  <h3>
                    <b
                      ><p class="grid-label">
                        <mat-icon class="icon">emoji_events</mat-icon
                        >Achievement
                      </p></b
                    >
                  </h3>
                  <mat-form-field
                    class="skills-form-field highlighted-form-field"
                    appearance="outline"
                  >
                    <!-- <mat-label>Achievement</mat-label> -->
                    <textarea matInput formControlName="Achievement"></textarea>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="column">
                  <h3>
                    <b
                      ><p class="grid-label">
                        <mat-icon class="icon">folder</mat-icon>Project
                      </p></b
                    >
                  </h3>
                  <mat-form-field
                    class="skills-form-field highlighted-form-field"
                    appearance="outline"
                  >
                    <!-- <mat-label>Project</mat-label> -->
                    <textarea matInput formControlName="Project"></textarea>
                  </mat-form-field>
                </div>

                <div class="column">
                  <h3>
                    <b
                      ><p class="grid-label">
                        <mat-icon class="icon">work</mat-icon>Internship
                      </p></b
                    >
                  </h3>
                  <mat-form-field
                    class="skills-form-field highlighted-form-field"
                    appearance="outline"
                  >
                    <!-- <mat-label>Internship</mat-label> -->
                    <textarea matInput formControlName="Internship"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>

          <div style="text-align: right; margin-right: 20px">
            <button mat-raised-button color="primary" (click)="onSave(3)">
              Submit
            </button>
          </div>
        </form>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
