.row-wrap {
  display: flex;
  justify-content: space-between;
}

.matFormField {
  width: 100%;
}
.example-form-field {
  width: 80%;
}

.example-button-container {
  display: flex;
  /* justify-content: center; */
  cursor: pointer;
}

.grid-label {
  display: flex;
  align-items: center;
  margin-right: 10px;
}