.row-wrap {
  display: flex;
  justify-content: space-between;
}

.matFormField {
  width: 100%;
}
.example-form-field {
  width: 80%;
}

.search-form-field {
  margin-left: 10px;
  width: 95%;
}

.example-button-container {
  display: flex;
  /* justify-content: center; */
  cursor: pointer;
}

.grid-label {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.skills-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chip-section {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.chip-form-field {
  width: 100%;
}

.additional-info {
  margin-top: 20px;
}

.full-width {
  width: 100%;
}

.grid-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.skills-form-field {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}
