button {
  margin: 0 8px 8px 0;
}
.mat-mdc-card-header {
  display: unset;
}
.example-flex-container {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.example-button-container {
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.button-label-container {
  display: flex;
}

.header-mat-label {
  margin-left: 1rem;
  font-weight: bolder;
  font-size: x-large;
  color: darkblue;
}

table {
  width: 100%;
}

.matbutton {
  background-color: #3f51b5;
  color: white;
}

.maticon {
  color: white;
}
.matName {
  color: white;
}
.mdc-checkbox__native-control {
  border-color: var(--mdc-checkbox-selected-icon-color);
  background-color: black;
}
.td-mat-button {
  display: flex;
}
cdk-overlay-pane {
  width: auto;
}
.mat-dialog-actions {
  display: flex;
}
.custom-dropdown-panel {
  width: auto;
}

.mat-grid-tile {
  border-radius: 0.5rem;
  background-color: #c3d2f899;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin: 1em;
  border: solid 0.1px #bfbfd4;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.mat-grid-tile:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), -2px -2px 2px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease, color 0.3s ease;
    background-color: #c3d2f899;
  color: black;
}

.company-details {
  text-align: left;
  margin: 0.5rem;
}

.job-details {
  text-align: right;
  margin: 0.5rem;
}
button {
  margin: 0 8px 8px 0;
}

table {
  width: 100%;
}

.search-full-width {
  margin-right: 1rem;
}
.matButtonText {
  color: white;
}

.company-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
}
.heading1 {
  margin: 0;
  padding: 5px;
}

.job-details-container {
  display: flex;
  padding: 5px;
}

.job-detail {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 5px;
}

.filter_items {
  width: 18%;
}

.search_jobs {
  margin: 0 0 0 -30px;
}

.company-designation {
  display: flex;
  justify-content: space-between;
}

.company-designation div {
  width: 50%;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.company-designation div h3 {
  margin: 0 0 0 0 !important;
}
